# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*

# Dependencies & build
node_modules
dist
*.tsbuildinfo

# Raycast
raycast-env.d.ts

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.swp

# Env
.env
.env.local
