# Dependencies
node_modules/

# macOS
.DS_Store

# Logs
*.log
npm-debug.log*

# Raycast
.raycast/

# Build output
dist/
build/

# Environment files
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Info/video files
info/
