{
	"trailingComma": "all",
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"jsxSingleQuote": true,
	"arrowParens": "always",

	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderCaseInsensitive": true,
	"importOrderParserPlugins": [
		"classProperties",
		"decorators-legacy",
		"typescript"
	],
	"importOrder": ["<THIRD_PARTY_MODULES>", "^@/(.*)$", "^../(.*)", "^./(.*)"],
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
