{
  "printWidth": 120,
  "singleQuote": false,
  "bracketSpacing": true,
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@raycast/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
