# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# Raycast specific files
raycast-env.d.ts
.raycast-swift-build
.swiftpm
compiled_raycast_swift
compiled_raycast_rust

# build output
/dist
/.test-build

# caches
.eslintcache

# logs
*.log
npm-debug.log*
yarn-error.log*

# local environment
.env
.env.*
!.env.example

# macOS
.DS_Store
.AppleDouble
.LSOverride

# editors
.idea/
*.swp
