# macOS
.DS_Store

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# TypeScript
*.tsbuildinfo

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build artifacts
dist/
build/
