# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# build
dist/

# Raycast
.raycast/
raycast-env.d.ts

# macOS
.DS_Store
../.DS_Store
