{
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["*/.tsx", "*/.ts"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
