{
  "printWidth": 120,
  "singleQuote": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@raycast/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
