; Editor config
root = true

[*]
indent_style = tab
indent_size = 4
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[{package,tsconfig}.json]
indent_style = space
indent_size = 2
