# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# Raycast specific files
raycast-env.d.ts
.raycast-swift-build
.swiftpm
compiled_raycast_swift

# misc
.npm-cache/
.DS_Store
RAYCAST_EXTENSION_PLATFORM_BLUEPRINT.md
COMPONENT_STORIES.md
DEVELOPER.md
REFACTORING_SUMMARY.md
