# Dependencies
node_modules

# Build output
dist

# Environment
.env
.env.local

# macOS
.DS_Store

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Raycast
.raycast
