# EditorConfig is awesome: https://editorconfig.org/

# top-most EditorConfig file
root = true

# Default for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# TypeScript and JavaScript files
[*.{ts,tsx,js,jsx}]
max_line_length = 120
quote_type = double

# JSON files
[*.json]
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false
