
# Raycast
.raycast

# Raycast Swift/Rust build artifacts
.raycast-swift-build
.swiftpm
compiled_raycast_swift
compiled_raycast_rust

# Dependencies
node_modules/

# Production
dist/
raycast-env.d.ts

# Misc
.DS_Store
.env
.idea/
.vscode/
npm-debug.log
yarn-error.log
