# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.vscode/
# dependencies
/node_modules

# Raycast specific files
raycast-env.d.ts
.raycast-swift-build
.swiftpm
compiled_raycast_swift
.env

# misc
.DS_Store

dist
