openapi: 3.0.0
info:
  contact:
    name: Canva Developer Community
    url: https://community.canva.dev/
  description: API for building integrations with Canva via a REST api
  license:
    name: ©2023 All Rights Reserved
  termsOfService: https://www.canva.com/trust/legal/
  title: Canva Connect API
  version: latest
servers:
  - description: Canva Connect API
    url: https://api.canva.com/rest
tags:
  - name: app
  - name: asset
  - name: autofill
  - name: brand_template
  - name: comment
  - name: connect
  - name: design
  - name: design_import
  - name: export
  - name: folder
  - name: oauth
  - name: user
paths:
  /v1/apps/{appId}/jwks:
    get:
      description: |-
        Returns the Json Web Key Set (public keys) of an app. These keys are used to
        verify JWTs sent to app backends.
      operationId: getAppJwks
      parameters:
        - description: The app id
          explode: false
          in: path
          name: appId
          required: true
          schema:
            pattern: "^[a-zA-Z0-9_-]{1,50}$"
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAppJwksResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      tags:
        - app
  /v1/assets/{assetId}:
    delete:
      description: |-
        You can delete an asset by specifying its `assetId`. This operation mirrors the behavior
        in the Canva UI. Deleting an item moves it to the trash.
        Deleting an asset doesn't remove it from designs that already use it.
      operationId: deleteAsset
      parameters:
        - description: The ID of the asset.
          explode: false
          in: path
          name: assetId
          required: true
          schema:
            pattern: "^[a-zA-Z0-9_-]{1,50}$"
            type: string
          style: simple
      responses:
        "204":
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - asset:write
      tags:
        - asset
      x-rate-limit-per-client-user: 30
    get:
      description: You can retrieve the metadata of an asset by specifying its `assetId`.
      operationId: getAsset
      parameters:
        - description: The ID of the asset.
          explode: false
          in: path
          name: assetId
          required: true
          schema:
            pattern: "^[a-zA-Z0-9_-]{1,50}$"
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAssetResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - asset:read
      tags:
        - asset
      x-rate-limit-per-client-user: 100
    patch:
      description: |-
        You can update the name and tags of an asset by specifying its `assetId`. Updating the tags
        replaces all existing tags of the asset.
      operationId: updateAsset
      parameters:
        - description: The ID of the asset.
          explode: false
          in: path
          name: assetId
          required: true
          schema:
            pattern: "^[a-zA-Z0-9_-]{1,50}$"
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAssetRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateAssetResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - asset:write
      tags:
        - asset
      x-rate-limit-per-client-user: 30
  /v1/asset-uploads:
    post:
      description: |-
        Starts a new [asynchronous job](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints) to upload an asset to the user's content library. Supported file types for assets are listed in the [Assets API overview](https://www.canva.dev/docs/connect/api-reference/assets/).

        The request format for this endpoint is an `application/octet-stream` body of bytes. Attach
        information about the upload using an `Asset-Upload-Metadata` header.


        <Note>

        For more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints). You can check the status and get the results of asset upload jobs created with this API using the [Get asset upload job API](https://www.canva.dev/docs/connect/api-reference/assets/get-asset-upload-job/).

        </Note>
      operationId: CreateAssetUploadJob
      parameters:
        - content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetUploadMetadata"
          in: header
          name: Asset-Upload-Metadata
          required: true
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
        description: Binary of the asset to upload.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                in_progress:
                  $ref: "#/components/examples/InProgressAssetUploadJobExample"
                success:
                  $ref: "#/components/examples/SuccessAssetUploadJobExample"
                failed:
                  $ref: "#/components/examples/FailedAssetUploadJobExample"
              schema:
                $ref: "#/components/schemas/CreateAssetUploadJobResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - asset:write
      tags:
        - asset
      x-rate-limit-per-client-user: 30
  /v1/asset-uploads/{jobId}:
    get:
      description: |-
        Get the result of an asset upload job that was created using the [Create asset upload job API](https://www.canva.dev/docs/connect/api-reference/assets/create-asset-upload-job/).

        You might need to make multiple requests to this endpoint until you get a `success` or `failed` status. For more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints).
      operationId: GetAssetUploadJob
      parameters:
        - description: The asset upload job ID.
          explode: false
          in: path
          name: jobId
          required: true
          schema:
            pattern: "^[a-zA-Z0-9_-]{1,50}$"
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                in_progress:
                  $ref: "#/components/examples/InProgressAssetUploadJobExample"
                success:
                  $ref: "#/components/examples/SuccessAssetUploadJobExample"
                failed:
                  $ref: "#/components/examples/FailedAssetUploadJobExample"
              schema:
                $ref: "#/components/schemas/GetAssetUploadJobResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - asset:read
      tags:
        - asset
      x-rate-limit-per-client-user: 180
  /v1/autofills:
    post:
      description: |-
        <Warning>

        Later this year, we'll be updating all brand template IDs. If your integration stores brand template IDs, you'll need to migrate to the new IDs. Once we implement this change, you'll have 6 months to update the IDs.

        </Warning>

        <Note>

        To use this API, your integration must act on behalf of a user that's a member of a [Canva Enterprise](https://www.canva.com/enterprise/) organization.

        </Note>

        Starts a new [asynchronous job](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints) to autofill a Canva design using a brand template and input data.

        To get a list of input data fields, use the [Get brand template dataset
        API](https://www.canva.dev/docs/connect/api-reference/brand-templates/get-brand-template-dataset/).

        Available data field types to autofill include:

        - Images
        - Text
        - Charts

          WARNING: Chart data fields are a [preview feature](https://www.canva.dev/docs/connect/#preview-apis). There might be unannounced breaking changes to this feature which won't produce a new API version.

        <Note>

        For more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints). You can check the status and get the results of autofill jobs created with this API using the [Get design autofill job API](https://www.canva.dev/docs/connect/api-reference/autofills/get-design-autofill-job/).

        </Note>
      operationId: createDesignAutofillJob
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDesignAutofillJobRequest"
      responses:
        "200":
          content:
            application/json:
              examples:
                in_progress:
                  $ref: "#/components/examples/InProgressAutofillJobExample"
                success:
                  $ref: "#/components/examples/SuccessAutofillJobExample"
                failed:
                  $ref: "#/components/examples/FailedAutofillJobExample"
              schema:
                $ref: "#/components/schemas/CreateDesignAutofillJobResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - design:content:write
      tags:
        - autofill
      x-rate-limit-per-client-user: 10
  /v1/autofills/{jobId}:
    get:
      description: |-
        <Note>

        To use this API, your integration must act on behalf of a user that's a member of a [Canva Enterprise](https://www.canva.com/enterprise/) organization.

        </Note>

        Get the result of a design autofill job that was created using the [Create design autofill job
        API](https://www.canva.dev/docs/connect/api-reference/autofills/create-design-autofill-job/).

        You might need to make multiple requests to this endpoint until you get a `success` or `failed` status. For more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints).
      operationId: getDesignAutofillJob
      parameters:
        - description: The design autofill job ID.
          explode: false
          in: path
          name: jobId
          required: true
          schema:
            pattern: "^[a-zA-Z0-9_-]{1,50}$"
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                in_progress:
                  $ref: "#/components/examples/InProgressAutofillJobExample"
                success:
                  $ref: "#/components/examples/SuccessAutofillJobExample"
                failed:
                  $ref: "#/components/examples/FailedAutofillJobExample"
              schema:
                $ref: "#/components/schemas/GetDesignAutofillJobResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - design:meta:read
      tags:
        - autofill
      x-rate-limit-per-client-user: 60
  /v1/brand-templates:
    get:
      description: |-
        <Warning>

        Later this year, we'll be updating all brand template IDs. If your integration stores brand template IDs, you'll need to migrate to the new IDs. Once we implement this change, you'll have 6 months to update the IDs.

        </Warning>

        <Note>

        To use this API, your integration must act on behalf of a user that's a member of a [Canva Enterprise](https://www.canva.com/enterprise/) organization.

        </Note>

        Get a list of the [brand templates](https://www.canva.com/help/publish-team-template/) the user has access to.
      operationId: listBrandTemplates
      parameters:
        - description:
            Lets you search the brand templates available to the user using
            a search term or terms.
          explode: true
          in: query
          name: query
          required: false
          schema:
            type: string
          style: form
        - description: |-
            If the success response contains a continuation token, the user has access to more
            brand templates you can list. You can use this token as a query parameter and retrieve
            more templates from the list, for example
            `/v1/brand-templates?continuation={continuation}`.
            To retrieve all the brand templates available to the user, you might need to make
            multiple requests.
          explode: true
          in: query
          name: continuation
          required: false
          schema:
            type: string
          style: form
        - description: |-
            Filter the list of brand templates based on the user's ownership of the brand templates.
            This can be one of the following:

            - `any`: (Default) Brand templates owned by and shared with the user.
            - `owned`: Brand templates owned by the user.
            - `shared`: Brand templates shared with the user.
          explode: true
          in: query
          name: ownership
          required: false
          schema:
            $ref: "#/components/schemas/OwnershipType"
          style: form
        - description: |-
            Sort the list of brand templates. This can be one of the following:

            - `relevance`: (Default) Sort results using a relevance algorithm.
            - `modified_descending`: Sort results by the date last modified in descending order.
            - `modified_ascending`: Sort results by the date last modified in ascending order.
            - `title_descending`: Sort results by title in descending order.
            - `title_ascending`: Sort results by title in ascending order.
          explode: true
          in: query
          name: sort_by
          required: false
          schema:
            $ref: "#/components/schemas/SortByType"
          style: form
        - description: |-
            Filter the list of brand templates based on the brand templates' dataset definitions.
            Brand templates with dataset definitions are mainly used with the [Autofill APIs](https://www.canva.dev/docs/connect/api-reference/autofills/).
            This can be one of the following:

            - `any`: (Default) Brand templates with and without dataset definitions.
            - `non_empty`: Brand templates with one or more data fields defined.
            - `empty`: Brand templates with no data fields defined.
          explode: true
          in: query
          name: dataset
          required: false
          schema:
            $ref: "#/components/schemas/DatasetFilter"
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBrandTemplatesResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - brandtemplate:meta:read
      tags:
        - brand_template
      x-rate-limit-per-client-user: 100
  /v1/brand-templates/{brandTemplateId}:
    get:
      description: |-
        <Warning>

        Later this year, we'll be updating all brand template IDs. If your integration stores brand template IDs, you'll need to migrate to the new IDs. Once we implement this change, you'll have 6 months to update the IDs.

        </Warning>

        <Note>

        To use this API, your integration must act on behalf of a user that's a member of a [Canva Enterprise](https://www.canva.com/enterprise/) organization.

        </Note>

        Retrieves the metadata for a brand template.
      operationId: getBrandTemplate
      parameters:
        - description: The brand template ID.
          explode: false
          in: path
          name: brandTemplateId
          required: true
          schema:
            pattern: "^[a-zA-Z0-9_-]{1,50}$"
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetBrandTemplateResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - brandtemplate:meta:read
      tags:
        - brand_template
      x-rate-limit-per-client-user: 100
  /v1/brand-templates/{brandTemplateId}/dataset:
    get:
      description: |-
        <Warning>

        Later this year, we'll be updating all brand template IDs. If your integration stores brand template IDs, you'll need to migrate to the new IDs. Once we implement this change, you'll have 6 months to update the IDs.

        </Warning>

        <Note>

        To use this API, your integration must act on behalf of a user that's a member of a [Canva Enterprise](https://www.canva.com/enterprise/) organization.

        </Note>

        Gets the dataset definition of a brand template. If the brand
        template contains autofill data fields, this API returns an object with the data field
        names and the type of data they accept.

        Available data field types include:

        - Images
        - Text
        - Charts

        You can autofill a brand template using the [Create a design autofill job
        API](https://www.canva.dev/docs/connect/api-reference/autofills/create-design-autofill-job/).

        WARNING: Chart data fields are a [preview feature](https://www.canva.dev/docs/connect/#preview-apis). There might be unannounced breaking changes to this feature which won't produce a new API version.
      operationId: getBrandTemplateDataset
      parameters:
        - description: The brand template ID.
          explode: false
          in: path
          name: brandTemplateId
          required: true
          schema:
            pattern: "^[a-zA-Z0-9_-]{1,50}$"
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetBrandTemplateDatasetResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - brandtemplate:content:read
      tags:
        - brand_template
      x-rate-limit-per-client-user: 100
  /v1/comments:
    post:
      description: |-
        <Warning>

        This API is currently provided as a preview. Be aware of the following:

        - There might be unannounced breaking changes.
        - Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/connect/versions/).
        - Public integrations that use preview APIs will not pass the review process, and can't be made available to all Canva users.

        </Warning>

        Create a new top-level comment on a design.
        For information on comments and how they're used in the Canva UI, see the
        [Canva Help Center](https://www.canva.com/help/comments/). A design can have a maximum
        of 1000 comments.
      operationId: createComment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCommentRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCommentResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - comment:write
      tags:
        - comment
      x-rate-limit-per-client-user: 20
  /v1/comments/{commentId}/replies:
    post:
      description: |-
        <Warning>

        This API is currently provided as a preview. Be aware of the following:

        - There might be unannounced breaking changes.
        - Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/connect/versions/).
        - Public integrations that use preview APIs will not pass the review process, and can't be made available to all Canva users.

        </Warning>

        Creates a reply to a comment in a design.
        To reply to an existing thread of comments, you can use either the `id` of the parent
        (original) comment, or the `thread_id` of a comment in the thread. Each comment can
        have a maximum of 100 replies created for it.

        For information on comments and how they're used in the Canva UI, see the
        [Canva Help Center](https://www.canva.com/help/comments/).
      operationId: createReply
      parameters:
        - description: The `id` of the comment.
          example: KeAZEAjijEb
          explode: false
          in: path
          name: commentId
          required: true
          schema:
            pattern: "^[a-zA-Z0-9_-]{1,50}$"
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateReplyRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateReplyResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - comment:write
      tags:
        - comment
      x-rate-limit-per-client-user: 20
  /v1/designs/{designId}/comments/{commentId}:
    get:
      description: |-
        <Warning>

        This API is currently provided as a preview. Be aware of the following:

        - There might be unannounced breaking changes.
        - Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/connect/versions/).
        - Public integrations that use preview APIs will not pass the review process, and can't be made available to all Canva users.

        </Warning>

        Gets a comment.
        For information on comments and how they're used in the Canva UI, see the
        [Canva Help Center](https://www.canva.com/help/comments/).
      operationId: getComment
      parameters:
        - description: The design ID.
          explode: false
          in: path
          name: designId
          required: true
          schema:
            pattern: "^[a-zA-Z0-9_-]{1,50}$"
            type: string
          style: simple
        - description: The `id` of the comment.
          example: KeAZEAjijEb
          explode: false
          in: path
          name: commentId
          required: true
          schema:
            pattern: "^[a-zA-Z0-9_-]{1,50}$"
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCommentResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - comment:read
      tags:
        - comment
      x-rate-limit-per-client-user: 100
  /v1/connect/keys:
    get:
      description: |-
        <Warning>

        This API is currently provided as a preview. Be aware of the following:

        - There might be unannounced breaking changes.
        - Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/connect/versions/).
        - Public integrations that use preview APIs will not pass the review process, and can't be made available to all Canva users.

        </Warning>

        The Keys API (`connect/keys`) is a security measure you can use to verify the authenticity
        of webhooks you receive from Canva Connect. The Keys API returns a
        [JSON Web Key (JWK)](https://www.rfc-editor.org/rfc/rfc7517#section-2), which you can use to
        decrypt the webhook signature and verify it came from Canva and not a potentially malicious
        actor. This helps to protect your systems from
        [Replay attacks](https://owasp.org/Top10/A08_2021-Software_and_Data_Integrity_Failures/).

        The keys returned by the Keys API can rotate. We recommend you cache the keys you receive
        from this API where possible, and only access this API when you receive a webhook signed
        with an unrecognized key. This allows you to verify webhooks quicker than accessing this API
        every time you receive a webhook.
      operationId: getSigningPublicKeys
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSigningPublicKeysResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      tags:
        - connect
  /v1/designs:
    get:
      description: |-
        Lists metadata for all the designs in a Canva user's
        [projects](https://www.canva.com/help/find-designs-and-folders/). You can also:

        - Use search terms to filter the listed designs.
        - Show designs either created by, or shared with the user.
        - Sort the results.
      operationId: listDesigns
      parameters:
        - description:
            "Lets you search the user's designs, and designs shared with\
            \ the user, using a search term or terms."
          example: party invites
          explode: true
          in: query
          name: query
          required: false
          schema:
            maxLength: 255
            type: string
          style: form
        - description: |-
            If the success response contains a continuation token, the list contains more designs
            you can list. You can use this token as a query parameter and retrieve more
            designs from the list, for example
            `/v1/designs?continuation={continuation}`.

            To retrieve all of a user's designs, you might need to make multiple requests.
          example: RkFGMgXlsVTDbMd:MR3L0QjiaUzycIAjx0yMyuNiV0OildoiOwL0x32G4NjNu4FwtAQNxowUQNMMYN
          explode: true
          in: query
          name: continuation
          required: false
          schema:
            type: string
          style: form
        - description: |-
            Filter the list of designs based on the user's ownership of the designs.
            This can be one of the following:

            - `owned`: Designs owned by the user.
            - `shared`: Designs shared with the user.
            - `any`: Designs owned by and shared with the user.
          example: any
          explode: true
          in: query
          name: ownership
          required: false
          schema:
            $ref: "#/components/schemas/OwnershipType"
          style: form
        - description: |-
            Sort the list of designs.
            This can be one of the following:

            - `relevance`: (Default) Sort results using a relevance algorithm.
            - `modified_descending`: Sort results by the date last modified in descending order.
            - `modified_ascending`: Sort results by the date last modified in ascending order.
            - `title_descending`: Sort results by title in descending order.
            - `title_ascending`: Sort results by title in ascending order.
          example: relevance
          explode: true
          in: query
          name: sort_by
          required: false
          schema:
            $ref: "#/components/schemas/SortByType"
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetListDesignResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - design:meta:read
      tags:
        - design
      x-rate-limit-per-client-user: 100
    post:
      description: |-
        Creates a new Canva design. To create a new design, you can either:

        - Use a preset design type.
        - Set height and width dimensions for a custom design.

        Additionally, you can also provide the `asset_id` of an asset in the user's [projects](https://www.canva.com/help/find-designs-and-folders/) to add to the new design. Currently, this only supports image assets. To list the assets in a folder in the user's projects, use the [List folder items API](https://www.canva.dev/docs/connect/api-reference/folders/list-folder-items/).
      operationId: createDesign
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDesignRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateDesignResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - design:content:write
      tags:
        - design
      x-rate-limit-per-client-user: 20
  /v1/designs/{designId}:
    get:
      description:
        "Gets the metadata for a design. This includes owner information,\
        \ URLs for editing and viewing, and thumbnail information."
      operationId: getDesign
      parameters:
        - description: The design ID.
          explode: false
          in: path
          name: designId
          required: true
          schema:
            pattern: "^[a-zA-Z0-9_-]{1,50}$"
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDesignResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - design:meta:read
      tags:
        - design
      x-rate-limit-per-client-user: 100
  /v1/designs/{designId}/pages:
    get:
      description: |-
        <Warning>

        This API is currently provided as a preview. Be aware of the following:

        - There might be unannounced breaking changes.
        - Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/connect/versions/).
        - Public integrations that use preview APIs will not pass the review process, and can't be made available to all Canva users.

        </Warning>

        Lists metadata for pages in a design, such as page-specific thumbnails.

        For the specified design, you can provide `offset` and `limit` values to specify the range of pages to return.

        NOTE: Some design types don't have pages (for example, Canva docs).
      operationId: getDesignPages
      parameters:
        - description: The design ID.
          explode: false
          in: path
          name: designId
          required: true
          schema:
            pattern: "^[a-zA-Z0-9_-]{1,50}$"
            type: string
          style: simple
        - description: |
            The page index to start the range of pages to return. Default is `1`.

            Pages are indexed using one-based numbering, so the first page in a design has the index value `1`.
          explode: true
          in: query
          name: offset
          required: false
          schema:
            default: 1
            format: int32
            maximum: 500
            minimum: 1
            type: integer
          style: form
        - description:
            "The number of pages to return, starting at the page index specified\
            \ using the `offset` parameter. Default is `50` pages."
          explode: true
          in: query
          name: limit
          required: false
          schema:
            default: 50
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDesignPagesResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - design:content:read
      tags:
        - design
      x-rate-limit-per-client-user: 100
  /v1/designs/{designId}/export-formats:
    get:
      description: |-
        <Warning>

        This API is currently provided as a preview. Be aware of the following:

        - There might be unannounced breaking changes.
        - Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/connect/versions/).
        - Public integrations that use preview APIs will not pass the review process, and can't be made available to all Canva users.

        </Warning>

        Lists the available file formats for [exporting a design](https://www.canva.dev/docs/connect/api-reference/exports/create-design-export-job/).
      operationId: getDesignExportFormats
      parameters:
        - description: The design ID.
          explode: false
          in: path
          name: designId
          required: true
          schema:
            pattern: "^[a-zA-Z0-9_-]{1,50}$"
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDesignExportFormatsResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - design:content:read
      tags:
        - design
      x-rate-limit-per-client-user: 100
  /v1/imports:
    post:
      description: |-
        Starts a new [asynchronous job](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints) to import an external file as a new design in Canva.

        The request format for this endpoint has an `application/octet-stream` body of bytes,
        and the information about the import is provided using an `Import-Metadata` header.

        Supported file types for imports are listed in [Design imports overview](https://www.canva.dev/docs/connect/api-reference/design-imports/#supported-file-types).

        <Note>

        For more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints). You can check the status and get the results of design import jobs created with this API using the [Get design import job API](https://www.canva.dev/docs/connect/api-reference/design-imports/get-design-import-job/).

        </Note>
      operationId: createDesignImportJob
      parameters:
        - content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesignImportMetadata"
          in: header
          name: Import-Metadata
          required: true
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
        description: Binary of the file to import.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                in_progress:
                  $ref: "#/components/examples/InProgressDesignImportJobExample"
                success:
                  $ref: "#/components/examples/SuccessDesignImportJobExample"
                failed:
                  $ref: "#/components/examples/FailedDesignImportJobExample"
              schema:
                $ref: "#/components/schemas/CreateDesignImportJobResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - design:content:write
      tags:
        - design_import
      x-rate-limit-per-client-user: 20
  /v1/imports/{jobId}:
    get:
      description: |-
        Gets the result of a design import job created using the [Create design import job API](https://www.canva.dev/docs/connect/api-reference/design-imports/create-design-import-job/).

        You might need to make multiple requests to this endpoint until you get a `success` or `failed` status. For more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints).
      operationId: getDesignImportJob
      parameters:
        - description: The design import job ID.
          example: f81b26fd-a33d-4c2d-9e8c-4a7aca798b17
          explode: false
          in: path
          name: jobId
          required: true
          schema:
            pattern: "^[a-zA-Z0-9_-]{1,50}$"
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                in_progress:
                  $ref: "#/components/examples/InProgressDesignImportJobExample"
                success:
                  $ref: "#/components/examples/SuccessDesignImportJobExample"
                failed:
                  $ref: "#/components/examples/FailedDesignImportJobExample"
              schema:
                $ref: "#/components/schemas/GetDesignImportJobResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - design:content:write
      tags:
        - design_import
      x-rate-limit-per-client-user: 120
  /v1/exports:
    post:
      description: |-
        Starts a new [asynchronous job](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints) to export a file from Canva. Once the exported file is generated, you can download
        it using the link(s) provided.

        The request requires the design ID and the exported file format type.

        Supported file formats (and export file type values): PDF (`pdf`), JPG (`jpg`), PNG (`png`), GIF (`gif`), Microsoft PowerPoint (`pptx`), and MP4 (`mp4`).

        <Note>

        For more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints). You can check the status and get the results of export jobs created with this API using the [Get design export job API](https://www.canva.dev/docs/connect/api-reference/exports/get-design-export-job/).

        </Note>
      operationId: createDesignExportJob
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDesignExportJobRequest"
      responses:
        "200":
          content:
            application/json:
              examples:
                in_progress:
                  $ref: "#/components/examples/InProgressExportJobExample"
                success:
                  $ref: "#/components/examples/SuccessExportJobExample"
                failed:
                  $ref: "#/components/examples/FailedExportJobExample"
              schema:
                $ref: "#/components/schemas/CreateDesignExportJobResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - design:content:read
      tags:
        - export
      x-rate-limit-per-client-user: 20
  /v1/exports/{exportId}:
    get:
      description: |-
        Gets the result of a design export job that was created using the [Create design export job API](https://www.canva.dev/docs/connect/api-reference/exports/create-design-export-job/).

        If the job is successful, the response includes an array
        of download links for each page of the design.

        You might need to make multiple requests to this endpoint until you get a `success` or `failed` status. For more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints).
      operationId: getDesignExportJob
      parameters:
        - description: The export job ID.
          explode: false
          in: path
          name: exportId
          required: true
          schema:
            pattern: "^[a-zA-Z0-9_-]{1,50}$"
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                in_progress:
                  $ref: "#/components/examples/InProgressExportJobExample"
                success:
                  $ref: "#/components/examples/SuccessExportJobExample"
                failed:
                  $ref: "#/components/examples/FailedExportJobExample"
              schema:
                $ref: "#/components/schemas/GetDesignExportJobResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - design:content:read
      tags:
        - export
      x-rate-limit-per-client-user: 120
  /v1/folders/{folderId}:
    delete:
      description: |-
        Deletes a folder with the specified `folderID`.
        Deleting a folder moves the user's content in the folder to the
        [Trash](https://www.canva.com/help/deleted-designs/) and content owned by
        other users is moved to the top level of the owner's
        [projects](https://www.canva.com/help/find-designs-and-folders/).
      operationId: deleteFolder
      parameters:
        - description: The folder ID.
          example: FAF2lZtloor
          explode: false
          in: path
          name: folderId
          required: true
          schema:
            pattern: "^[a-zA-Z0-9_-]{1,50}$"
            type: string
          style: simple
      responses:
        "204":
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - folder:write
      tags:
        - folder
      x-rate-limit-per-client-user: 20
    get:
      description: Gets the name and other details of a folder using a folder's `folderID`.
      operationId: getFolder
      parameters:
        - description: The folder ID.
          example: FAF2lZtloor
          explode: false
          in: path
          name: folderId
          required: true
          schema:
            pattern: "^[a-zA-Z0-9_-]{1,50}$"
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetFolderResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - folder:read
      tags:
        - folder
      x-rate-limit-per-client-user: 100
    patch:
      description: |-
        Updates a folder's details using its `folderID`.
        Currently, you can only update a folder's name.
      operationId: updateFolder
      parameters:
        - description: The folder ID.
          example: FAF2lZtloor
          explode: false
          in: path
          name: folderId
          required: true
          schema:
            pattern: "^[a-zA-Z0-9_-]{1,50}$"
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateFolderRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateFolderResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - folder:write
      tags:
        - folder
      x-rate-limit-per-client-user: 20
  /v1/folders/{folderId}/items:
    get:
      description: |-
        Lists the items in a folder, including each item's `type`.

        Folders can contain:

        - Other folders.
        - Designs, such as Instagram posts, Presentations, and Documents ([Canva Docs](https://www.canva.com/create/documents/)).
        - Image assets.

        Currently, video assets are not returned in the response.
      operationId: listFolderItems
      parameters:
        - description: The folder ID.
          example: FAF2lZtloor
          explode: false
          in: path
          name: folderId
          required: true
          schema:
            pattern: "^[a-zA-Z0-9_-]{1,50}$"
            type: string
          style: simple
        - description: |-
            If the success response contains a continuation token, the folder contains more items
            you can list. You can use this token as a query parameter and retrieve more
            items from the list, for example
            `/v1/folders/{folderId}/items?continuation={continuation}`.

            To retrieve all the items in a folder, you might need to make multiple requests.
          example: RkFGMgXlsVTDbMd:MR3L0QjiaUzycIAjx0yMyuNiV0OildoiOwL0x32G4NjNu4FwtAQNxowUQNMMYN
          explode: true
          in: query
          name: continuation
          required: false
          schema:
            type: string
          style: form
        - description: |-
            Filter the folder items to only return specified types. The available types are:
            `design`, `folder`, and `image`. To filter for more than one item type, provide a comma-
            delimited list.
          explode: false
          in: query
          name: item_types
          required: false
          schema:
            items:
              $ref: "#/components/schemas/FolderItemType"
            type: array
          style: form
        - description: |-
            Sort the list of folder items.
            This can be one of the following:

            - `created_ascending`: Sort results by creation date, in ascending order.
            - `created_descending`: Sort results by creation date, in descending order.
            - `modified_ascending`: Sort results by the last modified date, in ascending order.
            - `modified_descending`: (Default) Sort results by the last modified date, in descending
            order.
            - `title_ascending`: Sort results by title, in ascending order. The title is either the
            `name` field for a folder or asset, or the `title` field for a design.
            - `title_descending`: Sort results by title, in descending order. The title is either
            the `name` field for a folder or asset, or the `title` field for a design.
          example: title_ascending
          explode: true
          in: query
          name: sort_by
          required: false
          schema:
            $ref: "#/components/schemas/FolderItemSortBy"
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListFolderItemsResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - folder:read
      tags:
        - folder
      x-rate-limit-per-client-user: 100
  /v1/folders/move:
    post:
      description: |-
        Moves an item to another folder. You must specify the folder ID of the destination folder, as well as the ID of the item you want to move.

        NOTE: In some situations, a single item can exist in multiple folders. If you attempt to move an item that exists in multiple folders, the API returns an `item_in_multiple_folders` error. In this case, you must use the Canva UI to move the item to another folder.
      operationId: moveFolderItem
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MoveFolderItemRequest"
      responses:
        "204":
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - folder:write
      tags:
        - folder
      x-rate-limit-per-client-user: 100
  /v1/folders:
    post:
      description: |-
        Creates a folder in either the top level of a Canva user's
        [projects](https://www.canva.com/help/find-designs-and-folders/) (using the ID `root`), or
        another folder (using the parent folder's ID). When a folder is successfully created, the
        endpoint returns its folder ID, along with other information.
      operationId: createFolder
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFolderRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateFolderResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - folder:write
      tags:
        - folder
      x-rate-limit-per-client-user: 20
  /v1/oauth/token:
    post:
      description: |-
        This endpoint implements the OAuth 2.0 `token` endpoint, as part of the Authorization Code flow with Proof Key for Code Exchange (PKCE). For more information, see [Authentication](https://www.canva.dev/docs/connect/authentication/).

        To generate an access token, you must provide one of the following:

        - An authorization code
        - A refresh token

        Generating a token using either an authorization code or a refresh token allows your integration to act on behalf of a user. You must first [obtain user authorization and get an authorization code](https://www.canva.dev/docs/connect/authentication/#obtain-user-authorization).

        Access tokens may be up to 4 KB in size, and are only valid for a specified period of time. The expiry time (currently 4 hours) is shown in the endpoint response and is subject to change.

        **Endpoint authentication**

        Requests to this endpoint require authentication with your client ID and client secret, using _one_ of the following methods:

        - **Basic access authentication** (Recommended): For [basic access authentication](https://en.wikipedia.org/wiki/Basic_access_authentication), the `{credentials}` string must be a Base64 encoded value of `{client id}:{client secret}`.
        - **Body parameters**: Provide your integration's credentials using the `client_id` and `client_secret` body parameters.

        This endpoint can't be called from a user's web-browser client because it uses client authentication with client secrets. Requests must come from your integration's backend, otherwise they'll be blocked by Canva's [Cross-Origin Resource Sharing (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) policy.

        **Generate an access token using an authorization code**

        To generate an access token with an authorization code, you must:

        - Set `grant_type` to `authorization_code`.
        - Provide the `code_verifier` value that you generated when creating the user authorization URL.
        - Provide the authorization code you received after the user authorized the integration.

        **Generate an access token using a refresh token**

        Using the `refresh_token` value from a previous user token request, you can get a new access token with the same or smaller scope as the previous one, but with a refreshed expiry time. You will also receive a new refresh token that you can use to refresh the access token again.

        To refresh an existing access token, you must:

        - Set `grant_type` to `refresh_token`.
        - Provide the `refresh_token` from a previous token request.
      operationId: exchangeAccessToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ExchangeAccessTokenRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangeAccessTokenResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OauthError"
          description: Error Response
      security:
        - {}
        - basicAuth: []
      tags:
        - oauth
  /v1/oauth/introspect:
    post:
      description: |-
        Introspect an access token to see whether it is valid and active. You can also verify some token properties, such as its claims, scopes, and validity times.

        Requests to this endpoint require authentication with your client ID and client secret, using _one_ of the following methods:

        - **Basic access authentication** (Recommended): For [basic access authentication](https://en.wikipedia.org/wiki/Basic_access_authentication), the `{credentials}` string must be a Base64 encoded value of `{client id}:{client secret}`.
        - **Body parameters**: Provide your integration's credentials using the `client_id` and `client_secret` body parameters.

        This endpoint can't be called from a user's web-browser client because it uses client authentication with client secrets. Requests must come from your integration's backend, otherwise they'll be blocked by Canva's [Cross-Origin Resource Sharing (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) policy.
      operationId: introspectToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/IntrospectTokenRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntrospectTokenResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OauthError"
          description: Error Response
      security:
        - {}
        - basicAuth: []
      tags:
        - oauth
  /v1/oauth/revoke:
    post:
      description: |-
        Revoke an access token or a refresh token.

        If you revoke a _refresh token_, be aware that:

        - The refresh token's lineage is also revoked. This means that access tokens created from that refresh token are also revoked.
        - The user's consent for your integration is also revoked. This means that the user must go through the OAuth process again to use your integration.

        Requests to this endpoint require authentication with your client ID and client secret, using _one_ of the following methods:

        - **Basic access authentication** (Recommended): For [basic access authentication](https://en.wikipedia.org/wiki/Basic_access_authentication), the `{credentials}` string must be a Base64 encoded value of `{client id}:{client secret}`.
        - **Body parameters**: Provide your integration's credentials using the `client_id` and `client_secret` body parameters.

        This endpoint can't be called from a user's web-browser client because it uses client authentication with client secrets. Requests must come from your integration's backend, otherwise they'll be blocked by Canva's [Cross-Origin Resource Sharing (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) policy.
      operationId: revokeTokens
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/RevokeTokensRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevokeTokensResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OauthError"
          description: Error Response
      security:
        - {}
        - basicAuth: []
      tags:
        - oauth
  /v1/users/me:
    get:
      description: |-
        Returns the User ID, Team ID, and display name of the user
        account associated with the provided access token.
      operationId: usersMe
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsersMeResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode: []
      tags:
        - user
      x-rate-limit-per-client-user: 10
  /v1/users/me/profile:
    get:
      description:
        "Currently, this returns the display name of the user account associated\
        \ with the provided access token. More user information is expected to be\
        \ included in the future."
      operationId: getUserProfile
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfileResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error Response
      security:
        - oauthAuthCode:
            - profile:read
      tags:
        - user
      x-rate-limit-per-client-user: 10
components:
  examples:
    InProgressAssetUploadJobExample:
      summary: In progress job
      value:
        job:
          id: e08861ae-3b29-45db-8dc1-1fe0bf7f1cc8
          status: in_progress
    SuccessAssetUploadJobExample:
      summary: Successfully completed job
      value:
        job:
          id: e08861ae-3b29-45db-8dc1-1fe0bf7f1cc8
          status: success
          asset:
            id: Msd59349ff
            name: My Awesome Upload
            tags:
              - image
              - holiday
              - best day ever
            created_at: 1377396000
            updated_at: 1692928800
            thumbnail:
              width: 595
              height: 335
              url: https://document-export.canva.com/Vczz9/zF9vzVtdADc/2/thumbnail/0001.png?<query-string>
    FailedAssetUploadJobExample:
      summary: Failed job
      value:
        job:
          id: e08861ae-3b29-45db-8dc1-1fe0bf7f1cc8
          status: failed
          error:
            code: file_too_big
            message: Failed to import because the file is too big
    InProgressAutofillJobExample:
      summary: In progress job
      value:
        job:
          id: 450a76e7-f96f-43ae-9c37-0e1ce492ac72
          status: in_progress
    SuccessAutofillJobExample:
      summary: Successfully completed job
      value:
        job:
          id: 450a76e7-f96f-43ae-9c37-0e1ce492ac72
          status: success
          result:
            type: create_design
            design:
              id: DAFVztcvd9z
              title: My summer holiday
              url: https://www.canva.com/design/DAFVztcvd9z/edit
              thumbnail:
                width: 595
                height: 335
                url: https://document-export.canva.com/Vczz9/zF9vzVtdADc/2/thumbnail/0001.png?<query-string>
    FailedAutofillJobExample:
      summary: Failed job
      value:
        job:
          id: 450a76e7-f96f-43ae-9c37-0e1ce492ac72
          status: failed
          error:
            code: autofill_error
            message: Error autofilling design from brand template
    InProgressDesignImportJobExample:
      summary: In progress job
      value:
        job:
          id: e08861ae-3b29-45db-8dc1-1fe0bf7f1cc8
          status: in_progress
    SuccessDesignImportJobExample:
      summary: Successfully completed job
      value:
        job:
          id: e08861ae-3b29-45db-8dc1-1fe0bf7f1cc8
          status: success
          result:
            designs:
              - id: DAGQm2AkzOk
                title: My Awesome Design
                thumbnail:
                  width: 376
                  height: 531
                  url: https://document-export.canva.com/...
                urls:
                  edit_url: https://www.canva.com/api/design/...
                  view_url: https://www.canva.com/api/design/...
                created_at: 1726198998
                updated_at: 1726199000
    FailedDesignImportJobExample:
      summary: Failed job
      value:
        job:
          id: e08861ae-3b29-45db-8dc1-1fe0bf7f1cc8
          status: failed
          error:
            code: invalid_file
            message: Document couldn't be imported because the file is corrupt.
    InProgressExportJobExample:
      summary: In progress job
      value:
        job:
          id: e08861ae-3b29-45db-8dc1-1fe0bf7f1cc8
          status: in_progress
    SuccessExportJobExample:
      summary: Successfully completed job
      value:
        job:
          id: e08861ae-3b29-45db-8dc1-1fe0bf7f1cc8
          status: success
          urls:
            - https://export-download.canva.com/...
    FailedExportJobExample:
      summary: Failed job
      value:
        job:
          id: e08861ae-3b29-45db-8dc1-1fe0bf7f1cc8
          status: failed
          error:
            code: license_required
            message: User doesn't have the required license to export in PRO quality.
    UpdateFolderPermissionsUserInputExample:
      description:
        "Example of an update folder permissions request, updating the\
        \ permissions for a user."
      summary: Update user permissions request
      value:
        role: editor
        type: user
        user_id: auDAbliZ2rQNNOsUl5OLu
        team_id: Oi2RJILTrKk0KRhRUZozX
    UpdateFolderPermissionsGroupInputExample:
      description:
        "Example of an update folder permissions request, updating the\
        \ permissions for a group."
      summary: Update group permissions request
      value:
        role: view
        type: group
        group_id: dl9n9SoWoExMsw6Ri1iTg
    UpdateFolderPermissionsTeamInputExample:
      description:
        "Example of an update folder permissions request, updating the\
        \ permissions for a team."
      summary: Updating team permissions request
      value:
        role: none
        type: team
        team_id: Oi2RJILTrKk0KRhRUZozX
    UpdateFolderPermissionsUserResponseExample:
      description:
        Example of the response returned when updating folder permissions
        for a user.
      summary: Updated user permissions response
      value:
        folder_permission:
          type: user
          role: editor
          inherited: false
          team_user:
            user_id: auDAbliZ2rQNNOsUl5OLu
            team_id: Oi2RJILTrKk0KRhRUZozX
    UpdateFolderPermissionsGroupResponseExample:
      description:
        Example of the response returned when updating folder permissions
        for a group.
      summary: Updated group permissions response
      value:
        role: view
        type: group
        inherited: false
        group:
          id: dl9n9SoWoExMsw6Ri1iTg
          external: false
          display_name: Sales team
    UpdateFolderPermissionsTeamResponseExample:
      description:
        Example of the response returned when updating folder permissions
        for a team.
      summary: Updated team permissions response
      value:
        role: none
        type: team
        inherited: false
        team:
          id: Oi2RJILTrKk0KRhRUZozX
          display_name: Acme Corporation
          external: false
  parameters:
    brandTemplateId:
      description: The brand template ID.
      explode: false
      in: path
      name: brandTemplateId
      required: true
      schema:
        pattern: "^[a-zA-Z0-9_-]{1,50}$"
        type: string
      style: simple
    commentId:
      description: The `id` of the comment.
      example: KeAZEAjijEb
      explode: false
      in: path
      name: commentId
      required: true
      schema:
        pattern: "^[a-zA-Z0-9_-]{1,50}$"
        type: string
      style: simple
    designId:
      description: The design ID.
      explode: false
      in: path
      name: designId
      required: true
      schema:
        pattern: "^[a-zA-Z0-9_-]{1,50}$"
        type: string
      style: simple
    exportId:
      description: The export job ID.
      explode: false
      in: path
      name: exportId
      required: true
      schema:
        pattern: "^[a-zA-Z0-9_-]{1,50}$"
        type: string
      style: simple
    folderIdParameter:
      description: The folder ID.
      example: FAF2lZtloor
      explode: false
      in: path
      name: folderId
      required: true
      schema:
        pattern: "^[a-zA-Z0-9_-]{1,50}$"
        type: string
      style: simple
  schemas:
    GetAppJwksResponse:
      properties:
        keys:
          description: |-
            The value of the "keys" parameter is an array of JWK values. The order of keys has no
            meaning.
          items:
            $ref: "#/components/schemas/JsonWebKey"
          type: array
      required:
        - keys
      type: object
    JsonWebKey:
      description: |-
        Standard Json Web Key specification following https://www.rfc-editor.org/rfc/rfc7517 and
        https://www.rfc-editor.org/rfc/rfc7518.html.
      properties:
        alg:
          description: |-
            The "alg" (algorithm) parameter identifies the algorithm intended for
            use with the key.
            See https://www.rfc-editor.org/rfc/rfc7517#section-4
          type: string
        kid:
          description: |-
            The "kid" (key ID) parameter is used to match a specific key.  This
            is used, for instance, to choose among a set of keys within a JWK Set
            during key rollover. When "kid" values are used within a JWK Set,
            different keys within the JWK Set SHOULD use distinct "kid" values.
            The "kid" value is a case-sensitive string.
            See https://www.rfc-editor.org/rfc/rfc7517#section-4
          type: string
        kty:
          description: |-
            The "kty" (key type) parameter identifies the cryptographic algorithm
            family used with the key, such as "RSA" or "EC". The "kty" value is a
            case-sensitive string. At the moment, only "RSA" is supported.
            See https://www.rfc-editor.org/rfc/rfc7517#section-4
          type: string
        "n":
          description: |-
            The "n" (modulus) parameter contains the modulus value for the RSA
               public key.  It is represented as a Base64urlUInt-encoded value.
            See https://www.rfc-editor.org/rfc/rfc7518.html#section-6.3
          type: string
        e:
          description: |-
            The "e" (exponent) parameter contains the exponent value for the RSA
               public key.  It is represented as a Base64urlUInt-encoded value.
            See https://www.rfc-editor.org/rfc/rfc7518.html#section-6.3
          type: string
        use:
          description: |-
            The "use" (public key use) parameter identifies the intended use of
            the public key. The "use" parameter is employed to indicate whether
            a public key is used for encrypting data or verifying the signature
            on data. Values are commonly "sig" (signature) or "enc" (encryption).
            See https://www.rfc-editor.org/rfc/rfc7517#section-4
          type: string
      required:
        - e
        - kid
        - kty
        - "n"
      type: object
    GetAssetResponse:
      properties:
        asset:
          $ref: "#/components/schemas/Asset"
      required:
        - asset
      type: object
    UpdateAssetRequest:
      properties:
        name:
          description: |-
            The name of the asset. This is shown in the Canva UI.
            When this field is undefined or empty, nothing is updated.
            Maximum length 50 characters.
          example: My Awesome Upload
          maxLength: 50
          type: string
        tags:
          description: |-
            The replacement tags for the asset.
            When this field is undefined, nothing is updated.
            Maximum length 50 tags. Each tag
            has a maximum length of 50 characters.
          example:
            - image
            - holiday
            - best day ever
          items:
            maxLength: 50
            type: string
          maxItems: 50
          type: array
      type: object
    UpdateAssetResponse:
      properties:
        asset:
          $ref: "#/components/schemas/Asset"
      required:
        - asset
      type: object
    Asset:
      description: "The asset object, which contains metadata about the asset."
      properties:
        type:
          $ref: "#/components/schemas/AssetType"
        id:
          description: The ID of the asset.
          example: Msd59349ff
          type: string
        name:
          description: The name of the asset.
          example: My Awesome Upload
          type: string
        tags:
          description: |-
            The user-facing tags attached to the asset.
            Users can add these tags to their uploaded assets, and they can search their uploaded
            assets in the Canva UI by searching for these tags. For information on how users use
            tags, see the
            [Canva Help Center page on asset tags](https://www.canva.com/help/add-edit-tags/).
          example:
            - image
            - holiday
            - best day ever
          items:
            type: string
          type: array
        import_status:
          $ref: "#/components/schemas/ImportStatus"
        created_at:
          description: |-
            When the asset was added to Canva, as a Unix timestamp (in seconds since the Unix
            Epoch).
          example: 1377396000
          format: int64
          type: integer
        updated_at:
          description: |-
            When the asset was last updated in Canva, as a Unix timestamp (in seconds since the
            Unix Epoch).
          example: 1692928800
          format: int64
          type: integer
        thumbnail:
          $ref: "#/components/schemas/Thumbnail"
      required:
        - created_at
        - id
        - name
        - tags
        - type
        - updated_at
      type: object
    AssetSummary:
      description: An object representing an asset with associated metadata.
      properties:
        type:
          $ref: "#/components/schemas/AssetType"
        id:
          description: The ID of the asset.
          example: Msd59349ff
          type: string
        name:
          description: The name of the asset.
          example: My Awesome Upload
          type: string
        tags:
          description: |-
            The user-facing tags attached to the asset.
            Users can add these tags to their uploaded assets, and they can search their uploaded
            assets in the Canva UI by searching for these tags. For information on how users use
            tags, see the
            [Canva Help Center page on asset tags](https://www.canva.com/help/add-edit-tags/).
          example:
            - image
            - holiday
            - best day ever
          items:
            type: string
          type: array
        created_at:
          description: |-
            When the asset was added to Canva, as a Unix timestamp (in seconds since the Unix
            Epoch).
          example: 1377396000
          format: int64
          type: integer
        updated_at:
          description: |-
            When the asset was last updated in Canva, as a Unix timestamp (in seconds since the
            Unix Epoch).
          example: 1692928800
          format: int64
          type: integer
        thumbnail:
          $ref: "#/components/schemas/Thumbnail"
      required:
        - created_at
        - id
        - name
        - tags
        - type
        - updated_at
      type: object
    AssetType:
      description:
        "Type of an asset. Support for `video` assets is currently provided\
        \ as a [preview](https://www.canva.dev/docs/connect/api-reference/assets/#videos)."
      enum:
        - image
        - video
      example: image
      type: string
    ImportStatus:
      deprecated: true
      description: The import status of the asset.
      properties:
        state:
          $ref: "#/components/schemas/ImportStatusState"
        error:
          $ref: "#/components/schemas/ImportError"
      required:
        - state
      type: object
    ImportStatusState:
      deprecated: true
      description: State of the import job for an uploaded asset.
      enum:
        - failed
        - in_progress
        - success
      example: success
      type: string
    ImportError:
      deprecated: true
      description: "If the import fails, this object provides details about the error."
      properties:
        code:
          $ref: "#/components/schemas/ImportErrorCode"
        message:
          description: A human-readable description of what went wrong.
          type: string
      required:
        - code
        - message
      type: object
    ImportErrorCode:
      deprecated: true
      description: |
        A short string indicating why the upload failed. This field can be used to handle errors programmatically.
      enum:
        - file_too_big
        - import_failed
      type: string
    CreateAssetUploadJobResponse:
      properties:
        job:
          $ref: "#/components/schemas/AssetUploadJob"
      required:
        - job
      type: object
    GetAssetUploadJobResponse:
      properties:
        job:
          $ref: "#/components/schemas/AssetUploadJob"
      required:
        - job
      type: object
    AssetUploadJob:
      description: The status of the asset upload job.
      example:
        id: e08861ae-3b29-45db-8dc1-1fe0bf7f1cc8
        status: success
        asset:
          id: Msd59349ff
          name: My Awesome Upload
          tags:
            - image
            - holiday
            - best day ever
          created_at: 1377396000
          updated_at: 1692928800
          thumbnail:
            width: 595
            height: 335
            url: https://document-export.canva.com/Vczz9/zF9vzVtdADc/2/thumbnail/0001.png?<query-string>
      properties:
        id:
          description: The ID of the asset upload job.
          example: e08861ae-3b29-45db-8dc1-1fe0bf7f1cc8
          type: string
        status:
          $ref: "#/components/schemas/AssetUploadStatus"
        error:
          $ref: "#/components/schemas/AssetUploadError"
        asset:
          $ref: "#/components/schemas/Asset"
      required:
        - id
        - status
      type: object
    AssetUploadStatus:
      description: Status of the asset upload job.
      enum:
        - failed
        - in_progress
        - success
      example: success
      type: string
    AssetUploadError:
      description: "If the upload fails, this object provides details about the error."
      properties:
        code:
          $ref: "#/components/schemas/AssetUploadErrorCode"
        message:
          description: A human-readable description of what went wrong.
          example: Failed to import because the file is too big.
          type: string
      required:
        - code
        - message
      type: object
    AssetUploadErrorCode:
      description: |-
        A short string indicating why the upload failed. This field can be used to handle errors
        programmatically.
      enum:
        - file_too_big
        - import_failed
      example: file_too_big
      type: string
    AssetUploadMetadata:
      description: Metadata for the asset being uploaded.
      properties:
        name_base64:
          description: |-
            The asset's name, encoded in Base64.

            The maximum length of an asset name in Canva (unencoded) is 50 characters.

            Base64 encoding allows names containing emojis and other special
            characters to be sent using HTTP headers.
            For example, "My Awesome Upload 🚀" Base64 encoded
            is `TXkgQXdlc29tZSBVcGxvYWQg8J+agA==`.
          example: TXkgQXdlc29tZSBVcGxvYWQg8J+agA==
          minLength: 1
          type: string
      required:
        - name_base64
      type: object
    CreateDesignAutofillJobRequest:
      properties:
        brand_template_id:
          description: ID of the input brand template.
          example: DAFVztcvd9z
          type: string
        title:
          description: |-
            Title to use for the autofilled design. Must be less than 256 characters.

            If no design title is provided, the autofilled design will have the same title as the brand template.
          maxLength: 255
          minLength: 1
          type: string
        data:
          additionalProperties:
            $ref: "#/components/schemas/DatasetValue"
          description: Data object containing the data fields and values to autofill.
          example:
            cute_pet_image_of_the_day:
              type: image
              asset_id: Msd59349ff
            cute_pet_witty_pet_says:
              type: text
              text: It was like this when I got here!
            cute_pet_sales_chart:
              type: chart
              chart_data:
                rows:
                  - cells:
                      - type: string
                        value: Geographic Region
                      - type: string
                        value: Sales (millions AUD)
                      - type: string
                        value: Target met?
                      - type: string
                        value: Date met
                  - cells:
                      - type: string
                        value: Asia Pacific
                      - type: number
                        value: 10.2
                      - type: boolean
                        value: true
                      - type: date
                        value: 1721944387
                  - cells:
                      - type: string
                        value: EMEA
                      - type: number
                        value: 13.8
                      - type: boolean
                        value: false
                      - type: date
          type: object
      required:
        - brand_template_id
        - data
      type: object
    CreateDesignAutofillJobResponse:
      properties:
        job:
          $ref: "#/components/schemas/DesignAutofillJob"
      required:
        - job
      type: object
    DatasetValue:
      description: The data field to autofill.
      discriminator:
        mapping:
          image: "#/components/schemas/DatasetImageValue"
          text: "#/components/schemas/DatasetTextValue"
          chart: "#/components/schemas/DatasetChartValue"
        propertyName: type
      oneOf:
        - $ref: "#/components/schemas/DatasetImageValue"
        - $ref: "#/components/schemas/DatasetTextValue"
        - $ref: "#/components/schemas/DatasetChartValue"
      type: object
    Dataset:
      additionalProperties:
        $ref: "#/components/schemas/DatasetValue"
      description: Data object containing the data fields and values to autofill.
      example:
        cute_pet_image_of_the_day:
          type: image
          asset_id: Msd59349ff
        cute_pet_witty_pet_says:
          type: text
          text: It was like this when I got here!
        cute_pet_sales_chart:
          type: chart
          chart_data:
            rows:
              - cells:
                  - type: string
                    value: Geographic Region
                  - type: string
                    value: Sales (millions AUD)
                  - type: string
                    value: Target met?
                  - type: string
                    value: Date met
              - cells:
                  - type: string
                    value: Asia Pacific
                  - type: number
                    value: 10.2
                  - type: boolean
                    value: true
                  - type: date
                    value: 1721944387
              - cells:
                  - type: string
                    value: EMEA
                  - type: number
                    value: 13.8
                  - type: boolean
                    value: false
                  - type: date
      type: object
    DatasetImageValue:
      description: If the data field is an image field.
      properties:
        type:
          enum:
            - image
          type: string
        asset_id:
          description: "`asset_id` of the image to insert into the template element."
          example: Msd59349ff
          type: string
      required:
        - asset_id
        - type
      type: object
    DatasetTextValue:
      description: If the data field is a text field.
      properties:
        type:
          enum:
            - text
          type: string
        text:
          description: Text to insert into the template element.
          example: It was like this when I got here!
          type: string
      required:
        - text
        - type
      type: object
    DatasetChartValue:
      description: |-
        If the data field is a chart.

         WARNING: Chart data fields are a [preview feature](https://www.canva.dev/docs/connect/#preview-apis). There might be unannounced breaking changes to this feature which won't produce a new API version.
      properties:
        type:
          enum:
            - chart
          type: string
        chart_data:
          $ref: "#/components/schemas/DataTable"
      required:
        - chart_data
        - type
      type: object
    GetDesignAutofillJobResponse:
      properties:
        job:
          $ref: "#/components/schemas/DesignAutofillJob"
      required:
        - job
      type: object
    DesignAutofillJob:
      description: Details about the autofill job.
      properties:
        id:
          description:
            ID of the asynchronous job that is creating the design using
            the provided data.
          example: 450a76e7-f96f-43ae-9c37-0e1ce492ac72
          type: string
        status:
          $ref: "#/components/schemas/DesignAutofillStatus"
        result:
          $ref: "#/components/schemas/DesignAutofillJobResult"
        error:
          $ref: "#/components/schemas/AutofillError"
      required:
        - id
        - status
      type: object
    DesignAutofillJobResult:
      description:
        Result of the design autofill job. Only present if job status is
        `success`.
      discriminator:
        mapping:
          create_design: "#/components/schemas/CreateDesignAutofillJobResult"
        propertyName: type
      oneOf:
        - $ref: "#/components/schemas/CreateDesignAutofillJobResult"
      type: object
    CreateDesignAutofillJobResult:
      description: Design has been created and saved to user's root folder.
      properties:
        type:
          enum:
            - create_design
          type: string
        design:
          $ref: "#/components/schemas/DesignSummary"
      required:
        - design
        - type
      type: object
    DesignAutofillStatus:
      description: Status of the design autofill job.
      enum:
        - in_progress
        - success
        - failed
      example: success
      type: string
    AutofillErrorCode:
      enum:
        - autofill_error
        - thumbnail_generation_error
        - create_design_error
      type: string
    AutofillError:
      description:
        "If the autofill job fails, this object provides details about\
        \ the error."
      properties:
        code:
          $ref: "#/components/schemas/AutofillErrorCode"
        message:
          description: A human-readable description of what went wrong.
          type: string
      required:
        - code
        - message
      type: object
    DatasetFilter:
      enum:
        - any
        - non_empty
        - empty
      type: string
    ListBrandTemplatesResponse:
      properties:
        continuation:
          description: |-
            If the success response contains a continuation token, the user has access to more
            brand templates you can list. You can use this token as a query parameter and retrieve
            more templates from the list, for example
            `/v1/brand-templates?continuation={continuation}`.
            To retrieve all the brand templates available to the user, you might need to make
            multiple requests.
          example: RkFGMgXlsVTDbMd:MR3L0QjiaUzycIAjx0yMyuNiV0OildoiOwL0x32G4NjNu4FwtAQNxowUQNMMYN
          type: string
        items:
          description: The list of brand templates.
          items:
            $ref: "#/components/schemas/BrandTemplate"
          type: array
      required:
        - items
      type: object
    GetBrandTemplateResponse:
      description: Successful response from a `getBrandTemplate` request.
      properties:
        brand_template:
          $ref: "#/components/schemas/BrandTemplate"
      required:
        - brand_template
      type: object
    BrandTemplate:
      description: An object representing a brand template with associated metadata.
      properties:
        id:
          description: The brand template ID.
          example: DEMzWSwy3BI
          type: string
        title:
          description: "The brand template title, as shown in the Canva UI."
          example: Advertisement Template
          type: string
        view_url:
          description: A URL Canva users can visit to view the brand template.
          example: https://www.canva.com/design/DAE35hE8FA4/view
          type: string
        create_url:
          description:
            A URL Canva users can visit to create a new design from the
            template.
          example: https://www.canva.com/design/DAE35hE8FA4/remix
          type: string
        thumbnail:
          $ref: "#/components/schemas/Thumbnail"
        created_at:
          description: |-
            When the brand template was created, as a Unix timestamp
            (in seconds since the Unix Epoch).
          example: 1704110400
          format: int64
          type: integer
        updated_at:
          description: |-
            When the brand template was last updated, as a Unix timestamp
            (in seconds since the Unix Epoch).
          example: 1719835200
          format: int64
          type: integer
      required:
        - create_url
        - created_at
        - id
        - title
        - updated_at
        - view_url
      type: object
    GetBrandTemplateDatasetResponse:
      description: Successful response from a `getBrandTemplateDataset` request.
      properties:
        dataset:
          additionalProperties:
            $ref: "#/components/schemas/DataField"
          description: |-
            The dataset definition for the brand template. The dataset definition contains the data inputs available for use with the
            [Create design autofill job API](https://www.canva.dev/docs/connect/api-reference/autofills/create-design-autofill-job/).
          example:
            cute_pet_image_of_the_day:
              type: image
            cute_pet_witty_pet_says:
              type: text
            cute_pet_sales_chart:
              type: chart
          type: object
      type: object
    DatasetDefinition:
      additionalProperties:
        $ref: "#/components/schemas/DataField"
      description: |-
        The dataset definition for the brand template. The dataset definition contains the data inputs available for use with the
        [Create design autofill job API](https://www.canva.dev/docs/connect/api-reference/autofills/create-design-autofill-job/).
      example:
        cute_pet_image_of_the_day:
          type: image
        cute_pet_witty_pet_says:
          type: text
        cute_pet_sales_chart:
          type: chart
      type: object
    DataField:
      description: A named data field that can be autofilled in the brand template.
      discriminator:
        mapping:
          image: "#/components/schemas/ImageDataField"
          text: "#/components/schemas/TextDataField"
          chart: "#/components/schemas/ChartDataField"
        propertyName: type
      oneOf:
        - $ref: "#/components/schemas/ImageDataField"
        - $ref: "#/components/schemas/TextDataField"
        - $ref: "#/components/schemas/ChartDataField"
      type: object
    ImageDataField:
      description:
        An image for a brand template. You can autofill the brand template
        with an image by providing its `asset_id`.
      properties:
        type:
          enum:
            - image
          type: string
      required:
        - type
      type: object
    TextDataField:
      description:
        Some text for a brand template. You can autofill the brand template
        with this value.
      properties:
        type:
          enum:
            - text
          type: string
      required:
        - type
      type: object
    ChartDataField:
      description: |-
        Chart data for a brand template. You can autofill the brand template with tabular data.

        WARNING: Chart data fields are a [preview feature](https://www.canva.dev/docs/connect/#preview-apis). There might be unannounced breaking changes to this feature which won't produce a new API version.
      properties:
        type:
          enum:
            - chart
          type: string
      required:
        - type
      type: object
    CreateCommentRequest:
      properties:
        attached_to:
          $ref: "#/components/schemas/CommentObjectInput"
        message:
          description: |-
            The comment message. This is the comment body shown in the Canva UI.

            You can also mention users in your message by specifying their User ID and Team ID
            using the format `[user_id:team_id]`. If the `assignee_id` parameter is specified, you
            must mention the assignee in the message.
          example: "Great work [oUnPjZ2k2yuhftbWF7873o:oBpVhLW22VrqtwKgaayRbP]!"
          type: string
        assignee_id:
          description: |-
            Lets you assign the comment to a Canva user using their User ID. You _must_ mention the
            assigned user in the `message`.
          example: oUnPjZ2k2yuhftbWF7873o
          type: string
      required:
        - attached_to
        - message
      type: object
    CreateReplyRequest:
      properties:
        attached_to:
          $ref: "#/components/schemas/CommentObjectInput"
        message:
          description: |-
            The reply comment message. This is the reply comment body shown in the Canva UI.

            You can also mention users in your message by specifying their User ID and Team ID
            using the format `[user_id:team_id]`.
          example: Thanks!
          type: string
      required:
        - attached_to
        - message
      type: object
    CreateCommentResponse:
      properties:
        comment:
          $ref: "#/components/schemas/ParentComment"
      required:
        - comment
      type: object
    CreateReplyResponse:
      properties:
        comment:
          $ref: "#/components/schemas/ReplyComment"
      required:
        - comment
      type: object
    GetCommentResponse:
      description: Successful response from a `getComment` request.
      properties:
        comment:
          $ref: "#/components/schemas/Comment"
      required:
        - comment
      type: object
    Comment:
      description: "The comment object, which contains metadata about the comment."
      discriminator:
        mapping:
          parent: "#/components/schemas/ParentComment"
          reply: "#/components/schemas/ReplyComment"
        propertyName: type
      oneOf:
        - $ref: "#/components/schemas/ParentComment"
        - $ref: "#/components/schemas/ReplyComment"
      type: object
    ParentComment:
      description: |-
        Data about the comment, including the message, author, and
        the object (such as a design) the comment is attached to.
      properties:
        type:
          enum:
            - parent
          type: string
        id:
          description: |-
            The ID of the comment.

            You can use this ID to create replies to the comment using the [Create reply API](https://www.canva.dev/docs/connect/api-reference/comments/create-reply/).
          example: KeAbiEAjZEj
          type: string
        attached_to:
          $ref: "#/components/schemas/CommentObject"
        message:
          description: |-
            The comment message. This is the comment body shown in the Canva UI.
            User mentions are shown here in the format `[user_id:team_id]`.
          example: "Great work [oUnPjZ2k2yuhftbWF7873o:oBpVhLW22VrqtwKgaayRbP]!"
          type: string
        author:
          $ref: "#/components/schemas/User"
        created_at:
          description: |-
            When the comment or reply was created, as a Unix timestamp
            (in seconds since the Unix Epoch).
          example: 1692928800
          format: int64
          type: integer
        updated_at:
          description: |-
            When the comment or reply was last updated, as a Unix timestamp
            (in seconds since the Unix Epoch).
          example: 1692928900
          format: int64
          type: integer
        mentions:
          additionalProperties:
            $ref: "#/components/schemas/TeamUser"
          description: The Canva users mentioned in the comment.
          example:
            oUnPjZ2k2yuhftbWF7873o:oBpVhLW22VrqtwKgaayRbP:
              user_id: oUnPjZ2k2yuhftbWF7873o
              team_id: oBpVhLW22VrqtwKgaayRbP
              display_name: John Doe
          type: object
        assignee:
          $ref: "#/components/schemas/User"
        resolver:
          $ref: "#/components/schemas/User"
      required:
        - author
        - id
        - mentions
        - message
        - type
      type: object
    ReplyComment:
      description: |-
        Data about the reply comment, including the message, author, and
        the object (such as a design) the comment is attached to.
      properties:
        type:
          enum:
            - reply
          type: string
        id:
          description: The ID of the comment.
[...]
