{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 120,
    "proseWrap": "always",
    "quoteProps": "consistent",
    "singleQuote": false,
    "tabWidth": 2,
    "trailingComma": "all",
    "useTabs": false,
    "semi": true,
    "vueIndentScriptAndStyle": false
}
