* text=auto

*.cjs text eol=lf
*.js text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

*.png binary
