# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
.DS_Store

/assets/pngs/brands
/assets/pngs/duotone
/assets/pngs/light
/assets/pngs/sharp-solid
/assets/pngs/solid
/assets/pngs/thin

/assets/svgs/brands
/assets/svgs/duotone
/assets/svgs/light
/assets/svgs/sharp-solid
/assets/svgs/solid
/assets/svgs/thin

/src/icons.json

raycast-env.d.ts

.raycast-swift-build
.swiftpm
compiled_raycast_swift
