# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# Raycast specific files
raycast-env.d.ts
.raycast-swift-build
.swiftpm
compiled_raycast_swift
compiled_raycast_rust

# misc
.DS_Store

# dependencies
bower_components/
node_modules/
vendor/

# package manager files
npm-debug.log*
yarn-error.log
yarn.lock
shrinkwrap.yaml

# development
.eslintcache
tsconfig.tsbuildinfo
raycast-env.d.ts

.raycast-swift-build
.swiftpm
compiled_raycast_swift
