# dependencies
bower_components/
node_modules/
vendor/

# package manager files
npm-debug.log*
yarn-error.log
yarn.lock
shrinkwrap.yaml

# development
.eslintcache
tsconfig.tsbuildinfo
raycast-env.d.ts

.raycast-swift-build
.swiftpm
compiled_raycast_swift
