# Raycast
raycast-env.d.ts
.raycast-swift-build/
compiled/
dist/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# macOS
.DS_Store

# Editor
.vscode/
.idea/
*.swp
