# Dependencies
node_modules/

# Build output
dist/

# OS files
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Raycast specific files
raycast-env.d.ts
.raycast-swift-build
.swiftpm
compiled_raycast_swift
compiled_raycast_rust

# Logs
*.log
npm-debug.log*
screenshot-demo/
