# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs
*.log

# Environment variables
.env
.env.local
.env.*.local 