{
    "openapi": "3.0.0",
    "info": {
        "title": "BetaSeries API",
        "description": "BetaSeries API Documentation",
        "version": "3.0",
        "termsOfService": "https:\/\/www.betaseries.com\/legal\/terms",
        "contact": {
            "name": "BetaSeries",
            "url": "https:\/\/www.betaseries.com",
            "email": "support@betaseries.com"
        },
        "license": {
            "name": "MIT",
            "url": "\thttps:\/\/choosealicense.com\/licenses\/mit\/"
        }
    },
    "servers": [
        {
            "url": "https:\/\/api.betaseries.com",
            "description": "Production server"
        }
    ],
    "components": {
        "securitySchemes": {
            "BetaSeriesApiKey": {
                "type": "apiKey",
                "name": "X-BetaSeries-Key",
                "in": "header"
            },
            "BetaSeriesToken": {
                "type": "apiKey",
                "name": "X-BetaSeries-Token",
                "in": "header"
            }
        },
        "parameters": {
            "LocaleParam": {
                "name": "locale",
                "in": "query",
                "description": "Locale parameter to specify language preference",
                "required": false,
                "schema": {
                    "type": "string",
                    "default": "fr"
                }
            }
        }
    },
    "security": [
        {
            "BetaSeriesApiKey": []
        }
    ],
    "paths": {
        "\/badges\/badge": {
            "get": {
                "tags": [
                    "Badges"
                ],
                "operationId": "get-badges-badge",
                "summary": "Returns badge details",
                "description": "Returns a badge details.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Badge ID. You can add more than one by separating them with a comma.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "userId",
                        "in": "query",
                        "description": "ID of the user who earned the badge(s).",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "\/collections\/collection": {
            "get": {
                "tags": [
                    "Collections"
                ],
                "operationId": "get-collections-collection",
                "summary": "Display collection's data",
                "description": "Display collection's data.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID of the collection to retrieve.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Collections"
                ],
                "operationId": "delete-collections-collection",
                "summary": "Delete a collection from the identified user [Premium feature]",
                "description": "Deletes a collection from the identified user. [Premium feature]",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID of the collection",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Collections"
                ],
                "operationId": "post-collections-collection",
                "summary": "Create\/Update a collection for the identified user [Premium feature]",
                "description": "Create\/Update a collection for the identified user. [Premium feature]",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID of the collection to update (Mandatory for updating)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Name of the collection (Mandatory for creation)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Description of the collection (Optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "private",
                        "in": "query",
                        "description": "Indicates if the collection if private (Optional, possibles values : '1' (for private) or '0' (for public, default value when creation))",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "items",
                        "in": "query",
                        "description": "List of shows\/movies for the collection (Mandatory for creation, Optional for edition. Must be a JSON array with format : [{\"type\": \"show\", \"id\": 123, \"note\": \"Note about series\"}, {\"type\": \"movie\", \"id\": 456, \"note\": null}])",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            }
        },
        "\/collections\/list": {
            "get": {
                "tags": [
                    "Collections"
                ],
                "operationId": "get-collections-list",
                "summary": "Display the list of all collections of the member",
                "description": "Display the list of all collections of the member.",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "Member's ID (optional, default identified member)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "\/collections\/subscriptions": {
            "get": {
                "tags": [
                    "Collections"
                ],
                "operationId": "get-collections-subscriptions",
                "summary": "Display the list of all collections subscribed by the member",
                "description": "Display the list of all collections subscribed by the member.",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "Member's ID (optional, default identified member)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "\/collections\/subscribe": {
            "post": {
                "tags": [
                    "Collections"
                ],
                "operationId": "post-collections-subscribe",
                "summary": "Subscribe the identified user to a collection",
                "description": "Subscribe the identified user to a collection.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID of the collection",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Collections"
                ],
                "operationId": "delete-collections-subscribe",
                "summary": "Delete the subscription for the identified user to a collection",
                "description": "Delete the subscription for the identified user to a collection.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID of the collection",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            }
        },
        "\/collections\/notifications": {
            "post": {
                "tags": [
                    "Collections"
                ],
                "operationId": "post-collections-notifications",
                "summary": "Toggle the notifications of the subscription for the identified user to a collection",
                "description": "Toggle the notifications of the subscription for the identified user to a collection.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID of the collection",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            }
        },
        "\/comments\/comments": {
            "get": {
                "tags": [
                    "Comments"
                ],
                "operationId": "get-comments-comments",
                "summary": "Get comments",
                "description": "Retrieves comments for a given element.",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Element type: episode|show|member|movie|poll|article",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID of the element in question",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "nbpp",
                        "in": "query",
                        "description": "Number of comments per page",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "description": "ID of the last comment received (Optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "null"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Chronological return order, desc or asc (Default asc)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "asc"
                        }
                    },
                    {
                        "name": "replies",
                        "in": "query",
                        "description": "Include replies to comments (1 or 0, default 1)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "true"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "\/comments\/comment": {
            "get": {
                "tags": [
                    "Comments"
                ],
                "operationId": "get-comments-comment",
                "summary": "Retrieve a given comment",
                "description": "Retrieves a given comment.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID of the comment",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            },
            "post": {
                "tags": [
                    "Comments"
                ],
                "operationId": "post-comments-comment",
                "summary": "Create or edit a comment for the specified item",
                "description": "Creates or edits a comment for the specified item.",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Type of item: episode|show|member|movie|event|poll|article (Mandatory for creation, or reference)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID of the item in question (Mandatory for creation, or reference)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "reference",
                        "in": "query",
                        "description": "Reference ID of the item in question (Mandatory for creation, or type + id)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "in_reply_to",
                        "in": "query",
                        "description": "If a reply, inner_id of the corresponding comment (Optional for creation)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "text",
                        "in": "query",
                        "description": "Text of the comment",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "edit_id",
                        "in": "query",
                        "description": "ID of the comment to edit (Mandatory for editing)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Comments"
                ],
                "operationId": "delete-comments-comment",
                "summary": "Delete a comment from the identified user",
                "description": "Deletes a comment from the identified user.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID of the comment",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            }
        },
        "\/comments\/replies": {
            "get": {
                "tags": [
                    "Comments"
                ],
                "operationId": "get-comments-replies",
                "summary": "Retrieve the replies of a given comment",
                "description": "Retrieves the replies of a given comment.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID of the comment",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Chronological return order, desc or asc (Default asc)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "asc"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "\/comments\/comment_event": {
            "post": {
                "tags": [
                    "Comments"
                ],
                "operationId": "post-comments-comment-event",
                "summary": "Create a comment for an event",
                "description": "Creates a comment for an event.",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Type of the event: film_add|markas.... (Optional if id provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "element_id",
                        "in": "query",
                        "description": "ID of the element involved in the event (Optional if id provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID of the event to comment on (Optional if type + element_id provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "text",
                        "in": "query",
                        "description": "Text of the comment",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            }
        },
        "\/comments\/subscription": {
            "post": {
                "tags": [
                    "Comments"
                ],
                "operationId": "post-comments-subscription",
                "summary": "Subscribe the member to email notifications for the given item",
                "description": "Subscribes the member to email notifications for the given item.",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Type of item: episode|show|member|movie",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID of the item in question",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Comments"
                ],
                "operationId": "delete-comments-subscription",
                "summary": "Unsubscribe the member from email notifications for the given item",
                "description": "Unsubscribes the member from email notifications for the given item.",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Type of item: episode|show|member|movie",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID of the item in question",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            }
        },
        "\/comments\/thumb": {
            "post": {
                "tags": [
                    "Comments"
                ],
                "operationId": "post-comments-thumb",
                "summary": "Add a vote for the user for the given comment",
                "description": "Adds a vote for the user for the given comment.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID of the comment",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Type of the vote (-1 for a downvote, 1 for an upvote)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "switch",
                        "in": "query",
                        "description": "Whether the user switches their existing vote (default false)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "false"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Comments"
                ],
                "operationId": "delete-comments-thumb",
                "summary": "Remove the user's vote for the given comment",
                "description": "Removes the user's vote for the given comment.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID of the comment",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            }
        },
        "\/comments\/status": {
            "get": {
                "tags": [
                    "Comments"
                ],
                "operationId": "get-comments-status",
                "summary": "Retrieve the status of comments on the given item (closed or open)",
                "description": "Retrieves the status of comments on the given item (closed or open).",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Type of item: episode|show|member|movie",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID of the item in question",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "\/episodes\/note": {
            "post": {
                "tags": [
                    "Episodes"
                ],
                "operationId": "post-episodes-note",
                "summary": "Rate an episode",
                "description": "Rate an episode with a score from 1 to 5.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Episode ID (Optional if thetvdb_id provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "thetvdb_id",
                        "in": "query",
                        "description": "Episode ID on TheTVDB (Optional if id provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "note",
                        "in": "query",
                        "description": "Rating from 1 to 5",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Episodes"
                ],
                "operationId": "delete-episodes-note",
                "summary": "Remove a rating",
                "description": "Delete an episode's rating.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Episode ID (Optional if thetvdb_id provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "thetvdb_id",
                        "in": "query",
                        "description": "Episode ID on TheTVDB (Optional if id provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            }
        },
        "\/episodes\/list": {
            "get": {
                "tags": [
                    "Episodes"
                ],
                "operationId": "get-episodes-list",
                "summary": "Retrieve the list of episodes to watch.",
                "description": "Fetch the list of episodes to watch, with various filters and pagination options.",
                "parameters": [
                    {
                        "name": "subtitles",
                        "in": "query",
                        "description": "Display episodes with specific subtitles available: all|vovf|vo|vf (Optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit to a number of episodes per series (Optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "showsLimit",
                        "in": "query",
                        "description": "Limit to a number of series (Optional, default 50)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for series pagination (Optional, default 1)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "showId",
                        "in": "query",
                        "description": "Series ID (Optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "showTheTVDBId",
                        "in": "query",
                        "description": "Series ID on TheTVDB (Optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "showIMDBId",
                        "in": "query",
                        "description": "Series ID on IMDB (Optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "userId",
                        "in": "query",
                        "description": "Member's ID (Optional, default identified member)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "specials",
                        "in": "query",
                        "description": "Include special episodes in the return (Optional, default not returned)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "released",
                        "in": "query",
                        "description": "If 1, displays only released episodes, 2 for upcoming, 0 for both (Optional, default 1)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Order of episode appearance, \"account\" for account order, \"smart\" for current viewing order (Optional, default account)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "since",
                        "in": "query",
                        "description": "Timestamp to mark episodes released after this date (Optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "excludes",
                        "in": "query",
                        "description": "If specified, removes certain blocks from the return: characters (Optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "platforms",
                        "in": "query",
                        "description": "List of platform IDs where the episodes must be available (Optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "with_rewatch",
                        "in": "query",
                        "description": "Indicates if episodes to rewatch appear in the list for premium users (possible values : 0 or 1. Optional, default 0)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            }
        },
        "\/episodes\/downloaded": {
            "post": {
                "tags": [
                    "Episodes"
                ],
                "operationId": "post-episodes-downloaded",
                "summary": "Mark an episode as downloaded",
                "description": "Indicate an episode has been downloaded.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Episode ID (Optional if thetvdb_id provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "thetvdb_id",
                        "in": "query",
                        "description": "Episode ID on TheTVDB (Optional if id provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Episodes"
                ],
                "operationId": "delete-episodes-downloaded",
                "summary": "Remove the downloaded mark",
                "description": "Unmark an episode as downloaded.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Episode ID (Optional if thetvdb_id provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "thetvdb_id",
                        "in": "query",
                        "description": "Episode ID on TheTVDB (Optional if id provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            }
        },
        "\/episodes\/watched": {
            "post": {
                "tags": [
                    "Episodes"
                ],
                "operationId": "post-episodes-watched",
                "summary": "Mark an episode as watched",
                "description": "Mark one or more episodes as watched, with options to specify multiple episodes, bulk marking, and deletion of future episode marks.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Episode ID (Optional if thetvdb_id provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "thetvdb_id",
                        "in": "query",
                        "description": "Episode ID on TheTVDB (Optional if id provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "youtube_id",
                        "in": "query",
                        "description": "Episode ID on YouTube (Optional if id provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "bulk",
                        "in": "query",
                        "description": "If specified, all previous episodes will also be marked as watched (default true)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "delete",
                        "in": "query",
                        "description": "If specified, all subsequent episodes will no longer be marked as watched",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "note",
                        "in": "query",
                        "description": "If a rating between 1 and 5 is specified, rate the episode",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Episodes"
                ],
                "operationId": "delete-episodes-watched",
                "summary": "Unmark an episode as watched",
                "description": "Remove the watched mark from one or more episodes, allowing for multiple episodes to be specified.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Episode ID (Optional if thetvdb_id provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "thetvdb_id",
                        "in": "query",
                        "description": "Episode ID on TheTVDB (Optional if id provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            }
        },
        "\/episodes\/display": {
            "get": {
                "tags": [
                    "Episodes"
                ],
                "operationId": "get-episodes-display",
                "summary": "Display information of an episode",
                "description": "Show details of one or more episodes, allowing for multiple IDs and various information sources.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Episode ID. Multiple IDs can be specified separated by a comma (Optional if thetvdb_id provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "thetvdb_id",
                        "in": "query",
                        "description": "Episode ID on TheTVDB. Multiple IDs can be specified separated by a comma (Optional if id provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "youtube_id",
                        "in": "query",
                        "description": "Episode ID on YouTube. Multiple IDs can be specified separated by a comma (Optional if id provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "subtitles",
                        "in": "query",
                        "description": "Display subtitles if specified (Optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "\/episodes\/scraper": {
            "get": {
                "tags": [
                    "Episodes"
                ],
                "operationId": "get-episodes-scraper",
                "summary": "Retrieve episode information",
                "description": "Fetch episode details from a given file name.",
                "parameters": [
                    {
                        "name": "file",
                        "in": "query",
                        "description": "File name to process",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            }
        },
        "\/episodes\/search": {
            "get": {
                "tags": [
                    "Episodes"
                ],
                "operationId": "get-episodes-search",
                "summary": "Retrieve episode information",
                "description": "Fetch episode details based on series ID, URL, episode number, or subtitles.",
                "parameters": [
                    {
                        "name": "show_id",
                        "in": "query",
                        "description": "Series ID for the episode to search",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "url",
                        "in": "query",
                        "description": "URL of the series to search (Optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "number",
                        "in": "query",
                        "description": "Episode number, either SxxExx or the global number",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "subtitles",
                        "in": "query",
                        "description": "If specified, returns subtitles for episodes",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            }
        },
        "\/episodes\/latest": {
            "get": {
                "tags": [
                    "Episodes"
                ],
                "operationId": "get-episodes-latest",
                "summary": "Retrieve the latest aired episode",
                "description": "Fetch the most recently aired episode of a specific series.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Series ID. Multiple IDs can be separated by a comma (Optional if thetvdb_id provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "thetvdb_id",
                        "in": "query",
                        "description": "Series ID on TheTVDB. Multiple IDs can be separated by a comma (Optional if id provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "specials",
                        "in": "query",
                        "description": "Include special episodes (default false)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            }
        },
        "\/episodes\/next": {
            "get": {
                "tags": [
                    "Episodes"
                ],
                "operationId": "get-episodes-next",
                "summary": "Retrieve the next episode",
                "description": "Fetch the upcoming episode of a specific series.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Series ID. Multiple IDs can be separated by a comma (Optional if thetvdb_id provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "thetvdb_id",
                        "in": "query",
                        "description": "Series ID on TheTVDB. Multiple IDs can be separated by a comma (Optional if id provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "specials",
                        "in": "query",
                        "description": "Include special episodes (default false)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            }
        },
        "\/episodes\/hidden": {
            "post": {
                "tags": [
                    "Episodes"
                ],
                "operationId": "post-episodes-hidden",
                "summary": "Mark an episode as not to watch",
                "description": "Indicate an episode or multiple episodes as not to be watched.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Identifier of the episode to mark. Multiple IDs can be separated by a comma",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Episodes"
                ],
                "operationId": "delete-episodes-hidden",
                "summary": "Remove an episode from the hidden list",
                "description": "Unmark an episode or multiple episodes from being hidden.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Identifier of the episode to remove. Multiple IDs can be separated by a comma",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            }
        },
        "\/episodes\/unrated": {
            "get": {
                "tags": [
                    "Episodes"
                ],
                "operationId": "get-episodes-unrated",
                "summary": "Retrieve the list of watched and unrated episodes",
                "description": "Fetch the list of episodes that have been watched but not yet rated.",
                "parameters": [
                    {
                        "name": "nbpp",
                        "in": "query",
                        "description": "Number of results per page, default 20",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number, default 1",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "Time limit, yesterday for episodes watched yesterday, all for all watched episodes (Optional, default yesterday)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            }
        },
        "\/episodes\/rewatch": {
            "post": {
                "tags": [
                    "Episodes"
                ],
                "operationId": "post-episodes-rewatch",
                "summary": "Mark an episode as rewatched",
                "description": "Mark one or more episodes as rewatched.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Episode ID (You can provide several ids separated by a comma)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "bulk",
                        "in": "query",
                        "description": "If specified, all previous episodes will also be marked as rewatched (default true)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Episodes"
                ],
                "operationId": "delete-episodes-rewatch",
                "summary": "Unmark an episode as rewatched",
                "description": "Remove the last rewatched mark from one episode.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Episode ID",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "all",
                        "in": "query",
                        "description": "Remove all rewatch for the given episode (int 0|1)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "Precisely removes the rewatch for the given episode (format Y-m-d H:i:s)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            }
        },
        "\/friends\/list": {
            "get": {
                "tags": [
                    "Friends"
                ],
                "operationId": "get-friends-list",
                "summary": "Retrieves friends List",
                "description": "Retrieves the list of friends of the member.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Member ID, optional, if not specified uses the identified member. If specified, blocked=false.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "blocked",
                        "in": "query",
                        "description": "If specified, returns the list of blocked people",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "summary",
                        "in": "query",
                        "description": "Returns the last action of friends (Default false)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit on the number of friends to display (optional, default all friends are returned)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number, default 1",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "\/friends\/requests": {
            "get": {
                "tags": [
                    "Friends"
                ],
                "operationId": "get-friends-requests",
                "summary": "Retrieves sent requests",
                "description": "Retrieves the list of requests sent by the user.",
                "parameters": [
                    {
                        "name": "received",
                        "in": "query",
                        "description": "If specified, returns the list of received requests",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            }
        },
        "\/friends\/friend": {
            "post": {
                "tags": [
                    "Friends"
                ],
                "operationId": "post-friends-friend",
                "summary": "Adds a friend",
                "description": "Adds a friend to the user's account.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Member ID to add as a friend",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Friends"
                ],
                "operationId": "delete-friends-friend",
                "summary": "Removes a friend",
                "description": "Removes a friend from the user's account.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Member ID to remove",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            }
        },
        "\/friends\/block": {
            "post": {
                "tags": [
                    "Friends"
                ],
                "operationId": "post-friends-block",
                "summary": "Blocks a user",
                "description": "Blocks a user.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Member ID to block",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Friends"
                ],
                "operationId": "delete-friends-block",
                "summary": "Unblocks a user",
                "description": "Unblocks a user.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Member ID to unblock",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            }
        },
        "\/discover": {
            "get": {
                "tags": [
                    "Model"
                ],
                "operationId": "get-discover",
                "summary": "Discover MCP server capabilities",
                "description": "Get Model Context Protocol server capabilities and available resources.",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "\/resources": {
            "get": {
                "tags": [
                    "Model"
                ],
                "operationId": "get-resources",
                "summary": "List available resources",
                "description": "List all resources available through this MCP server.",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "string Filter resources by type",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "\/resources\/{id}": {
            "get": {
                "tags": [
                    "Model"
                ],
                "operationId": "get-resources-id-",
                "summary": "Get resource details",
                "description": "Get detailed information about a specific resource.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "string required The ID of the resource to retrieve",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "\/query": {
            "post": {
                "tags": [
                    "Model"
                ],
                "operationId": "post-query",
                "summary": "Query resources",
                "description": "Perform a search query against available resources.",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "description": "string required Query string to search for",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "string Type of resources to search (shows, movies, users)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "integer Maximum number of results to return",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "\/execute": {
            "post": {
                "tags": [
                    "Model"
                ],
                "operationId": "post-execute",
                "summary": "Execute action",
                "description": "Execute an action through the MCP server.",
                "parameters": [
                    {
                        "name": "action",
                        "in": "query",
                        "description": "string required Action to execute",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "parameters",
                        "in": "query",
                        "description": "object Parameters for the action",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "\/version": {
            "get": {
                "tags": [
                    "Model"
                ],
                "operationId": "get-version",
                "summary": "Get server version",
                "description": "Get MCP server and protocol version information.",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "\/setCredentials": {
            "post": {
                "tags": [
                    "Model"
                ],
                "operationId": "post-setcredentials",
                "summary": "Set API credentials for LLM",
                "description": "Set API key and optionally an API token for LLM authentication.",
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "string required The API key for authentication",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "api_token",
                        "in": "query",
                        "description": "string Optional API token for additional authentication",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "\/profile-filters\/filter": {
            "delete": {
                "tags": [
                    "Members"
                ],
                "operationId": "delete-profile-filters-filter",
                "summary": "Deletes filter",
                "description": "Deletes the filter for the connected member for the type of media.",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Type of media (show or movie)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            }
        },
        "\/members\/options": {
            "get": {
                "tags": [
                    "Members"
                ],
                "operationId": "get-members-options",
                "summary": "Retrieves member options",
                "description": "Retrieves member options (subtitles).",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "BetaSeriesApiKey": [],
                        "BetaSeriesToken": []
                    }
                ]
            }
        },
        "\/members\/auth": {
            "post": {
                "tags": [
                    "Members"
                ],
                "operationId": "post-members-auth",
                "summary": "Standard member authentication",
                "description": "Standard member authentication.",
                "parameters": [
                    {
                        "name": "login",
                        "in": "query",
                        "description": "Identifier (login or e-mail)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "MD5 encrypted password",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "\/members\/oauth": {
            "post": {
                "tags": [
                    "Members"
                ],
                "operationId": "post-members-oauth",
                "summary": "OAuth Authentication",
                "description": "OAuth authentication. Redirects the user to the callback URL specified in your account with the GET parameter token.",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "\/members\/access_token": {
            "post": {
                "tags": [
                    "Members"
                ],
                "operationId": "post-members-access-token",
                "summary": "OAuth2 Access Token",
                "description": "Retrieves an access token with the code provided by OAuth 2 authentication.",
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "Your API key.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "query",
                        "description": "The secret key provided in your key information.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "redirect_uri",
                        "in": "query",
                        "description": "The callback address you had already provided for the first part.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Code obtained from the first part of authentication.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "\/members\/infos": {
            "get": {
                "tags": [
                    "Members"
                ],
                "operationId": "get-members-infos",
                "summary": "Returns member information",
                "description": "Returns information of a member, defaulting to the identified member. Use movies\/member to retrieve movies and shows\/member for series.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Member ID (optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/LocaleParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "\/members\/username": {
            "get": {
                "tags": [
                    "Members"
                ],
                "operationId": "get-members-username",
                "summary": "Returns available usernames",
                "description": "Returns available username options on BetaSeries.",
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "description": "Username",
[...]
