# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Raycast
.raycast/
dist/
publish/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?
