# Raycast
.raycast-swift-build
.swiftpm
compiled_raycast_swift
compiled_raycast_rust
raycast-env.d.ts

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build outputs
dist/
build/
out/

# Environment variables
.env
.env.local
.env.*.local

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Testing
coverage/
.nyc_output/

# Pnpm
.pnpm-store/
