openapi: 3.0.3
info:
  description: |
    You can use Spotify's Web API to discover music and podcasts, manage your Spotify library, control audio playback, and much more. Browse our available Web API endpoints using the sidebar at left, or via the navigation bar on top of this page on smaller screens.

    In order to make successful Web API requests your app will need a valid access token. One can be obtained through <a href="https://developer.spotify.com/documentation/general/guides/authorization-guide/">OAuth 2.0</a>.

    The base URI for all Web API requests is `https://api.spotify.com/v1`.

    Need help? See our <a href="https://developer.spotify.com/documentation/web-api/guides/">Web API guides</a> for more information, or visit the <a href="https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer">Spotify for Developers community forum</a> to ask questions and connect with other developers.
  version: 2023.2.27
  title: Spotify Web API with fixes and improvements from sonallux
  termsOfService: https://developer.spotify.com/terms/
  contact:
    name: sonallux
    url: https://github.com/sonallux/spotify-web-api
servers:
- url: https://api.spotify.com/v1
paths:
  /albums/{id}:
    x-spotify-docs-display-name: album
    x-spotify-docs-category: Albums
    get:
      operationId: get-an-album
      tags:
      - Albums
      x-spotify-docs-endpoint-name: Get an Album
      x-spotify-docs-console-url: /console/get-album/?id=0sNOF9WDwhWunNAHPD3Baj
      summary: |
        Get Album
      description: |
        Get Spotify catalog information for a single album.
      parameters:
      - $ref: '#/components/parameters/PathAlbumId'
      - $ref: '#/components/parameters/QueryMarket'
      responses:
        "200":
          $ref: '#/components/responses/OneAlbum'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /albums:
    x-spotify-docs-display-name: several-albums
    x-spotify-docs-category: Albums
    get:
      operationId: get-multiple-albums
      tags:
      - Albums
      x-spotify-docs-endpoint-name: Get Multiple Albums
      x-spotify-docs-console-url: /console/get-several-albums/
      summary: |
        Get Several Albums
      description: |
        Get Spotify catalog information for multiple albums identified by their Spotify IDs.
      parameters:
      - $ref: '#/components/parameters/QueryAlbumIds'
      - $ref: '#/components/parameters/QueryMarket'
      responses:
        "200":
          $ref: '#/components/responses/ManyAlbums'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /albums/{id}/tracks:
    x-spotify-docs-display-name: album-tracks
    x-spotify-docs-category: Albums
    get:
      operationId: get-an-albums-tracks
      tags:
      - Albums
      - Tracks
      x-spotify-docs-endpoint-name: Get an Album's Tracks
      x-spotify-docs-console-url: /console/get-album-tracks/
      summary: |
        Get Album Tracks
      description: |
        Get Spotify catalog information about an album’s tracks.
        Optional parameters can be used to limit the number of tracks returned.
      parameters:
      - $ref: '#/components/parameters/PathAlbumId'
      - $ref: '#/components/parameters/QueryMarket'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryOffset'
      responses:
        "200":
          $ref: '#/components/responses/PagingSimplifiedTrackObject'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /artists/{id}:
    x-spotify-docs-display-name: artist
    x-spotify-docs-category: Artists
    get:
      tags:
      - Artists
      operationId: get-an-artist
      x-spotify-docs-endpoint-name: Get an Artist
      x-spotify-docs-console-url: /console/get-artist/?id=0OdUWJ0sBjDrqHygGUXeCF
      summary: |
        Get Artist
      description: |
        Get Spotify catalog information for a single artist identified by their unique Spotify ID.
      parameters:
      - $ref: '#/components/parameters/PathArtistId'
      responses:
        "200":
          $ref: '#/components/responses/OneArtist'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /artists:
    x-spotify-docs-display-name: several-artists
    x-spotify-docs-category: Artists
    get:
      tags:
      - Artists
      operationId: get-multiple-artists
      x-spotify-docs-endpoint-name: Get Multiple Artists
      x-spotify-docs-console-url: "/console/get-several-artists/?ids=0oSGxfWSnnOXhD2fKuz2Gy,3dBVyJ7JuOMt4GE9607Qin"
      summary: |
        Get Several Artists
      description: |
        Get Spotify catalog information for several artists based on their Spotify IDs.
      parameters:
      - name: ids
        required: true
        in: query
        schema:
          title: Spotify Artist IDs
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/#spotify-uris-and-ids) for the artists. Maximum: 50 IDs.
          example: "2CIMQHirSU0MQqyYHq0eOx,57dN52uHvrHOxijzpIgu3E,1vCWHaC5f2uS3yhpwWbIA6"
          type: string
      responses:
        "200":
          $ref: '#/components/responses/ManyArtists'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /artists/{id}/albums:
    x-spotify-docs-display-name: artist-albums
    x-spotify-docs-category: Artists
    get:
      tags:
      - Artists
      - Albums
      operationId: get-an-artists-albums
      x-spotify-docs-endpoint-name: Get an Artist's Albums
      x-spotify-docs-console-url: /console/get-artist-albums/?album_type=single&amp;limit=2&amp;market=ES&amp;id=1vCWHaC5f2uS3yhpwWbIA6
      summary: |
        Get Artist's Albums
      description: |
        Get Spotify catalog information about an artist's albums.
      parameters:
      - $ref: '#/components/parameters/PathArtistId'
      - $ref: '#/components/parameters/QueryIncludeGroups'
      - $ref: '#/components/parameters/QueryMarket'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryOffset'
      responses:
        "200":
          $ref: '#/components/responses/PagingSimplifiedAlbumObject'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /artists/{id}/top-tracks:
    x-spotify-docs-display-name: artist-top-tracks
    x-spotify-docs-category: Artists
    get:
      tags:
      - Artists
      - Tracks
      operationId: get-an-artists-top-tracks
      x-spotify-docs-endpoint-name: Get an Artist's Top Tracks
      x-spotify-docs-console-url: /console/get-artist-top-tracks/?country=SE&amp;id=43ZHCT0cAZBISjO8DG9PnE
      summary: |
        Get Artist's Top Tracks
      description: |
        Get Spotify catalog information about an artist's top tracks by country.
      parameters:
      - $ref: '#/components/parameters/PathArtistId'
      - $ref: '#/components/parameters/QueryMarket'
      responses:
        "200":
          $ref: '#/components/responses/ManyTracks'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /artists/{id}/related-artists:
    x-spotify-docs-display-name: artist-related-artists
    x-spotify-docs-category: Artists
    get:
      tags:
      - Artists
      operationId: get-an-artists-related-artists
      x-spotify-docs-endpoint-name: Get an Artist's Related Artists
      x-spotify-docs-console-url: /console/get-artist-related-artists/?id=43ZHCT0cAZBISjO8DG9PnE
      summary: |
        Get Artist's Related Artists
      description: |
        Get Spotify catalog information about artists similar to a given artist. Similarity is based on analysis of the Spotify community's [listening history](http://news.spotify.com/se/2010/02/03/related-artists/).
      parameters:
      - $ref: '#/components/parameters/PathArtistId'
      responses:
        "200":
          $ref: '#/components/responses/ManyArtists'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /shows/{id}:
    x-spotify-docs-display-name: show
    x-spotify-docs-category: Shows
    get:
      tags:
      - Shows
      operationId: get-a-show
      x-spotify-docs-endpoint-name: Get a Show
      x-spotify-docs-console-url: /console/get-show/?id=38bS44xjbVVZ3No3ByF1dJ
      summary: |
        Get Show
      description: |
        Get Spotify catalog information for a single show identified by its
        unique Spotify ID.
      parameters:
      - $ref: '#/components/parameters/QueryMarket'
      - $ref: '#/components/parameters/PathShowId'
      responses:
        "200":
          $ref: '#/components/responses/OneShow'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-read-playback-position
  /shows:
    x-spotify-docs-display-name: several-shows
    x-spotify-docs-category: Shows
    get:
      tags:
      - Shows
      operationId: get-multiple-shows
      x-spotify-docs-endpoint-name: Get Multiple Shows
      x-spotify-docs-console-url: "/console/get-several-shows/?ids=5CfCWKI5pZ28U0uOzXkDHe,5as3aKmN2k11yfDDDSrvaZ"
      summary: |
        Get Several Shows
      description: |
        Get Spotify catalog information for several shows based on their Spotify IDs.
      parameters:
      - $ref: '#/components/parameters/QueryMarket'
      - $ref: '#/components/parameters/QueryShowIds'
      responses:
        "200":
          $ref: '#/components/responses/ManySimplifiedShows'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /shows/{id}/episodes:
    x-spotify-docs-display-name: show-episodes
    x-spotify-docs-category: Shows
    get:
      tags:
      - Shows
      - Episodes
      operationId: get-a-shows-episodes
      x-spotify-docs-endpoint-name: Get a Show's Episodes
      x-spotify-docs-console-url: /console/get-show-episodes/
      summary: |
        Get Show Episodes
      description: |
        Get Spotify catalog information about an show’s episodes. Optional parameters can be used to limit the number of episodes returned.
      parameters:
      - $ref: '#/components/parameters/PathShowId'
      - $ref: '#/components/parameters/QueryMarket'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryOffset'
      responses:
        "200":
          $ref: '#/components/responses/PagingSimplifiedEpisodeObject'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-read-playback-position
  /episodes/{id}:
    x-spotify-docs-display-name: episode
    x-spotify-docs-category: Episodes
    get:
      tags:
      - Episodes
      operationId: get-an-episode
      x-spotify-docs-endpoint-name: Get an Episode
      x-spotify-docs-console-url: /console/get-episode/?id=512ojhOuo1ktJprKbVcKyQ
      summary: |
        Get Episode
      description: |
        Get Spotify catalog information for a single episode identified by its
        unique Spotify ID.
      parameters:
      - name: id
        required: true
        in: path
        schema:
          title: Get an Episode
          description: "The [Spotify ID](/documentation/web-api/#spotify-uris-and-ids)\
            \ for the episode."
          example: 512ojhOuo1ktJprKbVcKyQ
          type: string
      - $ref: '#/components/parameters/QueryMarket'
      responses:
        "200":
          $ref: '#/components/responses/OneEpisode'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-read-playback-position
  /episodes:
    x-spotify-docs-display-name: several-episodes
    x-spotify-docs-category: Episodes
    get:
      tags:
      - Episodes
      operationId: get-multiple-episodes
      x-spotify-docs-endpoint-name: Get Multiple Episodes
      x-spotify-docs-console-url: "/console/get-several-episodes/?ids=77o6BIVlYM3msb4MMIL1jH,0Q86acNRm6V9GYx55SXKwf"
      summary: |
        Get Several Episodes
      description: |
        Get Spotify catalog information for several episodes based on their Spotify IDs.
      parameters:
      - name: ids
        required: true
        in: query
        schema:
          title: Ids
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/#spotify-uris-and-ids) for the episodes. Maximum: 50 IDs.
          example: "77o6BIVlYM3msb4MMIL1jH,0Q86acNRm6V9GYx55SXKwf"
          type: string
      - $ref: '#/components/parameters/QueryMarket'
      responses:
        "200":
          $ref: '#/components/responses/ManyEpisodes'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-read-playback-position
  /audiobooks/{id}:
    x-spotify-docs-display-name: audiobook
    x-spotify-docs-category: Audiobooks
    get:
      operationId: get-an-audiobook
      tags:
      - Audiobooks
      x-spotify-docs-endpoint-name: Get an Audiobook
      x-spotify-docs-console-url: /console/get-audiobook/?id=5thw29eqjomhIDMY1XKsLk
      summary: |
        Get an Audiobook
      description: |
        Get Spotify catalog information for a single audiobook.<br />
        **Note: Audiobooks are only available for the US, UK, Ireland, New Zealand and Australia markets.**
      parameters:
      - $ref: '#/components/parameters/PathAudiobookId'
      - $ref: '#/components/parameters/QueryMarket'
      responses:
        "200":
          $ref: '#/components/responses/OneAudiobook'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /audiobooks:
    x-spotify-docs-display-name: several-audiobooks
    x-spotify-docs-category: Audiobooks
    get:
      operationId: get-multiple-audiobooks
      tags:
      - Audiobooks
      x-spotify-docs-endpoint-name: Get Several Audiobooks
      x-spotify-docs-console-url: "/console/get-several-audiobooks/?ids=5thw29eqjomhIDMY1XKsLk,2IEBhnu61ieYGFRPEJIO40"
      summary: |
        Get Several Audiobooks
      description: |
        Get Spotify catalog information for several audiobooks identified by their Spotify IDs.<br />
        **Note: Audiobooks are only available for the US, UK, Ireland, New Zealand and Australia markets.**
      parameters:
      - $ref: '#/components/parameters/QueryAudiobookIds'
      - $ref: '#/components/parameters/QueryMarket'
      responses:
        "200":
          $ref: '#/components/responses/ManyAudiobooks'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /audiobooks/{id}/chapters:
    x-spotify-docs-display-name: audiobook-chapters
    x-spotify-docs-category: Audiobooks
    get:
      operationId: get-audiobook-chapters
      tags:
      - Audiobooks
      - Chapters
      x-spotify-docs-endpoint-name: Get an Audiobook's Chapters
      x-spotify-docs-console-url: /console/get-audiobook-chapters/?id=5thw29eqjomhIDMY1XKsLk
      summary: |
        Get Audiobook Chapters
      description: |
        Get Spotify catalog information about an audiobook's chapters.<br />
        **Note: Audiobooks are only available for the US, UK, Ireland, New Zealand and Australia markets.**
      parameters:
      - $ref: '#/components/parameters/PathAudiobookId'
      - $ref: '#/components/parameters/QueryMarket'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryOffset'
      responses:
        "200":
          $ref: '#/components/responses/PagingSimplifiedChapterObject'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /me/audiobooks:
    x-spotify-docs-display-name: current-user-saved-audiobooks
    x-spotify-docs-category: Library
    get:
      tags:
      - Audiobooks
      - Library
      operationId: get-users-saved-audiobooks
      x-spotify-docs-endpoint-name: Get User's Saved Audiobooks
      x-spotify-docs-console-url: /console/get-current-user-saved-audiobooks/?limit=1
      summary: |
        Get User's Saved Audiobooks
      description: |
        Get a list of the audiobooks saved in the current Spotify user's 'Your Music' library.
      parameters:
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryOffset'
      responses:
        "200":
          $ref: '#/components/responses/PagingSavedAudiobookObject'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-read
    put:
      tags:
      - Audiobooks
      - Library
      operationId: save-audiobooks-user
      x-spotify-docs-endpoint-name: Save Audiobooks for Current User
      x-spotify-docs-console-url: /console/put-current-user-saved-audiobooks/?ids=07bYtmE3bPsLB6ZbmmFi8d%2C48JYNjh7GMie6NjqYHMmtT%2C27cZdqrQiKt3IT00338dws
      summary: |
        Save Audiobooks for Current User
      description: |
        Save one or more audiobooks to the current Spotify user's library.
      parameters:
      - $ref: '#/components/parameters/QueryAudiobookIds'
      responses:
        "200":
          description: Audiobook(s) are saved to the library
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-modify
    delete:
      tags:
      - Audiobooks
      - Library
      operationId: remove-audiobooks-user
      x-spotify-docs-endpoint-name: Remove Audiobooks for Current User
      x-spotify-docs-console-url: /console/delete-current-user-saved-audiobooks/?ids=07bYtmE3bPsLB6ZbmmFi8d%2C48JYNjh7GMie6NjqYHMmtT%2C27cZdqrQiKt3IT00338dws
      summary: |
        Remove User's Saved Audiobooks
      description: |
        Remove one or more audiobooks from the Spotify user's library.
      parameters:
      - $ref: '#/components/parameters/QueryAudiobookIds'
      responses:
        "200":
          description: Audiobook(s) have been removed from the library
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-modify
  /me/audiobooks/contains:
    x-spotify-docs-display-name: current-user-contains-saved-audiobooks
    x-spotify-docs-category: Library
    get:
      tags:
      - Audiobooks
      - Library
      operationId: check-users-saved-audiobooks
      x-spotify-docs-endpoint-name: Check User's Saved Audiobooks
      x-spotify-docs-console-url: /console/get-current-user-contains-saved-audiobooks/?ids=0pJJgBzj26qnE1nSQUxaB0%2C5ZAKzV4ZIa5Gt7z29OYHv0
      summary: |
        Check User's Saved Audiobooks
      description: |
        Check if one or more audiobooks are already saved in the current Spotify user's library.
      parameters:
      - $ref: '#/components/parameters/QueryAudiobookIds'
      responses:
        "200":
          $ref: '#/components/responses/ArrayOfBooleans'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-read
  /chapters/{id}:
    x-spotify-docs-display-name: chapters
    x-spotify-docs-category: Chapters
    get:
      operationId: get-a-chapter
      tags:
      - Chapters
      x-spotify-docs-endpoint-name: Get a Chapter
      x-spotify-docs-console-url: /console/get-chapter/?id=2i47HuOBSV2XaJNy0NCZXM
      summary: |
        Get a Chapter
      description: |
        Get Spotify catalog information for a single chapter.<br />
        **Note: Chapters are only available for the US, UK, Ireland, New Zealand and Australia markets.**
      parameters:
      - $ref: '#/components/parameters/PathChapterId'
      - $ref: '#/components/parameters/QueryMarket'
      responses:
        "200":
          $ref: '#/components/responses/OneChapter'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /chapters:
    x-spotify-docs-display-name: several-chapters
    x-spotify-docs-category: Chapters
    get:
      operationId: get-several-chapters
      tags:
      - Chapters
      x-spotify-docs-endpoint-name: Get Several Chapters
      x-spotify-docs-console-url: "/console/get-several-chapters/?ids=2i47HuOBSV2XaJNy0NCZXM,2GUbORsUnP1qVVlLwd9DzP"
      summary: |
        Get Several Chapters
      description: |
        Get Spotify catalog information for several chapters identified by their Spotify IDs.<br />
        **Note: Chapters are only available for the US, UK, Ireland, New Zealand and Australia markets.**
      parameters:
      - $ref: '#/components/parameters/QueryChapterIds'
      - $ref: '#/components/parameters/QueryMarket'
      responses:
        "200":
          $ref: '#/components/responses/ManyChapters'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /tracks/{id}:
    x-spotify-docs-display-name: track
    x-spotify-docs-category: Tracks
    get:
      tags:
      - Tracks
      operationId: get-track
      x-spotify-docs-endpoint-name: Get a Track
      x-spotify-docs-console-url: /console/get-track/?id=3n3Ppam7vgaVa1iaRUc9Lp
      summary: |
        Get Track
      description: |
        Get Spotify catalog information for a single track identified by its
        unique Spotify ID.
      parameters:
      - name: id
        required: true
        in: path
        schema:
          title: Spotify Track ID
          description: |
            The [Spotify ID](/documentation/web-api/#spotify-uris-and-ids)
            for the track.
          example: 11dFghVXANMlKmJXsNCbNl
          type: string
      - $ref: '#/components/parameters/QueryMarket'
      responses:
        "200":
          $ref: '#/components/responses/OneTrack'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /tracks:
    x-spotify-docs-display-name: several-tracks
    x-spotify-docs-category: Tracks
    get:
      tags:
      - Tracks
      operationId: get-several-tracks
      x-spotify-docs-endpoint-name: Get Several Tracks
      x-spotify-docs-console-url: "/console/get-several-tracks/?ids=3n3Ppam7vgaVa1iaRUc9Lp,3twNvmDtFQtAd5gMKedhLD"
      summary: |
        Get Several Tracks
      description: |
        Get Spotify catalog information for multiple tracks based on their Spotify IDs.
      parameters:
      - $ref: '#/components/parameters/QueryMarket'
      - $ref: '#/components/parameters/QueryTrackIds'
      responses:
        "200":
          $ref: '#/components/responses/ManyTracks'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /search:
    x-spotify-docs-display-name: search-item
    x-spotify-docs-category: Search
    get:
      tags:
      - Search
      operationId: search
      x-spotify-docs-endpoint-name: Search for an Item
      x-spotify-docs-console-url: /console/get-search-item/?q=tania+bowra&amp;type=artist
      summary: |
        Search for Item
      description: |
        Get Spotify catalog information about albums, artists, playlists, tracks, shows, episodes or audiobooks
        that match a keyword string.<br />
        **Note: Audiobooks are only available for the US, UK, Ireland, New Zealand and Australia markets.**
      parameters:
      - name: q
        required: true
        in: query
        schema:
          title: Query
          description: |
            Your search query.

            You can narrow down your search using field filters. The available filters are `album`, `artist`, `track`, `year`, `upc`, `tag:hipster`, `tag:new`, `isrc`, and `genre`. Each field filter only applies to certain result types.

            The `artist` and `year` filters can be used while searching albums, artists and tracks. You can filter on a single `year` or a range (e.g. 1955-1960).<br />
            The `album` filter can be used while searching albums and tracks.<br />
            The `genre` filter can be used while searching artists and tracks.<br />
            The `isrc` and `track` filters can be used while searching tracks.<br />
            The `upc`, `tag:new` and `tag:hipster` filters can only be used while searching albums. The `tag:new` filter will return albums released in the past two weeks and `tag:hipster` can be used to return only albums with the lowest 10% popularity.<br />
          example: remaster%20track:Doxy%20artist:Miles%20Davis
          type: string
      - name: type
        required: true
        explode: false
        in: query
        schema:
          title: Item type
          description: |
            A comma-separated list of item types to search across. Search results include hits
            from all the specified item types. For example: `q=abacab&type=album,track` returns
            both albums and tracks matching "abacab".
          items:
            type: string
            enum:
            - album
            - artist
            - playlist
            - track
            - show
            - episode
            - audiobook
          type: array
      - $ref: '#/components/parameters/QueryMarket'
      - name: limit
        required: false
        in: query
        schema:
          title: Limit
          description: |
            The maximum number of results to return in each item type.
          default: 20
          example: 10
          type: integer
          minimum: 1
          maximum: 50
      - name: offset
        required: false
        in: query
        schema:
          title: Offset
          description: |
            The index of the first result to return. Use
            with limit to get the next page of search results.
          default: 0
          minimum: 0
          maximum: 1000
          example: 5
          type: integer
      - name: include_external
        required: false
        in: query
        schema:
          title: Include External
          description: |
            If `include_external=audio` is specified it signals that the client can play externally hosted audio content, and marks
            the content as playable in the response. By default externally hosted audio content is marked as unplayable in the response.
          type: string
          enum:
          - audio
      responses:
        "200":
          $ref: '#/components/responses/SearchItems'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /me:
    x-spotify-docs-display-name: current-user
    x-spotify-docs-category: Users Profile
    get:
      tags:
      - Users
      operationId: get-current-users-profile
      x-spotify-docs-endpoint-name: Get Current User's Profile
      x-spotify-docs-console-url: /console/get-current-user/
      summary: |
        Get Current User's Profile
      description: |
        Get detailed profile information about the current user (including the
        current user's username).
      responses:
        "200":
          $ref: '#/components/responses/OnePrivateUser'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-read-private
        - user-read-email
  /playlists/{playlist_id}:
    x-spotify-docs-display-name: playlist
    x-spotify-docs-category: Playlists
    get:
      tags:
      - Playlists
      operationId: get-playlist
      x-spotify-docs-endpoint-name: Get a Playlist
      x-spotify-docs-console-url: /console/get-playlist/?playlist_id=59ZbFPES4DQwEjBpWHzrtC&amp;user_id=spotify
      summary: |
        Get Playlist
      description: |
        Get a playlist owned by a Spotify user.
      parameters:
      - $ref: '#/components/parameters/PathPlaylistId'
      - $ref: '#/components/parameters/QueryMarket'
      - name: fields
        required: false
        in: query
        schema:
          title: Fields
          description: |
            Filters for the query: a comma-separated list of the
            fields to return. If omitted, all fields are returned. For example, to get
            just the playlist''s description and URI: `fields=description,uri`. A dot
            separator can be used to specify non-reoccurring fields, while parentheses
            can be used to specify reoccurring fields within objects. For example, to
            get just the added date and user ID of the adder: `fields=tracks.items(added_at,added_by.id)`.
            Use multiple parentheses to drill down into nested objects, for example: `fields=tracks.items(track(name,href,album(name,href)))`.
            Fields can be excluded by prefixing them with an exclamation mark, for example:
            `fields=tracks.items(track(name,href,album(!name,href)))`
          example: "items(added_by.id,track(name,href,album(name,href)))"
          type: string
      - $ref: '#/components/parameters/QueryAdditionalTypes'
      responses:
        "200":
          $ref: '#/components/responses/OnePlaylist'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
    put:
      tags:
      - Playlists
      - Library
      operationId: change-playlist-details
      x-spotify-docs-endpoint-name: Change a Playlist's Details
      x-spotify-docs-console-url: /console/put-playlist/
      summary: |
        Change Playlist Details
      description: |
        Change a playlist's name and public/private state. (The user must, of
        course, own the playlist.)
      parameters:
      - $ref: '#/components/parameters/PathPlaylistId'
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: Updated Playlist Name
                description: Updated playlist description
                public: false
              type: object
              additionalProperties: true
              properties:
                name:
                  type: string
                  description: |
                    The new name for the playlist, for example `"My New Playlist Title"`
                public:
                  type: boolean
                  description: |
                    If `true` the playlist will be public, if `false` it will be private.
                collaborative:
                  type: boolean
                  description: |
                    If `true`, the playlist will become collaborative and other users will be able to modify the playlist in their Spotify client. <br/>
                    _**Note**: You can only set `collaborative` to `true` on non-public playlists._
                description:
                  type: string
                  description: |
                    Value for playlist description as displayed in Spotify Clients and in the Web API.
      responses:
        "200":
          description: Playlist updated
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - playlist-modify-public
        - playlist-modify-private
  /playlists/{playlist_id}/tracks:
    x-spotify-docs-display-name: playlist-tracks
    x-spotify-docs-category: Playlists
    get:
      tags:
      - Playlists
      - Tracks
      operationId: get-playlists-tracks
      x-spotify-docs-endpoint-name: Get a Playlist's Items
      x-spotify-docs-console-url: /console/get-playlist-tracks/?playlist_id=21THa8j9TaSGuXYNBU5tsC&amp;user_id=spotify_espa%C3%B1a
      summary: |
        Get Playlist Items
      description: |
        Get full details of the items of a playlist owned by a Spotify user.
      parameters:
      - $ref: '#/components/parameters/PathPlaylistId'
      - $ref: '#/components/parameters/QueryMarket'
      - name: fields
        required: false
        in: query
        schema:
          title: Fields
          description: |
            Filters for the query: a comma-separated list of the
            fields to return. If omitted, all fields are returned. For example, to get
            just the total number of items and the request limit:<br/>`fields=total,limit`<br/>A
            dot separator can be used to specify non-reoccurring fields, while parentheses
            can be used to specify reoccurring fields within objects. For example, to
            get just the added date and user ID of the adder:<br/>`fields=items(added_at,added_by.id)`<br/>Use
            multiple parentheses to drill down into nested objects, for example:<br/>`fields=items(track(name,href,album(name,href)))`<br/>Fields
            can be excluded by prefixing them with an exclamation mark, for example:<br/>`fields=items.track.album(!external_urls,images)`
          example: "items(added_by.id,track(name,href,album(name,href)))"
          type: string
      - name: limit
        required: false
        in: query
        schema:
          title: Limit
          description: |
            The maximum number of items to return. Default: 20. Minimum: 1. Maximum: 100.
          default: 20
          example: 10
          type: integer
          minimum: 1
          maximum: 100
      - $ref: '#/components/parameters/QueryOffset'
      - $ref: '#/components/parameters/QueryAdditionalTypes'
      responses:
        "200":
          $ref: '#/components/responses/PagingPlaylistTrackObject'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - playlist-read-private
    post:
      tags:
      - Playlists
      - Tracks
      operationId: add-tracks-to-playlist
      x-spotify-docs-endpoint-name: Add Items to a Playlist
      x-spotify-docs-console-url: /console/post-playlist-tracks/
      summary: |
        Add Items to Playlist
      description: |
        Add one or more items to a user's playlist.
      parameters:
      - $ref: '#/components/parameters/PathPlaylistId'
      - name: position
        required: false
        in: query
        schema:
          title: Position (append by default)
          description: |
            The position to insert the items, a zero-based index. For example, to insert the items in the first position: `position=0`; to insert the items in the third position: `position=2`. If omitted, the items will be appended to the playlist. Items are added in the order they are listed in the query string or request body.
          example: 0
          type: integer
      - name: uris
        required: false
        in: query
        schema:
          title: Spotify Track URIs
          description: |
            A comma-separated list of [Spotify URIs](/documentation/web-api/#spotify-uris-and-ids) to add, can be track or episode URIs. For example:<br/>`uris=spotify:track:4iV5W9uYEdYUVa79Axb7Rh, spotify:track:1301WleyT98MSxVHPZCA6M, spotify:episode:512ojhOuo1ktJprKbVcKyQ`<br/>A maximum of 100 items can be added in one request. <br/>
            _**Note**: it is likely that passing a large number of item URIs as a query parameter will exceed the maximum length of the request URI. When adding a large number of items, it is recommended to pass them in the request body, see below._
          example: "spotify:track:4iV5W9uYEdYUVa79Axb7Rh,spotify:track:1301WleyT98MSxVHPZCA6M"
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                uris:
                  description: |
                    A JSON array of the [Spotify URIs](/documentation/web-api/#spotify-uris-and-ids) to add. For example: `{"uris": ["spotify:track:4iV5W9uYEdYUVa79Axb7Rh","spotify:track:1301WleyT98MSxVHPZCA6M", "spotify:episode:512ojhOuo1ktJprKbVcKyQ"]}`<br/>A maximum of 100 items can be added in one request. _**Note**: if the `uris` parameter is present in the query string, any URIs listed here in the body will be ignored._
                  type: array
                  items:
                    type: string
                position:
                  description: |
                    The position to insert the items, a zero-based index. For example, to insert the items in the first position: `position=0` ; to insert the items in the third position: `position=2`. If omitted, the items will be appended to the playlist. Items are added in the order they appear in the uris array. For example: `{"uris": ["spotify:track:4iV5W9uYEdYUVa79Axb7Rh","spotify:track:1301WleyT98MSxVHPZCA6M"], "position": 3}`
                  type: integer
      responses:
        "201":
          $ref: '#/components/responses/PlaylistSnapshotId'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - playlist-modify-public
        - playlist-modify-private
    put:
      tags:
      - Playlists
      - Tracks
      operationId: reorder-or-replace-playlists-tracks
      x-spotify-docs-endpoint-name: Reorder or Replace a Playlist's Items
      x-spotify-docs-console-url: /console/put-playlist-tracks/
      summary: |
        Update Playlist Items
      description: |
        Either reorder or replace items in a playlist depending on the request's parameters.
        To reorder items, include `range_start`, `insert_before`, `range_length` and `snapshot_id` in the request's body.
        To replace items, include `uris` as either a query parameter or in the request's body.
        Replacing items in a playlist will overwrite its existing items. This operation can be used for replacing or clearing items in a playlist.
        <br/>
        **Note**: Replace and reorder are mutually exclusive operations which share the same endpoint, but have different parameters.
        These operations can't be applied together in a single request.
      parameters:
      - $ref: '#/components/parameters/PathPlaylistId'
      - name: uris
        required: false
        in: query
        schema:
          title: Spotify Track URIs
          description: |
            A comma-separated list of [Spotify URIs](/documentation/web-api/#spotify-uris-and-ids) to set, can be track or episode URIs. For example: `uris=spotify:track:4iV5W9uYEdYUVa79Axb7Rh,spotify:track:1301WleyT98MSxVHPZCA6M,spotify:episode:512ojhOuo1ktJprKbVcKyQ`<br/>A maximum of 100 items can be set in one request.
          type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                range_start: 1
                insert_before: 3
                range_length: 2
              type: object
              additionalProperties: true
              properties:
                uris:
                  type: array
                  items:
                    type: string
                range_start:
                  type: integer
                  description: |
                    The position of the first item to be reordered.
                insert_before:
                  type: integer
                  description: |
                    The position where the items should be inserted.<br/>To reorder the items to the end of the playlist, simply set _insert_before_ to the position after the last item.<br/>Examples:<br/>To reorder the first item to the last position in a playlist with 10 items, set _range_start_ to 0, and _insert_before_ to 10.<br/>To reorder the last item in a playlist with 10 items to the start of the playlist, set _range_start_ to 9, and _insert_before_ to 0.
                range_length:
                  type: integer
                  description: |
                    The amount of items to be reordered. Defaults to 1 if not set.<br/>The range of items to be reordered begins from the _range_start_ position, and includes the _range_length_ subsequent items.<br/>Example:<br/>To move the items at index 9-10 to the start of the playlist, _range_start_ is set to 9, and _range_length_ is set to 2.
                snapshot_id:
                  type: string
                  description: |
                    The playlist's snapshot ID against which you want to make the changes.
      responses:
        "200":
          $ref: '#/components/responses/PlaylistSnapshotId'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - playlist-modify-public
        - playlist-modify-private
    delete:
      tags:
      - Playlists
      - Tracks
      operationId: remove-tracks-playlist
      x-spotify-docs-endpoint-name: Remove Items from a Playlist
      x-spotify-docs-console-url: /console/delete-playlist-tracks/
      summary: |
        Remove Playlist Items
      description: |
        Remove one or more items from a user's playlist.
      parameters:
      - $ref: '#/components/parameters/PathPlaylistId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - tracks
              properties:
                tracks:
                  type: array
                  description: |
                    An array of objects containing [Spotify URIs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids) of the tracks or episodes to remove.
                    For example: `{ "tracks": [{ "uri": "spotify:track:4iV5W9uYEdYUVa79Axb7Rh" },{ "uri": "spotify:track:1301WleyT98MSxVHPZCA6M" }] }`. A maximum of 100 objects can be sent at once.
                  items:
                    type: object
                    properties:
                      uri:
                        type: string
                        description: Spotify URI
                snapshot_id:
                  type: string
                  description: |
                    The playlist's snapshot ID against which you want to make the changes.
                    The API will validate that the specified items exist and in the specified positions and make the changes,
                    even if more recent changes have been made to the playlist.
      responses:
        "200":
          $ref: '#/components/responses/PlaylistSnapshotId'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - playlist-modify-public
        - playlist-modify-private
  /me/playlists:
    x-spotify-docs-display-name: current-user-playlists
    x-spotify-docs-category: Playlists
    get:
      tags:
      - Playlists
      - Library
      operationId: get-a-list-of-current-users-playlists
      x-spotify-docs-endpoint-name: Get a List of Current User's Playlists
      x-spotify-docs-console-url: /console/get-current-user-playlists/
      summary: |
        Get Current User's Playlists
      description: |
        Get a list of the playlists owned or followed by the current Spotify
        user.
      parameters:
      - $ref: '#/components/parameters/QueryLimit'
      - name: offset
        required: false
        in: query
        schema:
          title: Offset
          description: |
            'The index of the first playlist to return. Default:
            0 (the first object). Maximum offset: 100.000\. Use with `limit` to get the
            next set of playlists.'
          default: 0
          example: 5
          type: integer
      responses:
        "200":
          $ref: '#/components/responses/PagedPlaylists'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - playlist-read-private
  /me/albums:
    x-spotify-docs-display-name: current-user-saved-albums
    x-spotify-docs-category: Library
    get:
      tags:
      - Albums
      - Library
      operationId: get-users-saved-albums
      x-spotify-docs-endpoint-name: Get User's Saved Albums
      x-spotify-docs-console-url: /console/get-current-user-saved-albums/?limit=1
      summary: |
        Get User's Saved Albums
      description: |
        Get a list of the albums saved in the current Spotify user's 'Your Music' library.
      parameters:
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryOffset'
      - $ref: '#/components/parameters/QueryMarket'
      responses:
        "200":
          $ref: '#/components/responses/PagingSavedAlbumObject'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-read
    put:
      tags:
      - Albums
      - Library
      operationId: save-albums-user
      x-spotify-docs-endpoint-name: Save Albums for Current User
      x-spotify-docs-console-url: /console/put-current-user-saved-albums/?ids=07bYtmE3bPsLB6ZbmmFi8d%2C48JYNjh7GMie6NjqYHMmtT%2C27cZdqrQiKt3IT00338dws
      summary: |
        Save Albums for Current User
      description: |
        Save one or more albums to the current user's 'Your Music' library.
      parameters:
      - $ref: '#/components/parameters/QueryAlbumIds'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                ids:
                  type: array
                  description: |
                    A JSON array of the [Spotify IDs](/documentation/web-api/#spotify-uris-and-ids). For example: `["4iV5W9uYEdYUVa79Axb7Rh", "1301WleyT98MSxVHPZCA6M"]`<br/>A maximum of 50 items can be specified in one request. _**Note**: if the `ids` parameter is present in the query string, any IDs listed here in the body will be ignored._
                  items:
                    type: string
      responses:
        "200":
          description: The album is saved
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-modify
    delete:
      tags:
      - Albums
      - Library
      operationId: remove-albums-user
      x-spotify-docs-endpoint-name: Remove Albums for Current User
      x-spotify-docs-console-url: /console/delete-current-user-saved-albums/?ids=07bYtmE3bPsLB6ZbmmFi8d%2C48JYNjh7GMie6NjqYHMmtT%2C27cZdqrQiKt3IT00338dws
      summary: |
        Remove Users' Saved Albums
      description: |
        Remove one or more albums from the current user's 'Your Music' library.
      parameters:
      - $ref: '#/components/parameters/QueryAlbumIds'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                ids:
                  type: array
                  description: |
                    A JSON array of the [Spotify IDs](/documentation/web-api/#spotify-uris-and-ids). For example: `["4iV5W9uYEdYUVa79Axb7Rh", "1301WleyT98MSxVHPZCA6M"]`<br/>A maximum of 50 items can be specified in one request. _**Note**: if the `ids` parameter is present in the query string, any IDs listed here in the body will be ignored._
                  items:
                    type: string
      responses:
        "200":
          description: Album(s) have been removed from the library
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-modify
  /me/albums/contains:
    x-spotify-docs-display-name: current-user-contains-saved-albums
    x-spotify-docs-category: Library
    get:
      tags:
      - Albums
      - Library
      operationId: check-users-saved-albums
      x-spotify-docs-endpoint-name: Check User's Saved Albums
      x-spotify-docs-console-url: /console/get-current-user-contains-saved-albums/?ids=0pJJgBzj26qnE1nSQUxaB0%2C5ZAKzV4ZIa5Gt7z29OYHv0
      summary: |
        Check User's Saved Albums
      description: |
        Check if one or more albums is already saved in the current Spotify user's 'Your Music' library.
      parameters:
      - $ref: '#/components/parameters/QueryAlbumIds'
      responses:
        "200":
          $ref: '#/components/responses/ArrayOfBooleans'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-read
  /me/tracks:
    x-spotify-docs-display-name: current-user-saved-tracks
    x-spotify-docs-category: Library
    get:
      tags:
      - Tracks
      - Library
      operationId: get-users-saved-tracks
      x-spotify-docs-endpoint-name: Get User's Saved Tracks
      x-spotify-docs-console-url: /console/get-current-user-saved-tracks/
      summary: |
        Get User's Saved Tracks
      description: |
        Get a list of the songs saved in the current Spotify user's 'Your Music' library.
      parameters:
      - $ref: '#/components/parameters/QueryMarket'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryOffset'
      responses:
        "200":
          $ref: '#/components/responses/PagingSavedTrackObject'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-read
    put:
      tags:
      - Tracks
      - Library
      operationId: save-tracks-user
      x-spotify-docs-endpoint-name: Save Tracks for User
      x-spotify-docs-console-url: /console/put-current-user-saved-tracks/?ids=7ouMYWpwJ422jRcDASZB7P%2C4VqPOruhp5EdPBeR92t6lQ%2C2takcwOaAZWiXQijPHIx7B
      summary: |
        Save Tracks for Current User
      description: |
        Save one or more tracks to the current user's 'Your Music' library.
      parameters:
      - $ref: '#/components/parameters/QueryTrackIds'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              required:
              - ids
              properties:
                ids:
                  type: array
                  description: |
                    A JSON array of the [Spotify IDs](/documentation/web-api/#spotify-uris-and-ids). For example: `["4iV5W9uYEdYUVa79Axb7Rh", "1301WleyT98MSxVHPZCA6M"]`<br/>A maximum of 50 items can be specified in one request. _**Note**: if the `ids` parameter is present in the query string, any IDs listed here in the body will be ignored._
                  items:
                    type: string
      responses:
        "200":
          description: Track saved
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-modify
    delete:
      tags:
      - Tracks
      - Library
      operationId: remove-tracks-user
      x-spotify-docs-endpoint-name: Remove User's Saved Tracks
      x-spotify-docs-console-url: /console/delete-current-user-saved-tracks/?ids=7ouMYWpwJ422jRcDASZB7P%2C4VqPOruhp5EdPBeR92t6lQ%2C2takcwOaAZWiXQijPHIx7B
      summary: |
        Remove User's Saved Tracks
      description: |
        Remove one or more tracks from the current user's 'Your Music' library.
      parameters:
      - $ref: '#/components/parameters/QueryTrackIds'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                ids:
                  type: array
                  description: |
                    A JSON array of the [Spotify IDs](/documentation/web-api/#spotify-uris-and-ids). For example: `["4iV5W9uYEdYUVa79Axb7Rh", "1301WleyT98MSxVHPZCA6M"]`<br/>A maximum of 50 items can be specified in one request. _**Note**: if the `ids` parameter is present in the query string, any IDs listed here in the body will be ignored._
                  items:
                    type: string
      responses:
        "200":
          description: Track removed
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-modify
  /me/tracks/contains:
    x-spotify-docs-display-name: current-user-contains-saved-tracks
    x-spotify-docs-category: Library
    get:
      tags:
      - Tracks
      - Library
      operationId: check-users-saved-tracks
      x-spotify-docs-endpoint-name: Check User's Saved Tracks
      x-spotify-docs-console-url: /console/get-current-user-contains-saved-tracks/?ids=0udZHhCi7p1YzMlvI4fXoK%2C3SF5puV5eb6bgRSxBeMOk9
      summary: |
        Check User's Saved Tracks
      description: |
        Check if one or more tracks is already saved in the current Spotify user's 'Your Music' library.
      parameters:
      - $ref: '#/components/parameters/QueryTrackIds'
      responses:
        "200":
          $ref: '#/components/responses/ArrayOfBooleans'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-read
  /me/episodes:
    x-spotify-docs-display-name: current-user-saved-episodes
    x-spotify-docs-category: Library
    get:
      tags:
      - Episodes
      - Library
      operationId: get-users-saved-episodes
      x-spotify-docs-endpoint-name: Get User's Saved Episodes
      x-spotify-docs-console-url: /console/get-current-user-saved-episodes/
      summary: |
        Get User's Saved Episodes
      description: |
        Get a list of the episodes saved in the current Spotify user's library.
      parameters:
      - $ref: '#/components/parameters/QueryMarket'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryOffset'
      responses:
        "200":
          $ref: '#/components/responses/PagingSavedEpisodeObject'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-read
        - user-read-playback-position
    put:
      tags:
      - Episodes
      - Library
      operationId: save-episodes-user
      x-spotify-docs-endpoint-name: Save Episodes for Current User
      x-spotify-docs-console-url: /console/put-current-user-saved-episodes/?ids=77o6BIVlYM3msb4MMIL1jH%2C0Q86acNRm6V9GYx55SXKwf
      summary: |
        Save Episodes for Current User
      description: |
        Save one or more episodes to the current user's library.
      parameters:
      - name: ids
        required: true
        in: query
        schema:
          title: Spotify Episodes IDs
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/#spotify-uris-and-ids). Maximum: 50 IDs.
          example: "77o6BIVlYM3msb4MMIL1jH,0Q86acNRm6V9GYx55SXKwf"
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              required:
              - ids
              properties:
                ids:
                  type: array
                  description: |
                    A JSON array of the [Spotify IDs](/documentation/web-api/#spotify-uris-and-ids). <br/>A maximum of 50 items can be specified in one request. _**Note**: if the `ids` parameter is present in the query string, any IDs listed here in the body will be ignored._
                  items:
                    type: string
      responses:
        "200":
          description: Episode saved
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-modify
    delete:
      tags:
      - Episodes
      - Library
      operationId: remove-episodes-user
      x-spotify-docs-endpoint-name: Remove User's Saved Episodes
      x-spotify-docs-console-url: /console/delete-current-user-saved-episodes/?ids=77o6BIVlYM3msb4MMIL1jH%2C0Q86acNRm6V9GYx55SXKwf
      summary: |
        Remove User's Saved Episodes
      description: |
        Remove one or more episodes from the current user's library.
      parameters:
      - $ref: '#/components/parameters/QueryTrackIds'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                ids:
                  type: array
                  description: |
                    A JSON array of the [Spotify IDs](/documentation/web-api/#spotify-uris-and-ids). <br/>A maximum of 50 items can be specified in one request. _**Note**: if the `ids` parameter is present in the query string, any IDs listed here in the body will be ignored._
                  items:
                    type: string
      responses:
        "200":
          description: Episode removed
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-modify
  /me/episodes/contains:
    x-spotify-docs-display-name: current-user-contains-saved-episodes
    x-spotify-docs-category: Library
    get:
      tags:
      - Episodes
      - Library
      operationId: check-users-saved-episodes
      x-spotify-docs-endpoint-name: Check User's Saved Episodes
      x-spotify-docs-console-url: /console/get-current-user-contains-saved-episodes/?ids=77o6BIVlYM3msb4MMIL1jH%2C0Q86acNRm6V9GYx55SXKwf
      summary: |
        Check User's Saved Episodes
      description: |
        Check if one or more episodes is already saved in the current Spotify user's 'Your Episodes' library.
      parameters:
      - name: ids
        required: true
        in: query
        schema:
          title: Spotify Episode IDs
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/#spotify-uris-and-ids) for the episodes. Maximum: 50 IDs.
          example: "77o6BIVlYM3msb4MMIL1jH,0Q86acNRm6V9GYx55SXKwf"
          type: string
      responses:
        "200":
          $ref: '#/components/responses/ArrayOfBooleans'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-read
  /me/shows:
    x-spotify-docs-display-name: current-user-saved-shows
    x-spotify-docs-category: Library
    get:
      tags:
      - Shows
      - Library
      operationId: get-users-saved-shows
      x-spotify-docs-endpoint-name: Get User's Saved Shows
      x-spotify-docs-console-url: /console/get-current-user-saved-shows/
      summary: |
        Get User's Saved Shows
      description: |
        Get a list of shows saved in the current Spotify user's library. Optional parameters can be used to limit the number of shows returned.
      parameters:
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryOffset'
      responses:
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "200":
          $ref: '#/components/responses/PagingSavedShowObject'
      security:
      - oauth_2_0:
        - user-library-read
    put:
      tags:
      - Shows
      - Library
      operationId: save-shows-user
      x-spotify-docs-endpoint-name: Save Shows for Current User
      x-spotify-docs-console-url: /console/put-current-user-saved-shows/?ids=5AvwZVawapvyhJUIx71pdJ%2C6ups0LMt1G8n81XLlkbsPo%2C5AvwZVawapvyhJUIx71pdJ
      summary: |
        Save Shows for Current User
      description: |
        Save one or more shows to current Spotify user's library.
      parameters:
      - $ref: '#/components/parameters/QueryShowIds'
      responses:
        "200":
          description: Show saved
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-modify
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  description: "A JSON array of the [Spotify IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids).\
                    \  \nA maximum of 50 items can be specified in one request. *Note:\
                    \ if the `ids` parameter is present in the query string, any IDs\
                    \ listed here in the body will be ignored.*"
                  items:
                    type: string
    delete:
      tags:
      - Shows
      - Library
      operationId: remove-shows-user
      x-spotify-docs-endpoint-name: Remove User's Saved Shows
      x-spotify-docs-console-url: /console/delete-current-user-saved-shows/?ids=5AvwZVawapvyhJUIx71pdJ%2C6ups0LMt1G8n81XLlkbsPo%2C5AvwZVawapvyhJUIx71pdJ
      summary: |
        Remove User's Saved Shows
      description: |
        Delete one or more shows from current Spotify user's library.
      parameters:
      - $ref: '#/components/parameters/QueryShowIds'
      - $ref: '#/components/parameters/QueryMarket'
      responses:
        "200":
          description: Show removed
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-modify
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  description: "A JSON array of the [Spotify IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids).\
                    \  \nA maximum of 50 items can be specified in one request. *Note:\
                    \ if the `ids` parameter is present in the query string, any IDs\
                    \ listed here in the body will be ignored.*"
                  items:
                    type: string
  /me/shows/contains:
    x-spotify-docs-display-name: current-user-contains-saved-shows
    x-spotify-docs-category: Library
    get:
      tags:
      - Shows
      - Library
      operationId: check-users-saved-shows
      x-spotify-docs-endpoint-name: Check User's Saved Shows
      x-spotify-docs-console-url: /console/get-current-user-contains-saved-shows/?ids=5AvwZVawapvyhJUIx71pdJ%2C6ups0LMt1G8n81XLlkbsPo%2C5AvwZVawapvyhJUIx71pdJ
      summary: |
        Check User's Saved Shows
      description: |
        Check if one or more shows is already saved in the current Spotify user's library.
      parameters:
      - $ref: '#/components/parameters/QueryShowIds'
      responses:
        "200":
          $ref: '#/components/responses/ArrayOfBooleans'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-read
  /users/{user_id}:
    x-spotify-docs-display-name: users-profile
    x-spotify-docs-category: Users Profile
    get:
      tags:
      - Users
      operationId: get-users-profile
      x-spotify-docs-endpoint-name: Get a User's Profile
      x-spotify-docs-console-url: /console/get-users-profile/?user_id=wizzler
      summary: |
        Get User's Profile
      description: |
        Get public profile information about a Spotify user.
      parameters:
      - $ref: '#/components/parameters/PathUserId'
      responses:
        "200":
          $ref: '#/components/responses/OnePublicUser'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /users/{user_id}/playlists:
    x-spotify-docs-display-name: playlists
    x-spotify-docs-category: Playlists
    get:
      tags:
      - Playlists
      - Users
      operationId: get-list-users-playlists
      x-spotify-docs-endpoint-name: Get a List of a User's Playlists
      x-spotify-docs-console-url: /console/get-playlists/?user_id=wizzler
      summary: |
        Get User's Playlists
      description: |
        Get a list of the playlists owned or followed by a Spotify user.
      parameters:
      - $ref: '#/components/parameters/PathUserId'
      - $ref: '#/components/parameters/QueryLimit'
      - name: offset
        required: false
        in: query
        schema:
          title: Offset
          description: |
            The index of the first playlist to return. Default:
            0 (the first object). Maximum offset: 100.000\. Use with `limit` to get the
            next set of playlists.
          default: 0
          example: 5
          type: integer
      responses:
        "200":
          $ref: '#/components/responses/PagedPlaylists'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - playlist-read-private
        - playlist-read-collaborative
    post:
      tags:
      - Playlists
      - Library
      operationId: create-playlist
      x-spotify-docs-endpoint-name: Create a Playlist
      x-spotify-docs-console-url: /console/post-playlists/
      summary: |
        Create Playlist
      description: |
        Create a playlist for a Spotify user. (The playlist will be empty until
        you [add tracks](/documentation/web-api/reference/#/operations/add-tracks-to-playlist).)
      parameters:
      - $ref: '#/components/parameters/PathUserId'
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: New Playlist
                description: New playlist description
                public: false
              type: object
              additionalProperties: true
              required:
              - name
              properties:
                name:
                  type: string
                  description: |
                    The name for the new playlist, for example `"Your Coolest Playlist"`. This name does not need to be unique; a user may have several playlists with the same name.
                public:
                  type: boolean
                  description: |
                    Defaults to `true`. If `true` the playlist will be public, if `false` it will be private. To be able to create private playlists, the user must have granted the `playlist-modify-private` [scope](/documentation/general/guides/authorization-guide/#list-of-scopes)
                collaborative:
                  type: boolean
                  description: |
                    Defaults to `false`. If `true` the playlist will be collaborative. _**Note**: to create a collaborative playlist you must also set `public` to `false`. To create collaborative playlists you must have granted `playlist-modify-private` and `playlist-modify-public` [scopes](/documentation/general/guides/authorization-guide/#list-of-scopes)._
                description:
                  type: string
                  description: |
                    value for playlist description as displayed in Spotify Clients and in the Web API.
      responses:
        "201":
          $ref: '#/components/responses/OnePlaylist'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - playlist-modify-public
        - playlist-modify-private
  /playlists/{playlist_id}/followers:
    x-spotify-docs-display-name: playlist-followers
    x-spotify-docs-category: Follow
    put:
      tags:
      - Users
      - Playlists
      operationId: follow-playlist
      x-spotify-docs-endpoint-name: Follow a Playlist
      x-spotify-docs-console-url: /console/put-playlist-followers/?playlist_id=2v3iNvBX8Ay1Gt2uXtUKUT&amp;body-json=%7B%0D%0A++%22public%22%3A+true%0D%0A%7D&amp;user_id=jmperezperez
      description: |
        Add the current user as a follower of a playlist.
      summary: |
        Follow Playlist
      parameters:
      - $ref: '#/components/parameters/PathPlaylistId'
      requestBody:
        content:
          application/json:
            schema:
              example:
                public: false
              type: object
              additionalProperties: true
              properties:
                public:
                  type: boolean
                  description: |
                    Defaults to `true`. If `true` the playlist will be included in user's public playlists, if `false` it will remain private.
      responses:
        "200":
          description: Playlist followed
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - playlist-modify-public
        - playlist-modify-private
    delete:
      tags:
      - Users
      - Playlists
      operationId: unfollow-playlist
      x-spotify-docs-endpoint-name: Unfollow Playlist
      x-spotify-docs-console-url: /console/delete-playlist-followers/?playlist_id=2v3iNvBX8Ay1Gt2uXtUKUT&amp;user_id=jmperezperez
      summary: |
        Unfollow Playlist
      description: |
        Remove the current user as a follower of a playlist.
      parameters:
      - $ref: '#/components/parameters/PathPlaylistId'
      responses:
        "200":
          description: Playlist unfollowed
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - playlist-modify-public
        - playlist-modify-private
  /browse/featured-playlists:
    x-spotify-docs-display-name: featured-playlists
    x-spotify-docs-category: Browse
    get:
      tags:
      - Playlists
      operationId: get-featured-playlists
      x-spotify-docs-endpoint-name: Get All Featured Playlists
      x-spotify-docs-console-url: /console/get-featured-playlists/?country=SE&amp;limit=2
      summary: |
        Get Featured Playlists
      description: |
        Get a list of Spotify featured playlists (shown, for example, on a Spotify player's 'Browse' tab).
      parameters:
      - name: country
        required: false
        in: query
        schema:
          title: Country
          description: |
            A country: an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Provide this parameter if you want the list of returned items to be relevant to a particular country. If omitted, the returned items will be relevant to all countries.
          example: SE
          type: string
      - name: locale
        required: false
        in: query
        schema:
          title: Locale
          description: |
            The desired language, consisting of a lowercase [ISO 639-1 language code](http://en.wikipedia.org/wiki/ISO_639-1) and an uppercase [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2), joined by an underscore. For example: `es_MX`, meaning "Spanish (Mexico)". Provide this parameter if you want the results returned in a particular language (where available). <br/>
            _**Note**: if `locale` is not supplied, or if the specified language is not available, all strings will be returned in the Spotify default language (American English). The `locale` parameter, combined with the `country` parameter, may give odd results if not carefully matched. For example `country=SE&locale=de_DE` will return a list of categories relevant to Sweden but as German language strings._
          example: sv_SE
          type: string
      - name: timestamp
        required: false
        in: query
        schema:
          title: Timestamp
          description: |
            A timestamp in [ISO 8601 format](http://en.wikipedia.org/wiki/ISO_8601): `yyyy-MM-ddTHH:mm:ss`. Use this parameter to specify the user's local time to get results tailored for that specific date and time in the day. If not provided, the response defaults to the current UTC time. Example: "2014-10-23T09:00:00" for a user whose local time is 9AM. If there were no featured playlists (or there is no data) at the specified time, the response will revert to the current UTC time.
          example: 2014-10-23T09:00:00
          type: string
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryOffset'
      responses:
        "200":
          $ref: '#/components/responses/PagedFeaturedPlaylists'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /browse/categories:
    x-spotify-docs-display-name: browse-categories
    x-spotify-docs-category: Browse
    get:
      tags:
      - Categories
      operationId: get-categories
      x-spotify-docs-endpoint-name: Get All Categories
      x-spotify-docs-console-url: /console/get-browse-categories/
      summary: |
        Get Several Browse Categories
      description: |
        Get a list of categories used to tag items in Spotify (on, for example, the Spotify player’s “Browse” tab).
      parameters:
      - name: country
        required: false
        in: query
        schema:
          title: Country
          description: |
            A country: an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Provide this parameter if you want to narrow the list of returned categories to those relevant to a particular country. If omitted, the returned items will be globally relevant.
          example: SE
          type: string
      - name: locale
        required: false
        in: query
        schema:
          title: Locale
          description: |
            The desired language, consisting of an [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code and an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2), joined by an underscore. For example: `es_MX`, meaning "Spanish (Mexico)". Provide this parameter if you want the category metadata returned in a particular language. <br/>
            _**Note**: if `locale` is not supplied, or if the specified language is not available, all strings will be returned in the Spotify default language (American English). The `locale` parameter, combined with the `country` parameter, may give odd results if not carefully matched. For example `country=SE&locale=de_DE` will return a list of categories relevant to Sweden but as German language strings._
          example: sv_SE
          type: string
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryOffset'
      responses:
        "200":
          $ref: '#/components/responses/PagedCategories'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /browse/categories/{category_id}:
    x-spotify-docs-display-name: browse-category
    x-spotify-docs-category: Browse
    get:
      tags:
      - Categories
      operationId: get-a-category
      x-spotify-docs-endpoint-name: Get a Category
      x-spotify-docs-console-url: /console/get-browse-category/
      summary: |
        Get Single Browse Category
      description: |
        Get a single category used to tag items in Spotify (on, for example, the Spotify player’s “Browse” tab).
      parameters:
      - name: category_id
        required: true
        in: path
        schema:
          title: Category ID
          description: |
            The [Spotify category ID](/documentation/web-api/#spotify-uris-and-ids) for the category.
          example: dinner
          type: string
      - name: country
        required: false
        in: query
        schema:
          title: Country
          description: |
            A country: an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Provide this parameter to ensure that the category exists for a particular country.
          example: SE
          type: string
      - name: locale
        required: false
        in: query
        schema:
          title: Locale
          description: |
            The desired language, consisting of an [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code and an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2), joined by an underscore. For example: `es_MX`, meaning &quot;Spanish (Mexico)&quot;. Provide this parameter if you want the category strings returned in a particular language.<br/> _**Note**: if `locale` is not supplied, or if the specified language is not available, the category strings returned will be in the Spotify default language (American English)._
          example: sv_SE
          type: string
      responses:
        "200":
          $ref: '#/components/responses/OneCategory'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /browse/categories/{category_id}/playlists:
    x-spotify-docs-display-name: category-playlists
    x-spotify-docs-category: Browse
    get:
      tags:
      - Playlists
      - Categories
      operationId: get-a-categories-playlists
      x-spotify-docs-endpoint-name: Get a Category's Playlists
      x-spotify-docs-console-url: /console/get-category-playlists/?country=BR&amp;category_id=party&amp;limit=2
      summary: |
        Get Category's Playlists
      description: |
        Get a list of Spotify playlists tagged with a particular category.
      parameters:
      - name: category_id
        required: true
        in: path
        schema:
          title: Category ID
          description: |
            The [Spotify category ID](/documentation/web-api/#spotify-uris-and-ids) for the category.
          example: dinner
          type: string
      - name: country
        required: false
        in: query
        schema:
          title: Country
          description: |
            A country: an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Provide this parameter to ensure that the category exists for a particular country.
          example: SE
          type: string
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryOffset'
      responses:
        "200":
          $ref: '#/components/responses/PagedFeaturedPlaylists'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /playlists/{playlist_id}/images:
    x-spotify-docs-display-name: playlist-images
    x-spotify-docs-category: Playlists
    get:
      tags:
      - Playlists
      operationId: get-playlist-cover
      x-spotify-docs-endpoint-name: Get a Playlist Cover Image
      x-spotify-docs-console-url: /console/get-playlist-images?playlist_id=3cEYpjA9oz9GiPac4AsH4n
      summary: |
        Get Playlist Cover Image
      description: |
        Get the current image associated with a specific playlist.
      parameters:
      - $ref: '#/components/parameters/PathPlaylistId'
      responses:
        "200":
          $ref: '#/components/responses/ArrayOfImages'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
    put:
      tags:
      - Playlists
      operationId: upload-custom-playlist-cover
      x-spotify-docs-endpoint-name: Upload a Custom Playlist Cover Image
      x-spotify-docs-console-url: /console/put-playlist-images?playlist_id=3cEYpjA9oz9GiPac4AsH4n
      summary: |
        Add Custom Playlist Cover Image
      description: |
        Replace the image used to represent a specific playlist.
      parameters:
      - $ref: '#/components/parameters/PathPlaylistId'
      responses:
        "200":
          description: Image uploaded
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - ugc-image-upload
        - playlist-modify-public
        - playlist-modify-private
      requestBody:
        description: The new cover image of the playlist as a Base64 encoded JPEG
          image. Maximum payload size is 256KB.
        content:
          image/jpeg:
            schema:
              type: string
              format: base64
        required: true
  /browse/new-releases:
    x-spotify-docs-display-name: new-releases
    x-spotify-docs-category: Browse
    get:
      tags:
      - Albums
      operationId: get-new-releases
      x-spotify-docs-endpoint-name: Get All New Releases
      x-spotify-docs-console-url: /console/get-new-releases/?country=SE
      summary: |
        Get New Releases
      description: |
        Get a list of new album releases featured in Spotify (shown, for example, on a Spotify player’s “Browse” tab).
      parameters:
      - name: country
        required: false
        in: query
        schema:
          title: Country
          description: |
            A country: an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Provide this parameter if you want the list of returned items to be relevant to a particular country. If omitted, the returned items will be relevant to all countries.
          example: SE
          type: string
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryOffset'
      responses:
        "200":
          $ref: '#/components/responses/PagedAlbums'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /me/following:
    x-spotify-docs-display-name: following
    x-spotify-docs-category: Follow
    get:
      tags:
      - Users
      - Library
      - Artists
      operationId: get-followed
      x-spotify-docs-endpoint-name: Get User's Followed Artists
      x-spotify-docs-console-url: /console/get-following/?type=artist&amp;limit=20
      summary: |
        Get Followed Artists
      description: |
        Get the current user's followed artists.
      parameters:
      - name: type
        required: true
        in: query
        schema:
          title: Item Type
          description: |
            The ID type: currently only `artist` is supported.
          enum:
          - artist
          example: artist
          type: string
      - name: after
        required: false
        in: query
        schema:
          title: After
          description: |
            The last artist ID retrieved from the previous request.
          example: 0I2XqVXqHScXjHhk6AYYRe
          type: string
      - $ref: '#/components/parameters/QueryLimit'
      responses:
        "200":
          $ref: '#/components/responses/CursorPagedArtists'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-follow-read
    put:
      tags:
      - Users
      - Artists
      - Library
      operationId: follow-artists-users
      x-spotify-docs-endpoint-name: Follow Artists or Users
      x-spotify-docs-console-url: /console/put-following/?type=user&amp;ids=exampleuser01
      summary: |
        Follow Artists or Users
      description: |
        Add the current user as a follower of one or more artists or other Spotify users.
      parameters:
      - name: type
        required: true
        in: query
        schema:
          title: Item Type
          description: |
            The ID type.
          enum:
          - artist
          - user
          example: artist
          type: string
      - name: ids
        required: true
        in: query
        schema:
          title: Spotify IDs
          description: |
            A comma-separated list of the artist or the user [Spotify IDs](/documentation/web-api/#spotify-uris-and-ids).
            A maximum of 50 IDs can be sent in one request.
          example: "2CIMQHirSU0MQqyYHq0eOx,57dN52uHvrHOxijzpIgu3E,1vCWHaC5f2uS3yhpwWbIA6"
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              required:
              - ids
              properties:
                ids:
                  type: array
                  description: |
                    A JSON array of the artist or user [Spotify IDs](/documentation/web-api/#spotify-uris-and-ids).
                    For example: `{ids:["74ASZWbe4lXaubB36ztrGX", "08td7MxkoHQkXnWAYD8d6Q"]}`. A maximum of 50 IDs can be sent in one request. _**Note**: if the `ids` parameter is present in the query string, any IDs listed here in the body will be ignored._
                  items:
                    type: string
      responses:
        "204":
          description: Artist or user followed
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-follow-modify
    delete:
      tags:
      - Users
      - Artists
      - Library
      operationId: unfollow-artists-users
      x-spotify-docs-endpoint-name: Unfollow Artists or Users
      x-spotify-docs-console-url: /console/delete-following/?type=user&amp;ids=exampleuser01
      summary: |
        Unfollow Artists or Users
      description: |
        Remove the current user as a follower of one or more artists or other Spotify users.
      parameters:
      - name: type
        required: true
        in: query
        schema:
          title: Item Type
          description: |
            The ID type: either `artist` or `user`.
          enum:
          - artist
          - user
          example: artist
          type: string
      - name: ids
        required: true
        in: query
        schema:
          title: Spotify IDs
          description: |
            A comma-separated list of the artist or the user [Spotify IDs](/documentation/web-api/#spotify-uris-and-ids). For example: `ids=74ASZWbe4lXaubB36ztrGX,08td7MxkoHQkXnWAYD8d6Q`. A maximum of 50 IDs can be sent in one request.
          example: "2CIMQHirSU0MQqyYHq0eOx,57dN52uHvrHOxijzpIgu3E,1vCWHaC5f2uS3yhpwWbIA6"
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                ids:
                  type: array
                  description: |
                    A JSON array of the artist or user [Spotify IDs](/documentation/web-api/#spotify-uris-and-ids). For example: `{ids:["74ASZWbe4lXaubB36ztrGX", "08td7MxkoHQkXnWAYD8d6Q"]}`. A maximum of 50 IDs can be sent in one request. _**Note**: if the `ids` parameter is present in the query string, any IDs listed here in the body will be ignored._
                  items:
                    type: string
      responses:
        "200":
          description: Artist or user unfollowed
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-follow-modify
  /me/following/contains:
    x-spotify-docs-display-name: following-contains
    x-spotify-docs-category: Follow
    get:
      tags:
      - Users
      - Artists
      - Library
      operationId: check-current-user-follows
      x-spotify-docs-endpoint-name: Get Following State for Artists/Users
      x-spotify-docs-console-url: /console/get-following-contains/?type=user&amp;ids=exampleuser01
      summary: |
        Check If User Follows Artists or Users
      description: |
        Check to see if the current user is following one or more artists or other Spotify users.
      parameters:
      - name: type
        required: true
        in: query
        schema:
          title: Item Type
          description: |
            The ID type: either `artist` or `user`.
          enum:
          - artist
          - user
          example: artist
          type: string
      - name: ids
        required: true
        in: query
        schema:
          title: Spotify IDs
          description: |
            A comma-separated list of the artist or the user [Spotify IDs](/documentation/web-api/#spotify-uris-and-ids) to check. For example: `ids=74ASZWbe4lXaubB36ztrGX,08td7MxkoHQkXnWAYD8d6Q`. A maximum of 50 IDs can be sent in one request.
          example: "2CIMQHirSU0MQqyYHq0eOx,57dN52uHvrHOxijzpIgu3E,1vCWHaC5f2uS3yhpwWbIA6"
          type: string
      responses:
        "200":
          $ref: '#/components/responses/ArrayOfBooleans'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-follow-read
  /playlists/{playlist_id}/followers/contains:
    x-spotify-docs-display-name: playlist-followers-contains
    x-spotify-docs-category: Follow
    get:
      tags:
      - Users
      - Playlists
      operationId: check-if-user-follows-playlist
      x-spotify-docs-endpoint-name: Check if Users Follow a Playlist
      x-spotify-docs-console-url: "/console/get-playlist-followers-contains/?ids=possan,elogain&amp;user_id=jmperezperez&amp;playlist_id=2v3iNvBX8Ay1Gt2uXtUKUT"
      summary: |
        Check if Users Follow Playlist
      description: |
        Check to see if one or more Spotify users are following a specified playlist.
      parameters:
      - $ref: '#/components/parameters/PathPlaylistId'
      - name: ids
        required: true
        in: query
        schema:
          title: Spotify user IDs
          description: |
            A comma-separated list of [Spotify User IDs](/documentation/web-api/#spotify-uris-and-ids) ; the ids of the users that you want to check to see if they follow the playlist. Maximum: 5 ids.
          example: "jmperezperez,thelinmichael,wizzler"
          type: string
      responses:
        "200":
          $ref: '#/components/responses/ArrayOfBooleans'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /audio-features:
    x-spotify-docs-display-name: audio-features-several-tracks
    x-spotify-docs-category: Tracks
    get:
      tags:
      - Tracks
      operationId: get-several-audio-features
      x-spotify-docs-endpoint-name: Get Audio Features for Several Tracks
      x-spotify-docs-console-url: "/console/get-audio-features-several-tracks/?ids=4JpKVNYnVcJ8tuMKjAj50A,2NRANZE9UCmPAS5XVbXL40,24JygzOLM0EmRQeGtFcIcG"
      summary: |
        Get Tracks' Audio Features
      description: |
        Get audio features for multiple tracks based on their Spotify IDs.
      parameters:
      - name: ids
        required: true
        in: query
        schema:
          title: Spotify Track IDs
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/#spotify-uris-and-ids)
            for the tracks. Maximum: 100 IDs.
          example: "7ouMYWpwJ422jRcDASZB7P,4VqPOruhp5EdPBeR92t6lQ,2takcwOaAZWiXQijPHIx7B"
          type: string
      responses:
        "200":
          $ref: '#/components/responses/ManyAudioFeatures'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /audio-features/{id}:
    x-spotify-docs-display-name: audio-features-track
    x-spotify-docs-category: Tracks
    get:
      tags:
      - Tracks
[...]
