{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false
}
