{
    "openapi": "3.1.0",
    "info": {
        "title": "SaaSFlow Public API",
        "version": "0.1.0",
        "description": "Public REST API for SaaSFlow. All routes require Authorization: Bearer <token>, where <token> is either a Firebase Auth JWT or a SaaSFlow API key (sf_…)."
    },
    "servers": [
        {
            "url": "https://api.saasflow.com",
            "description": "Production"
        }
    ],
    "components": {
        "schemas": {},
        "parameters": {}
    },
    "paths": {
        "/companies": {
            "get": {
                "responses": {
                    "200": {
                        "description": "List of companies the user has access to",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "format": "uuid"
                                            },
                                            "firestoreId": {
                                                "type": ["string", "null"]
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "The name of the company."
                                            },
                                            "baseCurrency": {
                                                "type": "string",
                                                "enum": [
                                                    "EUR",
                                                    "AUD",
                                                    "BRL",
                                                    "CAD",
                                                    "CHF",
                                                    "CNY",
                                                    "CZK",
                                                    "DKK",
                                                    "GBP",
                                                    "HKD",
                                                    "HUF",
                                                    "IDR",
                                                    "ILS",
                                                    "INR",
                                                    "ISK",
                                                    "JPY",
                                                    "KRW",
                                                    "MXN",
                                                    "MYR",
                                                    "NOK",
                                                    "NZD",
                                                    "PHP",
                                                    "PLN",
                                                    "RON",
                                                    "SEK",
                                                    "SGD",
                                                    "THB",
                                                    "TRY",
                                                    "USD",
                                                    "ZAR"
                                                ],
                                                "description": "The base currency for the company."
                                            },
                                            "lastOverallUpdatedTime": {
                                                "type": "string",
                                                "format": "date-time",
                                                "description": "When any data within the company was last updated."
                                            },
                                            "plShowPlanningPercentageForPastMonths": {
                                                "type": "boolean",
                                                "description": "Whether to show planning percentages for past months in P&L."
                                            },
                                            "plShowAllCategories": {
                                                "type": "boolean",
                                                "description": "Whether to show all categories in P&L, including empty ones."
                                            },
                                            "systemStatus": {
                                                "type": "string",
                                                "enum": [
                                                    "sandbox",
                                                    "trial",
                                                    "free",
                                                    "paid",
                                                    "cancelled",
                                                    "expired",
                                                    "beta"
                                                ],
                                                "description": "The status of the company."
                                            },
                                            "systemTrialUntil": {
                                                "type": ["string", "null"],
                                                "format": "date-time"
                                            },
                                            "systemExpiredAt": {
                                                "type": ["string", "null"],
                                                "format": "date-time"
                                            },
                                            "systemDeletionWarning": {
                                                "type": ["integer", "null"],
                                                "minimum": -2147483648,
                                                "maximum": 2147483647
                                            },
                                            "systemSandboxExpireTime": {
                                                "type": ["string", "null"],
                                                "format": "date-time"
                                            },
                                            "systemDeletionScheduledTime": {
                                                "type": ["string", "null"],
                                                "format": "date-time"
                                            },
                                            "systemStripe": {
                                                "type": ["object", "null"],
                                                "properties": {
                                                    "customerId": {
                                                        "type": "string"
                                                    },
                                                    "subscription": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "active",
                                                                    "incomplete",
                                                                    "incomplete_expired",
                                                                    "past_due",
                                                                    "unpaid",
                                                                    "canceled"
                                                                ]
                                                            },
                                                            "productName": {
                                                                "type": "string",
                                                                "enum": ["starter", "pro"]
                                                            },
                                                            "interval": {
                                                                "type": "string",
                                                                "enum": ["monthly", "yearly"]
                                                            },
                                                            "currentPeriodStart": {
                                                                "type": "string"
                                                            },
                                                            "currentPeriodEnd": {
                                                                "type": "string"
                                                            },
                                                            "price": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "value": {
                                                                        "type": "number"
                                                                    },
                                                                    "currency": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": ["value", "currency"]
                                                            },
                                                            "cancelAt": {
                                                                "type": ["string", "null"]
                                                            },
                                                            "limits": {
                                                                "type": ["object", "null"],
                                                                "properties": {
                                                                    "minARR": {
                                                                        "type": "number"
                                                                    },
                                                                    "maxARR": {
                                                                        "type": "number"
                                                                    }
                                                                },
                                                                "required": ["minARR", "maxARR"]
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "status",
                                                            "productName",
                                                            "interval",
                                                            "currentPeriodStart",
                                                            "currentPeriodEnd",
                                                            "price",
                                                            "cancelAt",
                                                            "limits"
                                                        ]
                                                    }
                                                },
                                                "required": ["customerId"]
                                            },
                                            "createdTime": {
                                                "type": ["string", "null"],
                                                "format": "date-time"
                                            },
                                            "createdUserId": {
                                                "type": ["string", "null"]
                                            },
                                            "lastUpdatedTime": {
                                                "type": ["string", "null"],
                                                "format": "date-time"
                                            },
                                            "lastUpdatedUserId": {
                                                "type": ["string", "null"]
                                            },
                                            "role": {
                                                "type": "string",
                                                "enum": ["owner", "editor", "viewer"]
                                            },
                                            "permissions": {
                                                "type": ["array", "null"],
                                                "items": {
                                                    "type": "string",
                                                    "enum": [
                                                        "subscriptions:read",
                                                        "subscriptions:write",
                                                        "customers:read",
                                                        "customers:write",
                                                        "vendors:read",
                                                        "vendors:write",
                                                        "accounts:read",
                                                        "accounts:write",
                                                        "transactions:read",
                                                        "transactions:write",
                                                        "balances:read",
                                                        "balances:write",
                                                        "financials:read",
                                                        "financials:write",
                                                        "users:manage",
                                                        "api_keys:manage",
                                                        "integrations:manage",
                                                        "company:manage"
                                                    ],
                                                    "description": "A granular permission in the form `<resource>:<action>`. Stored on companiesUsers and companiesApiKeys. When a grant has `permissions: null` it means unrestricted (legacy behavior derived from role)."
                                                }
                                            }
                                        },
                                        "required": [
                                            "id",
                                            "firestoreId",
                                            "name",
                                            "baseCurrency",
                                            "lastOverallUpdatedTime",
                                            "plShowPlanningPercentageForPastMonths",
                                            "plShowAllCategories",
                                            "systemStatus",
                                            "systemTrialUntil",
                                            "systemExpiredAt",
                                            "systemDeletionWarning",
                                            "systemSandboxExpireTime",
                                            "systemDeletionScheduledTime",
                                            "createdTime",
                                            "createdUserId",
                                            "lastUpdatedTime",
                                            "lastUpdatedUserId",
                                            "role",
                                            "permissions"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies/{companyId}": {
            "get": {
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        },
                        "required": true,
                        "name": "companyId",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Company details with users",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "firestoreId": {
                                            "type": ["string", "null"]
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "The name of the company."
                                        },
                                        "baseCurrency": {
                                            "type": "string",
                                            "enum": [
                                                "EUR",
                                                "AUD",
                                                "BRL",
                                                "CAD",
                                                "CHF",
                                                "CNY",
                                                "CZK",
                                                "DKK",
                                                "GBP",
                                                "HKD",
                                                "HUF",
                                                "IDR",
                                                "ILS",
                                                "INR",
                                                "ISK",
                                                "JPY",
                                                "KRW",
                                                "MXN",
                                                "MYR",
                                                "NOK",
                                                "NZD",
                                                "PHP",
                                                "PLN",
                                                "RON",
                                                "SEK",
                                                "SGD",
                                                "THB",
                                                "TRY",
                                                "USD",
                                                "ZAR"
                                            ],
                                            "description": "The base currency for the company."
                                        },
                                        "lastOverallUpdatedTime": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "When any data within the company was last updated."
                                        },
                                        "plShowPlanningPercentageForPastMonths": {
                                            "type": "boolean",
                                            "description": "Whether to show planning percentages for past months in P&L."
                                        },
                                        "plShowAllCategories": {
                                            "type": "boolean",
                                            "description": "Whether to show all categories in P&L, including empty ones."
                                        },
                                        "systemStatus": {
                                            "type": "string",
                                            "enum": [
                                                "sandbox",
                                                "trial",
                                                "free",
                                                "paid",
                                                "cancelled",
                                                "expired",
                                                "beta"
                                            ],
                                            "description": "The status of the company."
                                        },
                                        "systemTrialUntil": {
                                            "type": ["string", "null"],
                                            "format": "date-time"
                                        },
                                        "systemExpiredAt": {
                                            "type": ["string", "null"],
                                            "format": "date-time"
                                        },
                                        "systemDeletionWarning": {
                                            "type": ["integer", "null"],
                                            "minimum": -2147483648,
                                            "maximum": 2147483647
                                        },
                                        "systemSandboxExpireTime": {
                                            "type": ["string", "null"],
                                            "format": "date-time"
                                        },
                                        "systemDeletionScheduledTime": {
                                            "type": ["string", "null"],
                                            "format": "date-time"
                                        },
                                        "systemStripe": {
                                            "type": ["object", "null"],
                                            "properties": {
                                                "customerId": {
                                                    "type": "string"
                                                },
                                                "subscription": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "string",
                                                            "enum": [
                                                                "active",
                                                                "incomplete",
                                                                "incomplete_expired",
                                                                "past_due",
                                                                "unpaid",
                                                                "canceled"
                                                            ]
                                                        },
                                                        "productName": {
                                                            "type": "string",
                                                            "enum": ["starter", "pro"]
                                                        },
                                                        "interval": {
                                                            "type": "string",
                                                            "enum": ["monthly", "yearly"]
                                                        },
                                                        "currentPeriodStart": {
                                                            "type": "string"
                                                        },
                                                        "currentPeriodEnd": {
                                                            "type": "string"
                                                        },
                                                        "price": {
                                                            "type": "object",
                                                            "properties": {
                                                                "value": {
                                                                    "type": "number"
                                                                },
                                                                "currency": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": ["value", "currency"]
                                                        },
                                                        "cancelAt": {
                                                            "type": ["string", "null"]
                                                        },
                                                        "limits": {
                                                            "type": ["object", "null"],
                                                            "properties": {
                                                                "minARR": {
                                                                    "type": "number"
                                                                },
                                                                "maxARR": {
                                                                    "type": "number"
                                                                }
                                                            },
                                                            "required": ["minARR", "maxARR"]
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "status",
                                                        "productName",
                                                        "interval",
                                                        "currentPeriodStart",
                                                        "currentPeriodEnd",
                                                        "price",
                                                        "cancelAt",
                                                        "limits"
                                                    ]
                                                }
                                            },
                                            "required": ["customerId"]
                                        },
                                        "createdTime": {
                                            "type": ["string", "null"],
                                            "format": "date-time"
                                        },
                                        "createdUserId": {
                                            "type": ["string", "null"]
                                        },
                                        "lastUpdatedTime": {
                                            "type": ["string", "null"],
                                            "format": "date-time"
                                        },
                                        "lastUpdatedUserId": {
                                            "type": ["string", "null"]
                                        },
                                        "users": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "userId": {
                                                        "type": "string"
                                                    },
                                                    "firebaseUserId": {
                                                        "type": ["string", "null"]
                                                    },
                                                    "email": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": ["string", "null"]
                                                    },
                                                    "photoURL": {
                                                        "type": ["string", "null"]
                                                    },
                                                    "role": {
                                                        "type": "string",
                                                        "enum": ["owner", "editor", "viewer"]
                                                    },
                                                    "permissions": {
                                                        "type": ["array", "null"],
                                                        "items": {
                                                            "type": "string",
                                                            "enum": [
                                                                "subscriptions:read",
                                                                "subscriptions:write",
                                                                "customers:read",
                                                                "customers:write",
                                                                "vendors:read",
                                                                "vendors:write",
                                                                "accounts:read",
                                                                "accounts:write",
                                                                "transactions:read",
                                                                "transactions:write",
                                                                "balances:read",
                                                                "balances:write",
                                                                "financials:read",
                                                                "financials:write",
                                                                "users:manage",
                                                                "api_keys:manage",
                                                                "integrations:manage",
                                                                "company:manage"
                                                            ],
                                                            "description": "A granular permission in the form `<resource>:<action>`. Stored on companiesUsers and companiesApiKeys. When a grant has `permissions: null` it means unrestricted (legacy behavior derived from role)."
                                                        }
                                                    },
                                                    "lastSeenTime": {
                                                        "type": ["string", "null"],
                                                        "format": "date-time"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "userId",
                                                    "firebaseUserId",
                                                    "email",
                                                    "name",
                                                    "photoURL",
                                                    "role",
                                                    "permissions",
                                                    "lastSeenTime"
                                                ]
                                            }
                                        },
                                        "integrationTypes": {
                                            "type": "array",
                                            "items": {
                                                "type": "string",
                                                "enum": ["stripe", "slack", "hubspot", "datevLohnjournal"],
                                                "description": "The type of integration."
                                            },
                                            "description": "Distinct integration types currently active for this company. Used by the UI to gate features that depend on a specific integration being installed (e.g. show DATEV personnel-number input only when a datevLohnjournal integration exists). Avoids loading the full /integrations list — that endpoint is owner-only."
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "firestoreId",
                                        "name",
                                        "baseCurrency",
                                        "lastOverallUpdatedTime",
                                        "plShowPlanningPercentageForPastMonths",
                                        "plShowAllCategories",
                                        "systemStatus",
                                        "systemTrialUntil",
                                        "systemExpiredAt",
                                        "systemDeletionWarning",
                                        "systemSandboxExpireTime",
                                        "systemDeletionScheduledTime",
                                        "createdTime",
                                        "createdUserId",
                                        "lastUpdatedTime",
                                        "lastUpdatedUserId",
                                        "users",
                                        "integrationTypes"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Company not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "required": ["error"]
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        },
                        "required": true,
                        "name": "companyId",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "minLength": 1
                                    },
                                    "baseCurrency": {
                                        "type": "string"
                                    },
                                    "plShowPlanningPercentageForPastMonths": {
                                        "type": "boolean"
                                    },
                                    "plShowAllCategories": {
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated company",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "firestoreId": {
                                            "type": ["string", "null"]
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "The name of the company."
                                        },
                                        "baseCurrency": {
                                            "type": "string",
                                            "enum": [
                                                "EUR",
                                                "AUD",
                                                "BRL",
                                                "CAD",
                                                "CHF",
                                                "CNY",
                                                "CZK",
                                                "DKK",
                                                "GBP",
                                                "HKD",
                                                "HUF",
                                                "IDR",
                                                "ILS",
                                                "INR",
                                                "ISK",
                                                "JPY",
                                                "KRW",
                                                "MXN",
                                                "MYR",
                                                "NOK",
                                                "NZD",
                                                "PHP",
                                                "PLN",
                                                "RON",
                                                "SEK",
                                                "SGD",
                                                "THB",
                                                "TRY",
                                                "USD",
                                                "ZAR"
                                            ],
                                            "description": "The base currency for the company."
                                        },
                                        "lastOverallUpdatedTime": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "When any data within the company was last updated."
                                        },
                                        "plShowPlanningPercentageForPastMonths": {
                                            "type": "boolean",
                                            "description": "Whether to show planning percentages for past months in P&L."
                                        },
                                        "plShowAllCategories": {
                                            "type": "boolean",
                                            "description": "Whether to show all categories in P&L, including empty ones."
                                        },
                                        "systemStatus": {
                                            "type": "string",
                                            "enum": [
                                                "sandbox",
                                                "trial",
                                                "free",
                                                "paid",
                                                "cancelled",
                                                "expired",
                                                "beta"
                                            ],
                                            "description": "The status of the company."
                                        },
                                        "systemTrialUntil": {
                                            "type": ["string", "null"],
                                            "format": "date-time"
                                        },
                                        "systemExpiredAt": {
                                            "type": ["string", "null"],
                                            "format": "date-time"
                                        },
                                        "systemDeletionWarning": {
                                            "type": ["integer", "null"],
                                            "minimum": -2147483648,
                                            "maximum": 2147483647
                                        },
                                        "systemSandboxExpireTime": {
                                            "type": ["string", "null"],
                                            "format": "date-time"
                                        },
                                        "systemDeletionScheduledTime": {
                                            "type": ["string", "null"],
                                            "format": "date-time"
                                        },
                                        "systemStripe": {
                                            "type": ["object", "null"],
                                            "properties": {
                                                "customerId": {
                                                    "type": "string"
                                                },
                                                "subscription": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "string",
                                                            "enum": [
                                                                "active",
                                                                "incomplete",
                                                                "incomplete_expired",
                                                                "past_due",
                                                                "unpaid",
                                                                "canceled"
                                                            ]
                                                        },
                                                        "productName": {
                                                            "type": "string",
                                                            "enum": ["starter", "pro"]
                                                        },
                                                        "interval": {
                                                            "type": "string",
                                                            "enum": ["monthly", "yearly"]
                                                        },
                                                        "currentPeriodStart": {
                                                            "type": "string"
                                                        },
                                                        "currentPeriodEnd": {
                                                            "type": "string"
                                                        },
                                                        "price": {
                                                            "type": "object",
                                                            "properties": {
                                                                "value": {
                                                                    "type": "number"
                                                                },
                                                                "currency": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": ["value", "currency"]
                                                        },
                                                        "cancelAt": {
                                                            "type": ["string", "null"]
                                                        },
                                                        "limits": {
                                                            "type": ["object", "null"],
                                                            "properties": {
                                                                "minARR": {
                                                                    "type": "number"
                                                                },
                                                                "maxARR": {
                                                                    "type": "number"
                                                                }
                                                            },
                                                            "required": ["minARR", "maxARR"]
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "status",
                                                        "productName",
                                                        "interval",
                                                        "currentPeriodStart",
                                                        "currentPeriodEnd",
                                                        "price",
                                                        "cancelAt",
                                                        "limits"
                                                    ]
                                                }
                                            },
                                            "required": ["customerId"]
                                        },
                                        "createdTime": {
                                            "type": ["string", "null"],
                                            "format": "date-time"
                                        },
                                        "createdUserId": {
                                            "type": ["string", "null"]
                                        },
                                        "lastUpdatedTime": {
                                            "type": ["string", "null"],
                                            "format": "date-time"
                                        },
                                        "lastUpdatedUserId": {
                                            "type": ["string", "null"]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "firestoreId",
                                        "name",
                                        "baseCurrency",
                                        "lastOverallUpdatedTime",
                                        "plShowPlanningPercentageForPastMonths",
                                        "plShowAllCategories",
                                        "systemStatus",
                                        "systemTrialUntil",
                                        "systemExpiredAt",
                                        "systemDeletionWarning",
                                        "systemSandboxExpireTime",
                                        "systemDeletionScheduledTime",
                                        "createdTime",
                                        "createdUserId",
                                        "lastUpdatedTime",
                                        "lastUpdatedUserId"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Company not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "required": ["error"]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies/{companyId}/users": {
            "get": {
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        },
                        "required": true,
                        "name": "companyId",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of users in the company",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            },
                                            "userId": {
                                                "type": "string"
                                            },
                                            "firebaseUserId": {
                                                "type": ["string", "null"]
                                            },
                                            "email": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": ["string", "null"]
                                            },
                                            "photoURL": {
                                                "type": ["string", "null"]
                                            },
                                            "role": {
                                                "type": "string",
                                                "enum": ["owner", "editor", "viewer"]
                                            },
                                            "lastSeenTime": {
                                                "type": ["string", "null"],
                                                "format": "date-time"
                                            }
                                        },
                                        "required": [
                                            "id",
                                            "userId",
                                            "firebaseUserId",
                                            "email",
                                            "name",
                                            "photoURL",
                                            "role",
                                            "lastSeenTime"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies/{companyId}/users/{userId}/role": {
            "put": {
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        },
                        "required": true,
                        "name": "companyId",
                        "in": "path"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        },
                        "required": true,
                        "name": "userId",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "role": {
                                        "type": "string",
                                        "enum": ["owner", "editor", "viewer"],
                                        "description": "The role assigned to a user within the system. Owner = full access incl. company settings, billing, and user management; editor = read/write on data; viewer = read-only. The role is also used as the default permission preset and as a non-permission marker (e.g. notifications are sent to all owners). For granular API access control, see PermissionSchema."
                                    },
                                    "permissions": {
                                        "type": ["array", "null"],
                                        "items": {
                                            "type": "string",
                                            "enum": [
                                                "subscriptions:read",
                                                "subscriptions:write",
                                                "customers:read",
                                                "customers:write",
                                                "vendors:read",
                                                "vendors:write",
                                                "accounts:read",
                                                "accounts:write",
                                                "transactions:read",
                                                "transactions:write",
                                                "balances:read",
                                                "balances:write",
                                                "financials:read",
                                                "financials:write",
                                                "users:manage",
                                                "api_keys:manage",
                                                "integrations:manage",
                                                "company:manage"
                                            ],
                                            "description": "A granular permission in the form `<resource>:<action>`. Stored on companiesUsers and companiesApiKeys. When a grant has `permissions: null` it means unrestricted (legacy behavior derived from role)."
                                        }
                                    }
                                },
                                "required": ["role"]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User role updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": ["success"]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Cannot edit own membership",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "required": ["error"]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found in company",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "required": ["error"]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies/{companyId}/users/{userId}": {
            "delete": {
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        },
                        "required": true,
                        "name": "companyId",
                        "in": "path"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        },
                        "required": true,
                        "name": "userId",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User removed from company",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": ["success"]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Cannot remove self",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "required": ["error"]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies/{companyId}/account_groups": {
            "get": {
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        },
                        "required": true,
                        "name": "companyId",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of account groups",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "format": "uuid"
                                            },
                                            "companyId": {
                                                "type": "string",
                                                "format": "uuid"
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "The name of the account group."
                                            },
                                            "archived": {
                                                "type": "boolean",
                                                "description": "Flag indicating if the account group is archived."
                                            },
                                            "order": {
                                                "type": "number",
                                                "minimum": -8388608,
                                                "maximum": 8388607,
                                                "description": "A number used for ordering account groups in the UI."
                                            },
                                            "createdTime": {
                                                "type": ["string", "null"],
                                                "format": "date-time"
                                            },
                                            "createdUserId": {
                                                "type": ["string", "null"]
                                            },
                                            "lastUpdatedTime": {
                                                "type": ["string", "null"],
                                                "format": "date-time"
                                            },
                                            "lastUpdatedUserId": {
                                                "type": ["string", "null"]
                                            }
                                        },
                                        "required": [
                                            "id",
                                            "companyId",
                                            "name",
                                            "archived",
                                            "order",
                                            "createdTime",
                                            "createdUserId",
                                            "lastUpdatedTime",
                                            "lastUpdatedUserId"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        },
                        "required": true,
                        "name": "companyId",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "minLength": 1
                                    },
                                    "archived": {
                                        "type": "boolean",
                                        "default": false
                                    },
                                    "order": {
                                        "type": "number"
                                    }
                                },
                                "required": ["name", "order"]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created account group",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "companyId": {
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "The name of the account group."
                                        },
                                        "archived": {
                                            "type": "boolean",
                                            "description": "Flag indicating if the account group is archived."
                                        },
                                        "order": {
                                            "type": "number",
                                            "minimum": -8388608,
                                            "maximum": 8388607,
                                            "description": "A number used for ordering account groups in the UI."
                                        },
                                        "createdTime": {
                                            "type": ["string", "null"],
                                            "format": "date-time"
                                        },
                                        "createdUserId": {
                                            "type": ["string", "null"]
                                        },
                                        "lastUpdatedTime": {
                                            "type": ["string", "null"],
                                            "format": "date-time"
                                        },
                                        "lastUpdatedUserId": {
                                            "type": ["string", "null"]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "companyId",
                                        "name",
                                        "archived",
                                        "order",
                                        "createdTime",
                                        "createdUserId",
                                        "lastUpdatedTime",
                                        "lastUpdatedUserId"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies/{companyId}/account_groups/{accountGroupId}": {
            "get": {
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        },
                        "required": true,
                        "name": "companyId",
                        "in": "path"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        },
                        "required": true,
                        "name": "accountGroupId",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account group details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "companyId": {
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "The name of the account group."
                                        },
                                        "archived": {
                                            "type": "boolean",
                                            "description": "Flag indicating if the account group is archived."
                                        },
                                        "order": {
                                            "type": "number",
                                            "minimum": -8388608,
                                            "maximum": 8388607,
                                            "description": "A number used for ordering account groups in the UI."
                                        },
                                        "createdTime": {
                                            "type": ["string", "null"],
                                            "format": "date-time"
                                        },
                                        "createdUserId": {
                                            "type": ["string", "null"]
                                        },
                                        "lastUpdatedTime": {
                                            "type": ["string", "null"],
                                            "format": "date-time"
                                        },
                                        "lastUpdatedUserId": {
                                            "type": ["string", "null"]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "companyId",
                                        "name",
                                        "archived",
                                        "order",
                                        "createdTime",
                                        "createdUserId",
                                        "lastUpdatedTime",
                                        "lastUpdatedUserId"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Account group not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "required": ["error"]
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        },
                        "required": true,
                        "name": "companyId",
                        "in": "path"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        },
                        "required": true,
                        "name": "accountGroupId",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "minLength": 1
                                    },
                                    "archived": {
                                        "type": "boolean"
                                    },
                                    "order": {
                                        "type": "number"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated account group",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "companyId": {
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "The name of the account group."
                                        },
                                        "archived": {
                                            "type": "boolean",
                                            "description": "Flag indicating if the account group is archived."
                                        },
                                        "order": {
                                            "type": "number",
                                            "minimum": -8388608,
                                            "maximum": 8388607,
                                            "description": "A number used for ordering account groups in the UI."
                                        },
                                        "createdTime": {
                                            "type": ["string", "null"],
                                            "format": "date-time"
                                        },
                                        "createdUserId": {
                                            "type": ["string", "null"]
                                        },
                                        "lastUpdatedTime": {
                                            "type": ["string", "null"],
                                            "format": "date-time"
                                        },
                                        "lastUpdatedUserId": {
                                            "type": ["string", "null"]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "companyId",
                                        "name",
                                        "archived",
                                        "order",
                                        "createdTime",
                                        "createdUserId",
                                        "lastUpdatedTime",
                                        "lastUpdatedUserId"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Account group not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "required": ["error"]
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        },
                        "required": true,
                        "name": "companyId",
                        "in": "path"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        },
                        "required": true,
                        "name": "accountGroupId",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account group deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": ["success"]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies/{companyId}/account_groups/reorder": {
            "put": {
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        },
                        "required": true,
                        "name": "companyId",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "accountGroupIds": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "minLength": 1
                                        }
                                    }
                                },
                                "required": ["accountGroupIds"]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Order updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": ["success"]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies/{companyId}/account_groups/merge": {
            "post": {
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        },
                        "required": true,
                        "name": "companyId",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "accountGroupIds": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "minLength": 1
                                        }
                                    },
                                    "newAccountGroup": {
                                        "type": "object",
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "archived": {
                                                "type": "boolean",
                                                "default": false
                                            },
                                            "order": {
                                                "type": "number"
                                            }
                                        },
                                        "required": ["name", "order"]
                                    }
                                },
                                "required": ["accountGroupIds", "newAccountGroup"]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Account groups merged",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "companyId": {
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "The name of the account group."
                                        },
                                        "archived": {
                                            "type": "boolean",
                                            "description": "Flag indicating if the account group is archived."
                                        },
                                        "order": {
                                            "type": "number",
                                            "minimum": -8388608,
                                            "maximum": 8388607,
                                            "description": "A number used for ordering account groups in the UI."
                                        },
                                        "createdTime": {
                                            "type": ["string", "null"],
                                            "format": "date-time"
                                        },
                                        "createdUserId": {
                                            "type": ["string", "null"]
                                        },
                                        "lastUpdatedTime": {
                                            "type": ["string", "null"],
                                            "format": "date-time"
                                        },
                                        "lastUpdatedUserId": {
                                            "type": ["string", "null"]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "companyId",
                                        "name",
                                        "archived",
                                        "order",
                                        "createdTime",
                                        "createdUserId",
                                        "lastUpdatedTime",
                                        "lastUpdatedUserId"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies/{companyId}/accounts": {
            "get": {
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        },
                        "required": true,
                        "name": "companyId",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of accounts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "format": "uuid"
                                            },
                                            "companyId": {
                                                "type": "string",
                                                "format": "uuid"
                                            },
                                            "type": {
                                                "type": "string",
                                                "enum": ["bank", "cash", "creditCard", "loan", "other"],
                                                "description": "The type of account: bank, cash, creditCard, loan, or other."
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "The name of the account."
                                            },
                                            "accountNumber": {
                                                "type": ["string", "null"],
                                                "description": "The bank account number. Null if not provided."
                                            },
                                            "includeInCashBalance": {
                                                "type": "boolean",
                                                "description": "Whether this account should be included in cash balance calculations and cash flow reports."
                                            },
                                            "accountGroupId": {
                                                "type": ["string", "null"],
                                                "format": "uuid",
                                                "description": "The ID of the account group this account belongs to. Null if not part of any group."
                                            },
                                            "archived": {
                                                "type": "boolean",
                                                "description": "Flag indicating if the account is archived and should be hidden from most views."
                                            },
                                            "expectedAnnualReturn": {
                                                "type": ["number", "null"],
                                                "minimum": -8388608,
                                                "maximum": 8388607,
                                                "description": "The expected annual return percentage for this account, if applicable."
                                            },
                                            "order": {
                                                "type": "number",
                                                "minimum": -8388608,
                                                "maximum": 8388607,
                                                "description": "A number used for ordering accounts in the UI."
                                            },
                                            "defaultCurrency": {
                                                "type": "string",
                                                "enum": [
                                                    "EUR",
                                                    "AUD",
                                                    "BRL",
                                                    "CAD",
                                                    "CHF",
                                                    "CNY",
                                                    "CZK",
                                                    "DKK",
                                                    "GBP",
                                                    "HKD",
                                                    "HUF",
                                                    "IDR",
                                                    "ILS",
                                                    "INR",
                                                    "ISK",
                                                    "JPY",
                                                    "KRW",
                                                    "MXN",
                                                    "MYR",
                                                    "NOK",
                                                    "NZD",
[...]
