<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>com.cristian.raycast-standing-desk-helper</string>
  <key>CFBundleName</key>
  <string>Standing Desk Bluetooth Helper</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>Standing Desk uses Bluetooth to read and change your desk height.</string>
  <key>NSBluetoothPeripheralUsageDescription</key>
  <string>Standing Desk uses Bluetooth to read and change your desk height.</string>
</dict>
</plist>
