# Ignore everything
*

# But not these directories...
!/.gitignore
!/assets/

# Except the ones we want to track
!/CHANGELOG.md
!/package.json
!/README.md
!src/common.ts
!src/executeReaction.ts
!src/tempCodeRunnerFile.ts
!src/trigger-custom-reaction.ts
!src/trigger-preset-reaction.ts