# Ignore everything
*

# But not these directories...
!/.gitignore
!/src/
!/assets/

# ...and not these files
!/CHANGELOG.md
!/package.json
!/README.md

# Explicitly ignore all files in directories
/src/*
/assets/*

# Except the ones we want to track
!/src/constants.ts
!/src/executeReaction.ts
!/src/index.ts
