# Ignore everything
*

# But not these files or directories...
!.gitignore
!assets/
!CHANGELOG.md
!package.json
!README.md
!src/
# Ignore specific files in the src/ directory
src/*.log
src/tempCodeRunnerFile.ts
