# Dependencies
node_modules/

# Build output
dist/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.production

# Temporary files
*.tmp
*.temp
