{
  "printWidth": 100,
  "singleQuote": false,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": ["<BUILTIN_MODULES>", "", "<THIRD_PARTY_MODULES>", "", "^~/", "", "^[.]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
