<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>__BUNDLE_ID__</string>
    <key>ProgramArguments</key>
    <array>
        <string>__WATCHER_BIN__</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>__WATCHER_OUT__</string>
    <key>StandardErrorPath</key>
    <string>__WATCHER_ERR__</string>
</dict>
</plist>
