# Dependencies
node_modules/

# Build output
dist/

# npm cache
.npm-cache/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local
