# Dependencies
node_modules/

# Raycast specific files
raycast-env.d.ts
.raycast-swift-build
.swiftpm
compiled_raycast_swift

# Build output
dist/

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# IDE
.vscode/
.idea/
