{
  "openapi": "3.0.2",
  "info": {
    "title": "Lunch Money API - v2",
    "description": "## Overview\nWelcome to the Lunch Money v2 API. \n\nA working version of this API is now available through these docs, or directly at:\n\n`https://alpha.lunchmoney.dev/v2`\n\n**This service has only had internal testing so users are strongly encouraged to create a test budget with example data as the first step to interacting with the v2 API.**\nSee the [Getting Started Guide](https://alpha.lunchmoney.dev/v2/getting-started) for more information.\n\nIf you are new to the v2 API, you may wish to review the [v2 API Overview of Changes](https://alpha.lunchmoney.dev/v2/migration-guide).\n\n### Static Mock Server\n\nYou may also use these docs to explore the API using a static mock server endpoint.<p> \nThis enables users to become familiar with the API without having to create an access token, and eliminates the possibility of modifying real data. <p>\nTo access this endpoint select the second endpoint in the the \"Server\" dropdown to the right. When selected you should see \"Static Mock v2 Lunch Money API Server\".<br>\nWhen using this server, set your Bearer token to any string with 11 or more characters.\n\n### Migrating from V1\n\nThe v2 API is NOT backwards compatible with the v1 API. Developers are encouraged to review the [Migration Guide](https://alpha.lunchmoney.dev/v2/migration-guide) to understand the changes and plan their migration.\n\n### Acknowledgments\n\nIf you have been providing feedback on the API during our iterative design process, **THANK YOU**. We are happy to provide the opportunity to finally interact with the working API that was built based on your feedback.\n\n### Useful links:\n- [Getting Started](https://alpha.lunchmoney.dev/v2/getting-started)\n- [v2 API Changelog](https://alpha.lunchmoney.dev/v2/changelog)\n- [Migration Guide](https://alpha.lunchmoney.dev/v2/migration-guide)\n- [Rate Limits](https://alpha.lunchmoney.dev/v2/rate-limits)\n- [Current v1 Lunch Money API Documentation](https://lunchmoney.dev)\n- [Awesome Lunch Money Projects](https://github.com/lunch-money/awesome-lunchmoney?tab=readme-ov-file)",
    "termsOfService": "https://lunchmoney.dev/#current-status",
    "contact": {
      "email": "devsupport@lunchmoney.app"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "2.8.2"
  },
  "servers": [
    {
      "url": "https://api.lunchmoney.dev/v2",
      "description": "v2 Lunch Money API Server - modifies real data!"
    },
    {
      "url": "https://alpha.lunchmoney.dev/v2",
      "description": "Static Mock v2 Lunch Money API Server"
    }
  ],
  "tags": [
    {
      "name": "me",
      "description": "Access details and settings about the current user and account"
    },
    {
      "name": "categories",
      "description": "Access to categories",
      "externalDocs": {
        "description": "Learn more about categories",
        "url": "https://support.lunchmoney.app/setup/categories"
      }
    },
    {
      "name": "manual_accounts",
      "description": "Access to manual accounts (formerly called assets)",
      "externalDocs": {
        "description": "Learn more about manual accounts",
        "url": "https://support.lunchmoney.app/setup/linked-accounts#how-are-manually-managed-account-balances-updated"
      }
    },
    {
      "name": "plaid_accounts",
      "description": "Access to accounts synced via Plaid",
      "externalDocs": {
        "description": "Learn more about synced accounts",
        "url": "https://support.lunchmoney.app/setup/linked-accounts#how-often-should-i-expect-new-transactions-to-get-imported"
      }
    },
    {
      "name": "recurring_items",
      "description": "Access to recurring items",
      "externalDocs": {
        "url": "https://support.lunchmoney.app/finances/recurring-items"
      }
    },
    {
      "name": "tags",
      "description": "Access to tags",
      "externalDocs": {
        "description": "Learn more about tags",
        "url": "https://support.lunchmoney.app/setup/tags"
      }
    },
    {
      "name": "transactions",
      "description": "Access to transactions",
      "externalDocs": {
        "description": "Learn more about transactions",
        "url": "https://support.lunchmoney.app/finances/transactions"
      }
    },
    {
      "name": "transactions (bulk)",
      "description": "Bulk Access to transactions",
      "externalDocs": {
        "description": "Learn more about transactions",
        "url": "https://support.lunchmoney.app/finances/transactions"
      }
    },
    {
      "name": "transactions (group)",
      "description": "Group or ungroup transactions",
      "externalDocs": {
        "description": "Learn more about transactions",
        "url": "https://support.lunchmoney.app/finances/transactions"
      }
    },
    {
      "name": "transactions (split)",
      "description": "Split or unsplit transactions",
      "externalDocs": {
        "description": "Learn more about transactions",
        "url": "https://support.lunchmoney.app/finances/transactions"
      }
    },
    {
      "name": "transactions (files)",
      "description": "Manage transaction file attachments",
      "externalDocs": {
        "description": "Learn more about transactions",
        "url": "https://support.lunchmoney.app/finances/transactions"
      }
    },
    {
      "name": "summary",
      "description": "Access to a summary of the user's budget"
    }
  ],
  "components": {
    "schemas": {
      "userObject": {
        "properties": {
          "name": {
            "type": "string",
            "description": "User's name"
          },
          "email": {
            "type": "string",
            "description": "User's email"
          },
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "Unique identifier for user"
          },
          "account_id": {
            "type": "integer",
            "format": "int64",
            "description": "Unique identifier for the associated budgeting account"
          },
          "budget_name": {
            "type": "string",
            "description": "Name of the associated budgeting account"
          },
          "primary_currency": {
            "description": "Primary currency from user's settings",
            "allOf": [
              {
                "$ref": "#/components/schemas/currencyEnum"
              }
            ]
          },
          "api_key_label": {
            "type": "string",
            "nullable": true,
            "description": "User-defined label of the developer API key used. Returns null if nothing has been set."
          }
        },
        "required": [
          "name",
          "email",
          "id",
          "account_id",
          "budget_name",
          "primary_currency",
          "api_key_label"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "categoryObject": {
        "type": "object",
        "title": "category object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "nullable": false,
            "description": "A system defined unique identifier for the category."
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "The name of the category.",
            "minLength": 1,
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "The description of the category or `null` if not set.",
            "maxLength": 200
          },
          "is_income": {
            "type": "boolean",
            "nullable": false,
            "description": "If `true`, the transactions in this category will be treated as income. (See <a href=\"https://support.lunchmoney.app/setup/categories/category-properties\">Category Properties</a> for more details)"
          },
          "exclude_from_budget": {
            "type": "boolean",
            "nullable": false,
            "description": "If `true`, the transactions in this category will be excluded from the budget. (See <a href=\"https://support.lunchmoney.app/setup/categories/category-properties\">Category Properties</a> for more details)"
          },
          "exclude_from_totals": {
            "type": "boolean",
            "nullable": false,
            "description": "If `true`, the transactions in this category will be excluded from totals. (See <a href=\"https://support.lunchmoney.app/setup/categories/category-properties\">Category Properties</a> for more details)"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "description": "The date and time of when the category was last updated (in the ISO 8601 extended format)."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "description": "The date and time of when the category was created (in the ISO 8601 extended format)."
          },
          "group_id": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "The ID of the category group this category belongs to or `null` if the category doesn't belong to a group, or is itself a category group."
          },
          "is_group": {
            "type": "boolean",
            "description": "If `true`, the category is created as a category group."
          },
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/childCategoryObject"
            },
            "description": "For category groups, this will populate with details about the categories that belong to this group. The objects in this array are similar to Category Objects but do not include the `is_income`, `exclude_from_budget`, and `exclude_from_totals` properties as these are inherited from the category group. In addition, the `is_group` property will always be `false`, and there will be no `children` attribute."
          },
          "archived": {
            "type": "boolean",
            "description": "If true, the category is archived and not displayed in relevant areas of the Lunch Money app."
          },
          "archived_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "The date and time of when the category was last archived (in the ISO 8601 extended format)."
          },
          "order": {
            "type": "integer",
            "nullable": true,
            "default": null,
            "description": "An integer specifying the position in which the category is displayed on the categories page in the Lunch Money GUI. For categories within a category group the order is relative to the other categories within the group.<br>Categories with `order: null` will be displayed in alphabetical order by name, prior to any categories with an order"
          },
          "collapsed": {
            "type": "boolean",
            "nullable": false,
            "default": false,
            "description": "If `true`, the category is collapsed in the Lunch Money GUI."
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "is_income",
          "exclude_from_budget",
          "exclude_from_totals",
          "updated_at",
          "created_at",
          "group_id",
          "is_group",
          "archived",
          "archived_at",
          "order",
          "collapsed"
        ]
      },
      "childCategoryObject": {
        "type": "object",
        "x-internal": true,
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "nullable": false,
            "description": "A system defined unique identifier for the category."
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "The name of the category.",
            "minLength": 1,
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "The description of the category or `null` if not set.",
            "maxLength": 200
          },
          "is_income": {
            "type": "boolean",
            "nullable": false,
            "description": "If true, the transactions in this category will be treated as income. Inherited from Category Group."
          },
          "exclude_from_budget": {
            "type": "boolean",
            "nullable": false,
            "description": "If true, the transactions in this category will be excluded from the budget. Inherited from Category Group."
          },
          "exclude_from_totals": {
            "type": "boolean",
            "nullable": false,
            "description": "If true, the transactions in this category will be excluded from totals. Inherited from Category Group."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "description": "The date and time of when the category was last updated (in the ISO 8601 extended format)."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "description": "The date and time of when the category was created (in the ISO 8601 extended format)."
          },
          "group_id": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "The ID of the category group this category belongs to or `null` if the category doesn't belong to a group, or is itself a category group."
          },
          "is_group": {
            "type": "boolean",
            "enum": [
              false
            ],
            "description": "Will always be false for a category that is part of category group."
          },
          "archived": {
            "type": "boolean",
            "description": "If true, the category is archived and not displayed in relevant areas of the Lunch Money app."
          },
          "archived_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "The date and time of when the category was last archived (in the ISO 8601 extended format)."
          },
          "order": {
            "type": "integer",
            "nullable": true,
            "description": "An index specifying the position in which the category is displayed on the categories page in the Lunch Money GUI. For categories within a category group the order is relative to the other categories within the group.<br> API."
          },
          "collapsed": {
            "type": "boolean",
            "nullable": true,
            "description": "If `true`, the category is collapsed in the Lunch Money GUI."
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "is_income",
          "exclude_from_budget",
          "exclude_from_totals",
          "updated_at",
          "created_at",
          "group_id",
          "is_group",
          "archived",
          "archived_at",
          "order"
        ]
      },
      "createCategoryRequestObject": {
        "type": "object",
        "additionalProperties": false,
        "x-internal": true,
        "properties": {
          "name": {
            "type": "string",
            "nullable": false,
            "description": "The name of the new category. Must be between 1 and 100 characters.\nMust not match the name of any existing categories or category groups.",
            "minLength": 1,
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "nullable": true,
            "default": null,
            "description": "The description of the category. Must not exceed 200 characters.",
            "minLength": 0,
            "maxLength": 200
          },
          "is_income": {
            "type": "boolean",
            "nullable": false,
            "default": false,
            "description": "If `true`, the transactions in this category will be treated as income. (See <a href=\"https://support.lunchmoney.app/setup/categories/category-properties\">Category Properties</a> for more details)"
          },
          "exclude_from_budget": {
            "type": "boolean",
            "nullable": false,
            "default": false,
            "description": "If `true`, the transactions in this category will be excluded from the budget. (See <a href=\"https://support.lunchmoney.app/setup/categories/category-properties\">Category Properties</a> for more details)"
          },
          "exclude_from_totals": {
            "type": "boolean",
            "nullable": false,
            "default": false,
            "description": "If `true`, the transactions in this category will be excluded from totals. (See <a href=\"https://support.lunchmoney.app/setup/categories/category-properties\">Category Properties</a> for more details)"
          },
          "is_group": {
            "type": "boolean",
            "nullable": false,
            "default": false,
            "description": "If `true`, the category is created as a category group."
          },
          "group_id": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "default": null,
            "description": "If set to the ID of an existing category group, this new category will be assigned to that group. Cannot be set if `is_group` is true."
          },
          "archived": {
            "type": "boolean",
            "default": false,
            "description": "If `true`, the category is archived and not displayed in relevant areas of the Lunch Money app."
          },
          "children": {
            "type": "array",
            "nullable": false,
            "description": "The list of existing category objects, or existing category IDs or names of new categories to add to the new category group. This attribute should only be set if `is_group` is also set to true.<br> The categories or IDs specified must already exist and may not be category groups themselves. Categories that already belong to another category group will be moved. If strings are specified, they will be used as the names of new categories that will be added to the new category group. The request will fail if any names are the same as the name of an existing category.<br> It is permissible to provide both full category objects and IDs as well as strings for names in the same request.",
            "items": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "ID of an existing category."
                },
                {
                  "type": "string",
                  "description": "Name of a new child category to be created.",
                  "maxLength": 100
                },
                {
                  "$ref": "#/components/schemas/categoryObject"
                }
              ]
            }
          },
          "order": {
            "type": "integer",
            "nullable": true,
            "description": "An index specifying the position in which the category is displayed on the categories page in the Lunch Money GUI. For categories within a category group the order is relative to the other categories within the group.<br>While this property can be set via the API it is generally set by the user in the Lunch Money GUI. API."
          },
          "collapsed": {
            "type": "boolean",
            "nullable": true,
            "description": "If `true`, the category is collapsed in the Lunch Money GUI.<br>While this property can be set via the API it is generally set by the user in the Lunch Money GUI."
          }
        },
        "required": [
          "name"
        ]
      },
      "updateCategoryRequestObject": {
        "type": "object",
        "x-internal": true,
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "nullable": false,
            "description": "If set, the new name of the category. Must be between 1 and 100 characters.",
            "minLength": 1,
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "If set, the new description of the category. Must not exceed 200 characters.",
            "minLength": 0,
            "maxLength": 200
          },
          "is_income": {
            "type": "boolean",
            "nullable": false,
            "description": "If set, will indicate if this category will be treated as income. (See <a href=\"https://support.lunchmoney.app/setup/categories/category-properties\">Category Properties</a> for more details)"
          },
          "exclude_from_budget": {
            "type": "boolean",
            "nullable": false,
            "description": "If set, will indicate if this category will be excluded from budgets. (See <a href=\"https://support.lunchmoney.app/setup/categories/category-properties\">Category Properties</a> for more details)"
          },
          "exclude_from_totals": {
            "type": "boolean",
            "nullable": false,
            "description": "If set, will indicate if this category will be excluded from totals. (See <a href=\"https://support.lunchmoney.app/setup/categories/category-properties\">Category Properties</a> for more details)"
          },
          "archived": {
            "type": "boolean",
            "description": "If set, will indicate if this category is archived."
          },
          "group_id": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "If set to the ID of an existing category group, and this category is not itself a category group, this category will be a child of the specified group."
          },
          "is_group": {
            "type": "boolean",
            "nullable": true,
            "default": false,
            "description": "This attribute may not be set to a value that is different than the current status of the category or category group. In other words, this API may not be used to convert a category to a category group or vice versa."
          },
          "children": {
            "type": "array",
            "nullable": false,
            "description": "The list of existing category objects, or existing category IDs or names of new categories to add to the new category group. This attribute should only be set if modifying an existing category group.<br> The categories or IDs specified must already exist and not belong to an existing category group. Categories that already belong to another category group will be moved. If strings are specified, they will be used as the names of new categories that will be added to the new category group. The request will fail if any names are the same as the name of an existing category.<br> It is permissible to provide both full category objects and IDs as well as strings for names in the same request.",
            "items": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "ID of an existing category."
                },
                {
                  "type": "string",
                  "description": "Name of a new child category to be created.",
                  "maxLength": 100
                },
                {
                  "$ref": "#/components/schemas/categoryObject"
                }
              ]
            }
          },
          "order": {
            "type": "integer",
            "nullable": true,
            "description": "An index specifying the position in which the category is displayed on the categories page in the Lunch Money GUI. For categories within a category group the order is relative to the other categories within the group.<br>While this property can be set via the API it is generally set by the user in the Lunch Money GUI. API."
          },
          "collapsed": {
            "type": "boolean",
            "nullable": true,
            "description": "If `true`, the category is collapsed in the Lunch Money GUI.<br>While this property can be set via the API it is generally set by the user in the Lunch Money GUI."
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "System defined unique identifier for the category. Ignored if set."
          },
          "archived_at": {
            "type": "string",
            "nullable": true,
            "description": "System set date and time of when the category was last archived (in the ISO 8601 extended format). Ignored if set."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "description": "System set date and time of when the category was last updated (in the ISO 8601 extended format). Ignored if set."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "description": "System set date and time of when the category was created (in the ISO 8601 extended format). Ignored if set. (in the ISO 8601 extended format). Ignored if set."
          }
        }
      },
      "deleteCategoryResponseWithDependencies": {
        "type": "object",
        "x-internal": true,
        "additionalProperties": false,
        "properties": {
          "category_name": {
            "type": "string",
            "description": "The name of the category"
          },
          "dependents": {
            "type": "object",
            "properties": {
              "budget": {
                "type": "integer",
                "description": "The number of budgets depending on the category"
              },
              "category_rules": {
                "type": "integer",
                "description": "The number of category rules depending on the category"
              },
              "transactions": {
                "type": "integer",
                "description": "The number of transactions depending on the category"
              },
              "children": {
                "type": "integer",
                "description": "The number of child categories in the category group"
              },
              "recurring": {
                "type": "integer",
                "description": "The number of recurring transactions depending on the category"
              },
              "plaid_cats": {
                "type": "integer",
                "description": "The number of auto created categories based on Plaid categories"
              }
            },
            "required": [
              "budget",
              "category_rules",
              "transactions",
              "children",
              "recurring",
              "plaid_cats"
            ]
          }
        },
        "required": [
          "category_name",
          "dependents"
        ]
      },
      "transactionObject": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "System created unique identifier for transaction"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "Date of transaction in ISO 8601 format"
          },
          "amount": {
            "type": "string",
            "description": "Amount of the transaction in numeric format to 4 decimal places. Positive values indicate a debit transaction, negative values indicate a credit transaction."
          },
          "currency": {
            "description": "Three-letter lowercase currency code of the transaction in ISO 4217 format.",
            "allOf": [
              {
                "$ref": "#/components/schemas/currencyEnum"
              }
            ]
          },
          "to_base": {
            "type": "number",
            "format": "double",
            "description": "The amount converted to the user's primary currency. If the multi-currency feature is not being used, to_base and amount will be the same. Positive values indicate a debit transaction, negative values indicate a credit transaction."
          },
          "recurring_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "The unique identifier of the associated recurring item that this transaction matched."
          },
          "payee": {
            "type": "string",
            "description": "Name of payee set by the user, the financial institution, or by \na matched recurring item. This will match the value \ndisplayed in payee field on the transactions page in the GUI.\n",
            "minLength": 0,
            "maxLength": 140
          },
          "category_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "Unique identifier of associated category set by the user or by a matched recurring_item.<br> Category details can be obtained by passing the value of this property to the [Get A Single Category](../operations/getCategoryById) API"
          },
          "plaid_account_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "The unique identifier of the plaid account associated with this transaction. This will always be null if this transaction is associated with a manual account or if this transaction has no associated account and appears as a \"Cash Transaction\" in the Lunch Money GUI."
          },
          "manual_account_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "The unique identifier of the manual account associated with this transaction. This will always be null if this transaction is associated with a synced account or if this transaction has no associated account and appears as a \"Cash Transaction\" in the Lunch Money GUI."
          },
          "external_id": {
            "type": "string",
            "nullable": true,
            "description": "A user-defined external ID for any transaction that was added via csv import, `POST /transactions` API call, or manually added via the Lunch Money GUI. No external ID exists for transactions associated with synced accounts, and they cannot be added. For transactions associated with manual accounts, the external ID must be unique as attempts to add a subsequent transaction with the same external_id and manual_account_id will be flagged as duplicates and fail.",
            "minLength": 0,
            "maxLength": 75
          },
          "tag_ids": {
            "type": "array",
            "nullable": false,
            "description": "A list of tag_ids for the tags associated with this transaction. If the transaction has no tags this will be an empty list.<br> Tag details can be obtained by passing the value of this attribute as the `ids` query parameter to the [List Tags](../operations/getTags) API",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "notes": {
            "type": "string",
            "nullable": true,
            "description": "Any transaction notes set by the user or by \na matched recurring item. This will match the value \ndisplayed in notes field on the transactions page in the GUI.\n",
            "minLength": 0,
            "maxLength": 350
          },
          "status": {
            "type": "string",
            "description": "Status of the transaction:\n- `reviewed`: User has reviewed the transaction, or it was automatically marked as reviewed due to reviewed recurring_item logic\n- `unreviewed`: User has not reviewed the transaction and it does not match any reviewed recurring_items. Note that any transactions  where `is_pending` is true will be returned with a status of unreviewed.\n- `delete_pending`: The synced account deleted this transaction after it was updated by the user. Requires manual intervention.\n",
            "enum": [
              "reviewed",
              "unreviewed",
              "delete_pending"
            ]
          },
          "is_pending": {
            "type": "boolean",
            "description": "Denotes if the transaction is pending (not posted). Applies only to transactions in synced accounts and will always be false for transactions associated with manual accounts."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time of when the transaction was created (in the ISO 8601 extended format)."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time of when the transaction was last updated (in the ISO 8601 extended format)."
          },
          "is_parent": {
            "type": "boolean",
            "description": "If `true`, this transaction has been split into two or more other transactions. By default, parent transactions are not returned in call to `GET /transactions` but they can be queried directly by their ID."
          },
          "parent_id": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "A transaction ID if this is a split transaction. Denotes the transaction ID of the original, or parent, transaction. Is null if this is not a split transaction"
          },
          "is_group": {
            "type": "boolean",
            "description": "`true` if this transaction represents a group of transactions. If so, amount and currency represent the totalled amount of transactions bearing this transaction's id as their group_id. Amount is calculated based on the user's primary currency."
          },
          "group_id": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "Is set if this transaction is part of a group. Denotes the ID of the grouped transaction this is now included in. By default the transactions that were grouped are not returned in a call to `GET /transactions` but they can be queried directly by calling the `GET /transactions/group/{id}`, where the id passed is associated with a transaction where the `is_group` attribute is true"
          },
          "children": {
            "type": "array",
            "nullable": false,
            "items": {
              "$ref": "#/components/schemas/childTransactionObject"
            },
            "description": "Exists only for transactions which are the parent of a split transaction or for transaction groups. It will not exist in the response unless the `include_children` query parameter is set to `true`.<br> For parents of split transactions, it contains a list of the associated transactions that it was split into. For transaction groups, it contains the transactions that were grouped together. Examine the `is_parent` and `is_group` properties to determine which of these it is."
          },
          "plaid_metadata": {
            "type": "object",
            "nullable": true,
            "description": "If requested, the transaction's plaid_metadata that came when this transaction was obtained. This will be a json object, but the schema is variable. This is only present when the `include_metadata` query parameter is set to true."
          },
          "custom_metadata": {
            "type": "object",
            "nullable": true,
            "description": "If requested, the transaction's custom_metadata that was included when the transaction was inserted via the API. This will be a json object, but the schema is variable. This is only present when the `include_metadata` query parameter is set to true."
          },
          "files": {
            "type": "array",
            "nullable": false,
            "description": "A list of objects that describe any attachments to the Transactions. This is only present when the `include_files` query parameter is set to true.",
            "items": {
              "$ref": "#/components/schemas/transactionAttachmentObject"
            }
          },
          "source": {
            "type": "string",
            "nullable": true,
            "description": "Source of the transaction:\n- `api`: Transaction was added by a call to the [POST /transactions](../operations/createTransaction) API\n- `csv`: Transaction was added via a CSV Import\n- `manual`: Transaction was created via the \"Add to Cash\" button on the Transactions page\n- `merge`: Transactions were originally in an account that was merged into another account\n- `plaid`: Transaction came from a Financial Institution synced via Plaid\n- `recurring`: Transaction was created from the Recurring page \n- `rule`: Transaction was created by a rule to split a transaction\n- `split`: Transaction was created by splitting another transaction\n- `user`: This is a legacy value and is replaced by either csv or manual\n",
            "enum": [
              "api",
              "csv",
              "manual",
              "merge",
              "plaid",
              "recurring",
              "rule",
              "split",
              "user"
            ]
          }
        },
        "required": [
          "id",
          "date",
          "amount",
          "currency",
          "to_base",
          "recurring_id",
          "payee",
          "category_id",
          "notes",
          "status",
          "is_pending",
          "created_at",
          "updated_at",
          "parent_id",
          "is_group",
          "group_id",
          "manual_account_id",
          "plaid_account_id",
          "tag_ids",
          "source",
          "external_id"
        ]
      },
      "childTransactionObject": {
        "type": "object",
        "x-internal": true,
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "System created unique identifier for transaction"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "Date of transaction in ISO 8601 format"
          },
          "amount": {
            "type": "string",
            "description": "Amount of the transaction in numeric format to 4 decimal places. Positive values indicate a debit transaction, negative values indicate a credit transaction."
          },
          "currency": {
            "description": "Three-letter lowercase currency code of the transaction in ISO 4217 format",
            "allOf": [
              {
                "$ref": "#/components/schemas/currencyEnum"
              }
            ]
          },
          "to_base": {
            "type": "number",
            "format": "double",
            "description": "The amount converted to the user's primary currency. If the transaction currency is the same as the user's primary currency, to_base and amount will be the same. Positive values indicate a debit transaction, negative values indicate a credit transaction."
          },
          "recurring_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "The unique identifier of the associated recurring item that this transaction matched."
          },
          "payee": {
            "type": "string",
            "description": "Name of payee set by the user, the financial institution, or by \na matched recurring item. This will match the value \ndisplayed in payee field on the transactions page in the GUI.\n",
            "minLength": 0,
            "maxLength": 140
          },
          "category_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "Unique identifier of associated category set by the user or by a matched recurring item.<br> Category details can be obtained by passing the value of this property to the [Get A Single Category](../operations/getCategoryById) API"
          },
          "notes": {
            "type": "string",
            "nullable": true,
            "description": "Any transaction notes set by the user or by \na matched recurring item. This will match the value \ndisplayed in notes field on the transactions page in the GUI.\n",
            "minLength": 0,
            "maxLength": 350
          },
          "status": {
            "type": "string",
            "description": "Status of the transaction.  Will be one of the following values:\n",
            "x-enumDescriptions": {
              "reviewed": "User has reviewed the transaction, or it was automatically marked as reviewed due to reviewed recurring item logic",
              "unreviewed": "User has not reviewed the transaction and it does not match any reviewed recurring_items. Note that any transactions where `is_pending` is true will be returned with a status of unreviewed.",
              "delete_pending": "The synced account deleted this transaction after it was updated by the user. Requires manual intervention."
            },
            "enum": [
              "reviewed",
              "unreviewed",
              "delete_pending"
            ]
          },
          "is_pending": {
            "type": "boolean",
            "description": "Denotes if the transaction is pending (not posted). Applies only to transactions in synced accounts and will always be false for transactions associated with manual accounts."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time of when the transaction was created (in the ISO 8601 extended format)."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time of when the transaction was last updated (in the ISO 8601 extended format)."
          },
          "is_parent": {
            "type": "boolean",
            "description": "If true this transaction has been split into two or more other transactions. By default parent transactions are not returned in call to `GET /transactions` but they can be queried directly by their ID."
          },
          "parent_id": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "A transaction ID if this is a split transaction. Denotes the transaction ID of the original, or parent, transaction. Is null if this is not a split transaction"
          },
          "is_group": {
            "type": "boolean",
            "description": "True if this transaction represents a group of transactions. If so, amount and currency represent the totalled amount of transactions bearing this transaction's id as their group_id. Amount is calculated based on the user's primary currency."
          },
          "group_id": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "Is set if this transaction is part of a group. Denotes the ID of the grouped transaction this is now included in. By default the transactions that were grouped are not returned in a call to `GET /transactions` but they can be queried directly by calling the `GET /transactions/group/{id}`, where the id passed is associated with a transaction where the `is_group` attribute is true"
          },
          "manual_account_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "The unique identifier of the manual account associated with this transaction. This will always be null if this transaction is associated with a synced account or if this transaction has no associated account and appears as a \"Cash Transaction\" in the Lunch Money GUI."
          },
          "plaid_account_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "The unique identifier of the plaid account associated with this transaction. This will always be null if this transaction is associated with a manual account or if this transaction has no associated account and appears as a \"Cash Transaction\" in the Lunch Money GUI."
          },
          "tag_ids": {
            "type": "array",
            "nullable": false,
            "description": "A list of tag_ids for the tags associated with this transaction. If the transaction has no tags this will be an empty list.<br> Tag details can be obtained by passing the value of this attribute as the `ids` query parameter to the [List Tags](../operations/getTags) API",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "source": {
            "type": "string",
            "nullable": true,
            "description": "Source of the transaction:\n- `api`: Transaction was added by a call to the [POST /transactions](../operations/createTransaction) API\n- `csv`: Transaction was added via a CSV Import\n- `manual`: Transaction was created via the \"Add to Cash\" button on the Transactions page\n- `merge`: Transactions were originally in an account that was merged into another account\n- `plaid`: Transaction came from a Financial Institution synced via Plaid\n- `recurring`: Transaction was created from the Recurring page \n- `rule`: Transaction was created by a rule to split a transaction\n- `split`: This is a transaction created by splitting another transaction\n- `user`: This is a legacy value and is replaced by either csv or manual\n",
            "enum": [
              "api",
              "csv",
              "manual",
              "merge",
              "plaid",
              "recurring",
              "rule",
              "split",
              "user"
            ]
          },
          "external_id": {
            "type": "string",
            "nullable": true,
            "description": "A user-defined external ID for any transaction that was added via csv import, `POST /transactions` API call, or manually added via the Lunch Money GUI. No external ID exists for transactions associated with synced accounts, and they cannot be added. For transactions associated with manual accounts, the external ID must be unique as attempts to add a subsequent transaction with the same external_id and manual_account_id will be flagged as duplicates and fail.",
            "minLength": 0,
            "maxLength": 75
          },
          "plaid_metadata": {
            "type": "object",
            "nullable": true,
            "description": "If requested, the transaction's plaid_metadata that came when this transaction was obtained. This will be a json object, but the schema is variable. This will only be present for transactions associated with a plaid account."
          },
          "custom_metadata": {
            "type": "object",
            "nullable": true,
            "description": "If requested, the transaction's custom_metadata that was included when the transaction was inserted via the API. This will be a json object, but the schema is variable."
          },
          "files": {
            "type": "array",
            "nullable": false,
            "description": "A list of objects that describe any attachments to the transaction",
            "items": {
              "$ref": "#/components/schemas/transactionAttachmentObject"
            }
          }
        },
        "required": [
          "id",
          "date",
          "amount",
          "currency",
          "to_base",
          "recurring_id",
          "payee",
          "category_id",
          "notes",
          "status",
          "is_pending",
          "created_at",
          "updated_at",
          "parent_id",
          "is_group",
          "group_id",
          "manual_account_id",
          "plaid_account_id",
          "tag_ids",
          "source",
          "external_id"
        ]
      },
      "insertTransactionObject": {
        "type": "object",
        "x-internal": true,
        "additionalProperties": false,
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "description": "Date of transaction in ISO 8601 format"
          },
          "amount": {
            "oneOf": [
              {
                "type": "number",
                "format": "double"
              },
              {
                "type": "string",
                "pattern": "^-?\\d+(\\.\\d{1,4})?$"
              }
            ],
            "description": "Numeric value of amount without currency symbol. i.e. $4.25 should be denoted as 4.25. May be a string or a number in double format. Positive values indicate a debit transaction, negative values indicate a credit transaction."
          },
          "currency": {
            "description": "Three-letter lowercase currency code of the transaction in ISO 4217 format. Must match one of the [supported currencies](). If not set defaults to the user account's primary currency.",
            "allOf": [
              {
                "$ref": "#/components/schemas/currencyEnum"
              }
            ]
          },
          "payee": {
            "type": "string",
            "description": "Name of payee for the transaction.",
            "minLength": 0,
            "maxLength": 140
          },
          "category_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "The ID of the category associated with the transactions. If set, the category ID must exist for the user's account and it cannot be a category group."
          },
          "notes": {
            "type": "string",
            "nullable": true,
            "description": "Any transaction notes set by the user or by \na matched recurring item. This will match the value \ndisplayed in notes field on the transactions page in the GUI.\n",
            "minLength": 0,
            "maxLength": 350
          },
          "manual_account_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "The Unique identifier for the associated manually managed account. If set, this must match an existing manual account id associated with the user's account. If not set, and `plaid_account_id` is also not set, no account is associated with the transaction and it will appear as a \"Cash Transaction\" in the Lunch Money GUI. It is an error if this, and `plaid_account_id` is also set on the same transaction."
          },
          "plaid_account_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "The Unique identifier for the associated plaid synced account. If set, this must match an existing plaid account id associated with the user's account. If not set, and `manual_account_id` is also not set, no account is associated with the transaction and it will appear as a \"Cash Transaction\" in the Lunch Money GUI. It is an error if this, and `manual_account_id` is also set on the same transaction. In addition the specified plaid account must have the \"Allow Modifications To Transactions\" property set (which is enabled by default), or the insert will fail."
          },
          "recurring_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "Unique identifier for associated recurring item. Recurring item must be associated with the same account."
          },
          "status": {
            "type": "string",
            "description": "If set must be either `reviewed` or `unreviewed`. If not set, defaults to `unreviewed`.",
            "enum": [
              "reviewed",
              "unreviewed"
            ]
          },
          "tag_ids": {
            "type": "array",
            "nullable": false,
            "description": "A list of IDs for the tags associated with this transaction. Each ID must match an existing tag associated with the user's account. If not set, no tags will be associated with the created transaction.",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "external_id": {
            "type": "string",
            "nullable": true,
            "description": "A user-defined external ID for the transaction. If set, and `manual_account_id` is set, the creation of the new transaction will fail if a transaction with this id already exists for the specified manual account.",
            "minLength": 0,
            "maxLength": 75
          },
          "custom_metadata": {
            "type": "object",
            "nullable": true,
            "description": "An optional JSON object that includes additional data related to this transaction. This must be a valid JSON object and, when stringified, must not exceed 4096 characters. This data may be available in the future for processing by rules.",
            "additionalProperties": true
          }
        },
        "required": [
          "date",
          "amount"
        ]
      },
      "updateTransactionObject": {
        "type": "object",
        "x-internal": true,
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "System defined unique identifier of this transaction. Ignored if set."
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "Date of transaction in ISO 8601 format"
          },
          "amount": {
            "oneOf": [
              {
                "type": "number",
                "format": "double"
              },
              {
                "type": "string",
                "pattern": "^-?\\d+(\\.\\d{1,4})?$"
              }
            ],
            "description": "Numeric value of amount without currency symbol. i.e. $4.25 should be denoted as 4.25. May be a string or a number in double format. Positive values indicate a debit transaction, negative values indicate a credit transaction. <br> May not be updated on transactions that belong to a synced account with the \"Allow Modifications to Transactions\" property disabled."
          },
          "currency": {
            "description": "Three-letter lowercase currency code of the transaction in ISO 4217 format.<br> May not be updated on transactions that belong to a synced account with the \"Allow Modifications to Transactions\" property disabled.",
            "allOf": [
              {
                "$ref": "#/components/schemas/currencyEnum"
              }
            ]
          },
          "recurring_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "The unique identifier of the associated recurring item that this transaction matches."
          },
          "payee": {
            "type": "string",
            "description": "The new payee for the transaction.\n",
            "minLength": 0,
            "maxLength": 140
          },
          "category_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "Unique identifier of the category for this transaction. Set this to null to clear the transaction's category."
          },
          "notes": {
            "type": "string",
            "nullable": true,
            "description": "New notes for the transaction. Set this to an empty string to clear the existing notes.\n",
            "minLength": 0,
            "maxLength": 350
          },
          "manual_account_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "The unique identifier of the manual account associated with this transaction. Set this to null to disassociate the transaction with an account. If set `plaid_account_id` may not also be set to a non null value. Moving an existing transaction to to another account will not work if the transaction belongs to a synced account who's \"Allow Modifications to Transactions\" property is not set."
          },
          "plaid_account_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "The unique identifier of the plaid account associated with this transaction. If set `manual_account_id` may not also be set to a non null value. Attempting to modify this on a transaction associated with a Plaid account will not work if the account's \"Allow Modifications to Transactions\" property is not set. Similarly, this cannot be set to an id associated with this type of locked Plaid account."
          },
          "tag_ids": {
            "type": "array",
            "nullable": false,
            "description": "A list of tag_ids for the tags associated with this transaction. If set, this property will overwrite any existing tags. Use `additional_tag_ids` to add tags to the existing transaction's tags. Set this to an empty array to remove all tags from a transaction. If set `additional_tag_ids` may not be set.",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "additional_tag_ids": {
            "type": "array",
            "nullable": false,
            "description": "A list of tag_ids for the tags associated with this transaction. If set, the tags listed in this property be added to any existing transaction tags. Use `tag_ids` to overwrite or clear transaction tags. If set `tag_ids` may not be set.",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "external_id": {
            "type": "string",
            "nullable": true,
            "description": "A user-defined external ID for the transaction. The update will fail if the transaction does not also have a `manual_account_id` or if there is already an existing transaction with the same `manual_account_id`/`external_id` combination.",
            "minLength": 0,
            "maxLength": 75
          },
          "custom_metadata": {
            "type": "object",
            "nullable": true,
            "description": "User defined JSON data that can be set or cleared via the API."
          },
          "status": {
            "type": "string",
            "description": "Status of the transaction, may be one of:\n- `reviewed`: User has reviewed the transaction, or it was automatically marked as reviewed due to reviewed recurring_item logic\n- `unreviewed`: User has not reviewed the transaction and it does not match any reviewed recurring_items.\n",
            "enum": [
              "reviewed",
              "unreviewed"
            ]
          },
          "to_base": {
            "type": "number",
            "format": "double",
            "description": "System defined amount of this transaction in the user's primary currency. Ignored if set."
          },
          "is_pending": {
            "type": "boolean",
            "description": "System defined flag set for pending transactions. Ignored if set."
          },
          "plaid_metadata": {
            "type": "object",
            "nullable": true,
            "description": "System set metadata from a Plaid account sync. Ignored if set."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "System defined date and time of when the transaction was created. Ignored if set."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "System defined date and time of when the transaction was last updated. Ignored if set."
          },
          "is_parent": {
            "type": "boolean",
            "description": "System defined boolean indicating if this transaction was split. To split or unsplit a transaction use the `/transactions/split` endpoint. Ignored if set."
          },
          "children": {
            "type": "array",
            "nullable": false,
            "items": {
              "$ref": "#/components/schemas/childTransactionObject"
            },
            "description": "An array of child transactions that exists when a transaction has been split or if the transaction is a group. Split and Grouped transactions may not be modified using this API. Ignored if set."
          },
          "parent_id": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "A transaction ID if this is a split transaction. Split transactions may not be modified this API. Use the `transactions/split` endpoint instead. Ignored if set."
          },
          "is_group": {
            "type": "boolean",
            "description": "System defined boolean indicating if this transaction represents a group of transactions. Grouped transactions may not be modified with this API. Use the `transactions/group` endpoint instead. Ignored if set."
          },
          "group_id": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "A transaction group ID if this transaction is part of a group. Grouped transactions may not be modified with this API. Use the `transactions/group` endpoint instead. Ignored if set."
          },
          "source": {
            "type": "string",
            "nullable": true,
            "description": "System defined original source of the transaction. Ignored if set.\n",
            "enum": [
              "api",
              "csv",
              "manual",
              "merge",
              "plaid",
              "recurring",
              "rule",
              "split",
              "user"
            ]
          }
        }
      },
      "splitTransactionObject": {
        "type": "object",
        "additionalProperties": false,
        "x-internal": true,
        "description": "The object representing a split transaction",
        "properties": {
          "amount": {
            "oneOf": [
              {
                "type": "number",
                "format": "double"
              },
              {
                "type": "string",
                "pattern": "^-?\\d+(\\.\\d{1,4})?$"
              }
            ],
            "description": "Individual amount of split. Currency will inherit from parent transaction. All amounts must sum up to parent transaction amount."
          },
          "payee": {
            "type": "string",
            "minLength": 0,
            "maxLength": 140,
            "description": "The payee for the child transaction. Will inherit the original payee from the parent if not defined."
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "Must be in ISO 8601 format (YYYY-MM-DD). Will inherit from the parent if not defined."
          },
          "category_id": {
            "type": "integer",
            "format": "int32",
            "description": "Unique identifier for associated category_id. Category must already exist for the account. Will inherit category from the parent if not defined."
          },
          "notes": {
            "type": "string",
            "maxLength": 350,
            "description": "Will inherit notes from parent if not defined."
          }
        },
        "required": [
          "amount"
        ]
      },
      "skippedExistingExternalIdObject": {
        "type": "object",
        "x-internal": true,
        "additionalProperties": false,
        "description": "The object returned when a new transaction has an external_id that already exists",
        "properties": {
          "reason": {
            "type": "string",
            "description": "The reason the transaction was skipped, may be one of:\n- `duplicate_external_id`: The transaction has the same `manual_account_id` and `external_id` as an existing transaction\n- `duplicate_payee_amount_date`: The `skip_duplicates` request body property was set to `true` and the transaction has the same `amount`, `payee`, and `date` as an existing transaction associated with the same account.\n",
            "enum": [
              "duplicate_external_id",
              "duplicate_payee_amount_date"
            ]
          },
          "request_transactions_index": {
            "type": "integer",
            "format": "int64",
            "description": "The  of the transaction in the request body's transactions array that was skipped."
          },
          "existing_transaction_id": {
            "type": "integer",
            "format": "int64",
            "description": "The id of the existing transactions that the requested transaction duplicates."
          },
          "request_transaction": {
            "type": "object",
            "description": "The requested transaction that was skipped.",
            "allOf": [
              {
                "$ref": "#/components/schemas/insertTransactionObject"
              }
            ]
          }
        }
      },
      "insertTransactionsResponseObject": {
        "type": "object",
        "additionalProperties": false,
        "description": "The object returned from a successful POST /transactions request",
        "properties": {
          "transactions": {
            "description": "An array of the inserted transactions.",
            "items": {
              "$ref": "#/components/schemas/transactionObject"
            },
            "type": "array"
          },
          "skipped_duplicates": {
            "description": "An array of the requested transactions that were duplicates of existing transactions and were not inserted.",
            "items": {
              "$ref": "#/components/schemas/skippedExistingExternalIdObject"
            },
            "type": "array"
          }
        },
        "required": [
          "transactions",
          "skipped_duplicates"
        ]
      },
      "transactionAttachmentObject": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "The unique identifier of the attachment"
          },
          "uploaded_by": {
            "type": "integer",
            "format": "int64",
            "description": "The id of the user who uploaded the attachment"
          },
          "name": {
            "type": "string",
            "description": "The name of the file"
          },
          "type": {
            "type": "string",
            "description": "The MIME type of the file"
          },
          "size": {
            "type": "integer",
            "description": "The size of the file in kilobytes"
          },
          "notes": {
            "type": "string",
            "nullable": true,
            "description": "Optional notes about the attachment"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the attachment was created in ISO 8601 format"
          }
        }
      },
      "manualAccountObject": {
        "type": "object",
        "additionalProperties": false,
        "description": "An object containing information about a manual account",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "The unique identifier of this account"
          },
          "name": {
            "type": "string",
            "description": "Name of the account",
            "minLength": 1,
            "maxLength": 45
          },
          "type": {
            "description": "Primary type of the account",
            "allOf": [
              {
                "$ref": "#/components/schemas/accountTypeEnum"
              }
            ]
          },
          "subtype": {
            "type": "string",
            "nullable": true,
            "description": "Optional account subtype. Examples include<br> - retirement - checking - savings - prepaid credit card",
            "minLength": 1,
            "maxLength": 100
          },
          "display_name": {
            "type": "string",
            "nullable": true,
            "description": "Optional display name for the account set by the user"
          },
          "balance": {
            "type": "string",
            "pattern": "^-?\\d+(\\.\\d{1,4})?$",
            "description": "Current balance of the account in numeric format to 4 decimal places."
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "description": "Three-letter lowercase currency code of the account balance"
          },
          "to_base": {
            "type": "number",
            "description": "The balance converted to the user's primary currency"
          },
          "balance_as_of": {
            "type": "string",
            "format": "date-time",
            "description": "Date balance was last updated in ISO 8601 extended format, can be in date or date-time format"
          },
          "closed_on": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "The date this account was closed. Will be null if the account has not been marked as closed"
          },
          "institution_name": {
            "type": "string",
            "nullable": true,
            "minLength": 1,
            "maxLength": 50,
            "description": "Name of institution holding the account"
          },
          "external_id": {
            "type": "string",
            "nullable": true,
            "minLength": 0,
            "maxLength": 75,
            "description": "An optional external_id that may be set or updated via the API"
          },
          "custom_metadata": {
            "type": "object",
            "nullable": true,
            "description": "User defined JSON data that can be set or cleared via the API.",
            "additionalProperties": true
          },
          "exclude_from_transactions": {
            "type": "boolean",
            "default": false,
            "description": "If true, this account will not show up as an option for assignment when creating transactions manually"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date/time the account was created in ISO 8601 extended format"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date/time the account was created in ISO 8601 extended format"
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "subtype",
          "display_name",
          "balance",
          "currency",
          "to_base",
          "balance_as_of",
          "closed_on",
          "institution_name",
          "external_id",
          "exclude_from_transactions",
          "created_at",
          "updated_at"
        ]
      },
      "createManualAccountRequestObject": {
        "type": "object",
        "additionalProperties": false,
        "x-internal": true,
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the manual account",
            "minLength": 1,
            "maxLength": 45,
            "example": "My Savings Account"
          },
          "type": {
            "description": "The type of manual account.",
            "allOf": [
              {
                "$ref": "#/components/schemas/accountTypeEnum"
              }
            ]
          },
          "subtype": {
            "type": "string",
            "description": "An optional manual account subtype. Examples include<br> - retirement - checking - savings - prepaid credit card",
            "minLength": 1,
            "maxLength": 100,
            "example": "prepaid credit card"
          },
          "display_name": {
            "type": "string",
            "description": "Display name of the manual account as set by user.<br> This must be unique for the budgeting account.  If not set, it will be derived from the `institution_name` (if any) plus `name`.",
            "example": "Savings"
          },
          "balance": {
            "oneOf": [
              {
                "type": "number",
                "format": "double"
              },
              {
                "type": "string",
                "pattern": "^-?\\d+(\\.\\d{1,4})?$"
              }
            ],
            "example": "195.50",
            "description": "Numeric value of the current balance, up to four decimal places, of the account as a number or string. Do not include any special characters aside from a decimal point."
          },
          "balance_as_of": {
            "type": "string",
            "oneOf": [
              {
                "format": "date-time"
              },
              {
                "format": "date"
              }
            ],
            "example": "2024-09-15",
            "description": "Date/time the balance of the manual account was last updated in ISO 8601 extended format"
          },
          "closed_on": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "example": "2024-10-01",
            "description": "The date this manual account was closed in YYYY-MM-DD format."
          },
          "currency": {
            "description": "Three-letter lowercase currency code of the transaction in ISO 4217 format",
            "allOf": [
              {
                "$ref": "#/components/schemas/currencyEnum"
              }
            ]
          },
          "institution_name": {
            "type": "string",
            "example": "Bank of the West",
            "description": "Name of institution holding the manual account",
            "minLength": 1,
            "maxLength": 50
          },
          "external_id": {
            "type": "string",
            "nullable": true,
            "minLength": 0,
            "maxLength": 75,
            "description": "An optional user-defined ID for the manual account"
          },
          "custom_metadata": {
            "type": "object",
            "nullable": true,
            "description": "An optional JSON object that includes additional data related to this account. This must be a valid JSON object and, when stringified, must not exceed 4096 characters.",
            "additionalProperties": true
          },
          "exclude_from_transactions": {
            "type": "boolean",
            "description": "If `true`, transactions may not be assigned to this manual account.",
            "default": false
          }
        },
        "required": [
          "name",
          "type",
          "balance"
        ]
      },
      "updateManualAccountRequestObject": {
        "type": "object",
        "x-internal": true,
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "System defined unique identifier of this account. Ignored if set."
          },
          "name": {
            "type": "string",
            "description": "If set, the new name of the manual account.",
            "minLength": 1,
            "maxLength": 45
          },
          "type": {
            "description": "If set, the new type of the manual account.",
            "allOf": [
              {
                "$ref": "#/components/schemas/accountTypeEnum"
              }
            ]
          },
          "subtype": {
            "type": "string",
            "description": "If set, an optional account subtype. Examples include<br> - retirement - checking - savings - prepaid credit card",
            "minLength": 1,
            "maxLength": 100
          },
          "display_name": {
            "type": "string",
            "nullable": true,
            "description": "If set, an optional display name for the manual account.<br> This must be unique for the user.  If not set, it will be derived from the `institution_name` (if any) concatenated with the `name`."
          },
          "balance": {
            "oneOf": [
              {
                "type": "number",
                "format": "double"
              },
              {
                "type": "string",
                "pattern": "^-?\\d+(\\.\\d{1,4})?$"
              }
            ],
            "example": "195.50",
            "description": "Numeric value of the current balance, up to four decimal places, of the manual account as a number or string. Do not include any special characters aside from a decimal point."
          },
          "balance_as_of": {
            "type": "string",
            "oneOf": [
              {
                "format": "date-time"
              },
              {
                "format": "date"
              }
            ],
            "description": "A new date for the `updated_at` property. May be set as a date, ie: YYYY-MM-DD, or date-time string in ISO 8601 extended format. This property is ignored if `balance` is not also set. If `balance` is set and this property is not set the current time is used."
          },
          "closed_on": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "If set, the date this manual account was closed in YYYY-MM-DD format."
          },
          "currency": {
            "description": "If set, the new three-letter lowercase currency code of the manual account balance.",
            "allOf": [
              {
                "$ref": "#/components/schemas/currencyEnum"
              }
            ]
          },
          "institution_name": {
            "type": "string",
            "nullable": true,
            "description": "If set, the name of institution holding the account.",
            "minLength": 1,
            "maxLength": 50
          },
          "external_id": {
            "type": "string",
            "nullable": true,
            "minLength": 0,
            "maxLength": 75,
            "description": "An optional user-defined ID for the manual account."
          },
          "custom_metadata": {
            "type": "object",
            "nullable": true,
            "description": "An optional JSON object that includes additional data related to this account. This must be a valid JSON object and, when stringified, must not exceed 4096 characters.",
            "additionalProperties": true
          },
          "exclude_from_transactions": {
            "type": "boolean",
            "description": "If set, transactions may not be assigned to this manual account."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "System defined date/time the account was created in ISO 8601 extended format. Ignored if set."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "System defined date/time the account was created in ISO 8601 extended format. Ignored if set."
          }
        }
      },
      "plaidAccountObject": {
        "type": "object",
        "additionalProperties": false,
        "description": "An object containing information about an account synced via Plaid",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "The unique identifier of this account"
          },
          "date_linked": {
            "type": "string",
            "format": "date",
            "description": "Date account was first linked in ISO 8601 format"
          },
          "name": {
            "type": "string",
            "description": "Name of the account. This field is set by Plaid and cannot be altered."
          },
          "display_name": {
            "type": "string",
            "nullable": true,
            "description": "Optional display name for the account set by the user. If not set, it will return a concatenated string of institution and account name."
          },
          "type": {
            "type": "string",
            "description": "Primary type of the account, such as `credit`, `depository`, etc. This field is set by Plaid and cannot be altered."
          },
          "subtype": {
            "type": "string",
            "description": "Optional account subtype. This field is set by Plaid and cannot be altered."
          },
          "mask": {
            "type": "string",
            "description": "Mask (last 3 to 4 digits of account) of account. This field is set by Plaid and cannot be altered."
          },
          "institution_name": {
            "type": "string",
            "description": "Name of institution holding the account. This field is set by Plaid and cannot be altered."
          },
          "status": {
            "type": "string",
            "description": "Denotes the current status of the account within Lunch Money. Must be one of<br> - `active`: Account is active and in good state<br> - `inactive`: Account marked inactive from user. Transaction imports and balance updates will not occur for this account.<br> - `relink`: Account needs to be relinked with Plaid.<br> - `syncing`: Account is awaiting first import of transactions. <br> - `not found`: Account cannot be found with Plaid<br> - `not supported`: Account is not supported with Plaid<br> - `error`: Account is in error with Plaid.<br>",
            "enum": [
              "active",
              "inactive",
              "relink",
              "syncing",
              "not found",
              "not supported",
              "error"
            ]
          },
          "allow_transaction_modifications": {
            "type": "boolean",
            "description": "If `false`, transactions imported for this synced account can have their properties (such as amount and account) be modified by the user. This option is managed in the web app."
          },
          "limit": {
            "type": "number",
            "nullable": true,
            "description": "Optional credit limit of the account. This field is set by Plaid and cannot be altered"
          },
          "balance": {
            "type": "string",
            "description": "Current balance of the account in numeric format to 4 decimal places. This field is set by Plaid and cannot be altered."
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "description": "Three-letter lowercase currency code of the account balance"
          },
          "to_base": {
            "type": "number",
            "description": "The account balance converted to the user's primary currency"
          },
          "balance_last_update": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date balance was last updated in ISO 8601 extended format. This field is set by Plaid and cannot be altered."
          },
          "import_start_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Date of earliest date allowed for importing transactions. Transactions earlier than this date are not imported."
          },
          "last_import": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp in ISO 8601 extended format of the last time Lunch Money imported new data from Plaid for this account."
          },
          "last_fetch": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp in ISO 8601 extended format of the last successful request from Lunch Money for updated data or timestamps from Plaid in ISO 8601 extended format (not necessarily date of last successful import)"
          },
          "plaid_last_successful_update": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp in ISO 8601 extended format of the last time Plaid successfully connected with institution for new transaction updates, regardless of whether any new data was available in the update."
          }
        },
        "required": [
          "id",
          "date_linked",
          "name",
          "display_name",
          "type",
          "subtype",
          "mask",
          "institution_name",
          "status",
          "allow_transaction_modifications",
          "limit",
          "balance",
          "currency",
          "to_base",
          "balance_last_update",
          "import_start_date",
          "last_import",
          "last_fetch",
          "plaid_last_successful_update"
        ]
      },
      "tagObject": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "Unique identifier for the tag."
          },
          "name": {
            "type": "string",
            "description": "Name of the tag."
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Description of the tag."
          },
          "text_color": {
            "type": "string",
            "nullable": true,
            "description": "The text color of the tag."
          },
          "background_color": {
            "type": "string",
            "nullable": true,
            "description": "The background color of the tag."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "description": "The date and time of when the tag was last updated (in the ISO 8601 extended format)."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "description": "The date and time of when the tag was created (in the ISO 8601 extended format)."
          },
          "archived": {
            "type": "boolean",
            "description": "If `true`, the tag will not show up when creating or updating transactions in the Lunch Money app. **Can it be assigned via the API**"
          },
          "archived_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "The date and time of when the tag was last archived or `null` if not archived"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "text_color",
          "background_color",
          "created_at",
          "updated_at",
          "archived",
          "archived_at"
        ]
      },
      "createTagRequestObject": {
        "type": "object",
        "additionalProperties": false,
        "x-internal": true,
        "properties": {
          "name": {
            "type": "string",
            "nullable": false,
            "description": "The name of the new tag. Must be between 1 and 100 characters.\nMust not match the name of any existing tags.",
            "minLength": 1,
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "nullable": true,
            "default": null,
            "description": "The description of the tag. Must not exceed 200 characters.",
            "maxLength": 200
          },
          "text_color": {
            "type": "string",
            "nullable": true,
            "description": "The text color of the tag."
          },
          "background_color": {
            "type": "string",
            "nullable": true,
            "description": "The background color of the tag."
          },
          "archived": {
            "type": "boolean",
            "default": false,
            "description": "If `true`, the tag is archived and not displayed in relevant areas of the Lunch Money app."
          }
        },
        "required": [
          "name"
        ]
      },
      "updateTagRequestObject": {
        "type": "object",
        "x-internal": true,
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "nullable": false,
            "description": "If set, the new name of the category. Must be between 1 and 100 characters.",
            "minLength": 1,
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "If set, the new description of the category. Must not exceed 200 characters.",
            "maxLength": 200
          },
          "text_color": {
            "type": "string",
            "nullable": true,
            "description": "The text color of the tag."
          },
          "background_color": {
            "type": "string",
            "nullable": true,
            "description": "The background color of the tag."
          },
          "archived": {
            "type": "boolean",
            "description": "If set, will indicate if this category is archived."
          },
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "System-defined unique identifier for the category. Ignored if set."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "description": "System-set time the tag was last updated. Ignored if set"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "description": "System-set time the tag was created. Ignored if set."
          },
          "archived_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "System-set time the tag was archived. Ignored if set."
          }
        }
      },
      "deleteTagResponseWithDependencies": {
        "type": "object",
        "x-internal": true,
        "additionalProperties": false,
        "properties": {
          "tag_name": {
            "type": "string",
            "description": "The name of the tag"
          },
          "dependents": {
            "type": "object",
            "properties": {
              "rules": {
                "type": "integer",
                "description": "The number of rules depending on the tag"
              },
              "transactions": {
                "type": "integer",
                "description": "The number of transactions with the tag"
              }
            },
            "required": [
              "rules",
              "transactions"
            ]
          }
        },
        "required": [
          "tag_name",
          "dependents"
        ]
      },
      "recurringObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "The unique identifier of this recurring item"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "An optional description of this recurring item."
          },
          "status": {
            "type": "string",
            "description": "The status of this recurring item. `suggested` recurring items are generated by Lunch Money, but only `reviewed` recurring items will be applied to matching transactions.",
            "enum": [
              "suggested",
              "reviewed"
            ]
          },
          "transaction_criteria": {
            "type": "object",
            "description": "The set of properties used to identify matching transactions.",
            "properties": {
              "start_date": {
                "type": "string",
                "format": "date",
                "nullable": true,
                "description": "The beginning of the date range for matching transactions. If `null`, any transactions before end_date may be considered."
              },
              "end_date": {
                "type": "string",
                "format": "date",
                "nullable": true,
                "description": "The end of the date range for matching transactions. If `null`, any transactions after start_date may be considered."
              },
              "granularity": {
                "type": "string",
                "description": "The unit of time used to define the cadence of the recurring item.",
                "enum": [
                  "day",
                  "week",
                  "month",
                  "year"
                ]
              },
              "quantity": {
                "type": "integer",
                "description": "The number of granularity units between each recurrence."
              },
              "anchor_date": {
                "type": "string",
                "format": "date",
                "nullable": false,
                "description": "The date used in conjunction with the `quantity` and `granularity` properties to calculate expected occurrences of recurring transactions."
              },
              "payee": {
                "type": "string",
                "nullable": true,
                "description": "If set, represents the original transaction payee name that triggered this recurring item's creation."
              },
              "amount": {
                "type": "string",
                "pattern": "^-?\\d+(\\.\\d{1,4})?$",
                "description": "The expected amount for a transaction that will match this recurring item. For recurring items that have a flexible amount this is the average of the specified min and max amounts."
              },
              "to_base": {
                "type": "number",
                "description": "The amount converted to the user's primary currency"
              },
              "currency": {
                "type": "string",
                "nullable": false,
                "description": "Three-letter lowercase currency code of the recurring item."
              },
              "plaid_account_id": {
                "type": "integer",
                "format": "int64",
                "nullable": true,
                "description": "The Plaid account ID associated with the recurring item, if any."
              },
              "manual_account_id": {
                "type": "integer",
                "format": "int64",
                "nullable": true,
                "description": "The manual account ID associated with the recurring item, if any."
              }
            },
            "required": [
              "start_date",
              "end_date",
              "granularity",
              "quantity",
              "anchor_date",
              "payee",
              "amount",
              "to_base",
              "currency",
              "plaid_account_id",
              "manual_account_id"
            ]
          },
          "overrides": {
            "type": "object",
            "description": "The values that will be applied to matching transactions.",
            "properties": {
              "payee": {
                "type": "string",
                "nullable": false,
                "description": "If present, the payee name that will be displayed for any matching transactions."
              },
              "notes": {
                "type": "string",
                "nullable": false,
                "description": "If present, the notes that will be displayed for any matching transactions."
              },
              "category_id": {
                "type": "integer",
                "nullable": false,
                "description": "If present, the ID of the category that matching transactions will be assigned to."
              }
            }
          },
          "matches": {
            "type": "object",
            "nullable": true,
            "description": "Details on expected, found and missing transactions for the specified range. This will be `null` for recurring items with a `status` of `suggested`.",
            "properties": {
              "request_start_date": {
                "type": "string",
                "format": "date",
                "description": "The beginning of the date range that this request used to find matching transactions."
              },
              "request_end_date": {
                "type": "string",
                "format": "date",
                "description": "The beginning of the date range that this request used to find matching transactions."
              },
              "expected_occurrence_dates": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "date"
                },
                "description": "A list of dates within the specified range where a recurring transactions is expected."
              },
              "found_transactions": {
                "type": "array",
                "description": "A list with the dates and IDs of matching transactions.",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string",
                      "format": "date",
                      "description": "The date for a matching transaction within the specified range."
                    },
                    "transaction_id": {
[...]
