# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# swift build artifacts
/swift/.build
/swift/.raycast-swift-build
/swift/Package.resolved
/assets/compiled_raycast_swift/

# misc
.DS_Store