# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# Raycast specific files
raycast-env.d.ts
.raycast-swift-build
.swiftpm
compiled_raycast_swift
compiled_raycast_rust

# misc
.DS_Store

# Created by https://www.toptal.com/developers/gitignore/api/kotlin,intellij,gradle
# Edit at https://www.toptal.com/developers/gitignore?templates=kotlin,intellij,gradle

node_modules
raycast-env.d.ts
