Refer to the following resources:
1. https://documentation.bamboohr.com/docs/getting-started
2. https://documentation.bamboohr.com/docs/api-details
3. https://documentation.bamboohr.com/reference/get-a-list-of-whos-out