name: Notify Contributors
on:
  pull_request:
    paths:
      - "extensions/**"
    branches: [main, master]

jobs:
  notify-contributors-on-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Setup Node.js
        uses: raycast/github-actions/setup-node@master

      - name: Get changed files in the docs folder
        id: changed-files
        uses: tj-actions/changed-files@v14.3
        with:
          files: |
            extensions/**

      - uses: actions/github-script@v5
        with:
          github-token: ${{ secrets.RAYCAST_BOT_API_ACCESS_TOKEN }}
          script: |
            const script = require('../../scripts/notify-contributors.js')
            await script({
              github,
              context,
              core,
              changedFiles: "${{ steps.changed-files.outputs.all_changed_files }}".split(' ')
            })

      - name: Notify Failure to Slack
        if: failure()
        uses: edge/simple-slack-notify@master
        with:
          color: "danger"
          text: ":no_entry_sign: ${env.GITHUB_WORKFLOW} has failed"
          fields: |
            [
              { "title": "Action logs:", "value": "${env.GITHUB_SERVER_URL}/${env.GITHUB_REPOSITORY}/actions/runs/${env.GITHUB_RUN_ID}"},
              { "title": "Commit:", "value": "${env.GITHUB_SERVER_URL}/${env.GITHUB_REPOSITORY}/commit/${ env.GITHUB_SHA }"}
            ]
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_RELEASE_CHANNEL_WEBHOOK_URL }}
