# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# build output
/dist

# environment files
.env
.env.local
.env.*.local

# Raycast specific files
raycast-env.d.ts

# misc
.DS_Store
